<mrc-head-content title="portale" subtitle="Systemadministrator"></mrc-head-content>

<div class="main-content">
    <mrc-table 
        [category]="'portals'"
        [statuses]="statuses" 
        [route]="'portals'" 
        [actions]="actions">
    </mrc-table>
</div>
