<mrc-head-content title="My Account"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form class="create-form" #account="ngForm" (ngSubmit)="create(account)">
                        <fieldset class="form-group mt-2">
                            <legend class="form-group-title "><i class="material-icons">account_box</i> Account</legend>

                            <mrc-form-item-field
                                label="Vorname:"
                                [id]="'name'"
                                [control]="account?.controls?.first_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="name"
                                    [(ngModel)]="accountInfo.first_name"
                                    placeholder="Vorname"
                                    name="first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Nachname:"
                                [id]="'surname'"
                                [control]="account?.controls?.last_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="surname"
                                    [(ngModel)]="accountInfo.last_name"
                                    placeholder="Nachname"
                                    name="last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Email:"
                                [id]="'email'"
                                [control]="account?.controls?.email">
                                <input class="form-control form-control-bg form-control-sm"
                                    [disabled]="true"
                                    id="email"
                                    [(ngModel)]="accountInfo.email"
                                    placeholder="Benutzer E-Mail"
                                    email
                                    name="email" required>
                            </mrc-form-item-field>

                            <div class="form-group">
                                <button
                                    class="btn btn-sm btn-default"
                                    (click)="togglePassword($event)"
                                    *ngIf="hidePassword">
                                    <i class="material-icons">
                                        lock_outline
                                    </i> Passwort andern
                                </button>
                            </div>


                            <div *ngIf="!hidePassword">
                                <mrc-form-item-field
                                    label="Passwort:"
                                    [id]="'password'"
                                    [control]="account?.controls?.password">
                                    <input class="form-control form-control-bg form-control-sm"
                                        id="passwort"
                                        type="password"
                                        [(ngModel)]="accountInfo.password"
                                        placeholder="Password"
                                        name="password"
                                        required
                                        validateEqual="password_confirmation"
                                        #password="ngModel"
                                        reverse="true"
                                        password>
                                </mrc-form-item-field>

                                <mrc-form-item-field
                                    label="Passwort wiederholen:"
                                    [id]="'password_confirmation'"
                                    [control]="account?.controls?.password_confirmation">
                                    <input class="form-control form-control-bg form-control-sm"
                                        id="password_confirmation"
                                        type="password"
                                        [(ngModel)]="accountInfo.password_confirmation"
                                        placeholder="Passwort wiederholen"
                                        name="password_confirmation"
                                        #confirmPassword="ngModel"
                                        validateEqual="password"
                                        required>
                                </mrc-form-item-field>
                                <p>
                                    <small><a href="#" (click)="togglePassword($event)">cancel change password</a></small>
                                </p>
                            </div>

                            <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Absenden
                                </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
