@import '../../../styles';

.header {
    background: $white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $lightGrey;
    position: relative;
}

app-header-search {
    width: 100%;
}
