<mrc-head-content title="Feedback" subtitle="{{userInfo['first_name']}} {{userInfo['last_name']}}"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-6 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form class="feedback-form" #createFeedback="ngForm" (ngSubmit)="create(createFeedback)">
                        <fieldset class="form-group form-group-mt">
                            <mrc-form-item-field
                                label="Kategorie:"
                                [id]="'category'"
                                [control]="createFeedback?.controls?.category_id">
                                <ng-select [items]="feedbackCategory"
                                    bindValue="id"
                                    bindLabel="name"
                                    [clearable]="false"
                                    [searchable]="false"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="feedback.category_id"
                                    placeholder="Kategorie"
                                    name="category_id"
                                    required>
                                </ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Nachricht:"
                                [id]="'message'"
                                [control]="createFeedback?.controls?.body">
                                <textarea class="form-control form-control-bg"
                                    id="message"
                                    required
                                    [(ngModel)]="feedback.body"
                                    placeholder="Bitte schreiben Sie hier Ihre Nachricht"
                                    name="body"></textarea>
                            </mrc-form-item-field>

                            <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                    <span *ngIf="!submitProcess">
                                        Absenden
                                    </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
