<div class="wrapper">
    <mrc-head-content [link]="'../../contracts'" [title]="contractTitle" [titleId]="contract?.number" subtitle="Systemadministrator">
        <div class="btn-wrap d-flex flex-column flex-sm-row align-items-stretch align-items-sm-end mt-1 ml-lg-auto">
            <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="export()">
                <i class="material-icons">file_download</i>
                Exportieren
            </button>
            <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="print()">
                <i class="material-icons">print</i>
                Drucken
            </button>
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-md-6 col-xl-4 col-xxl-3">
                <mrc-user [user]="user"></mrc-user>
                <mrc-product [product]="product" [productSize]="contract.product_size"></mrc-product>
            </div>
            <div class="col-md-6 col-xl-8 col-xxl-6">
                <mrc-detail [contract]="contract" [leasing]="leasing" [product]="product"></mrc-detail>
            </div>
        </div>
    </div>
</div>
