<div class="wrapper">
    <mrc-head-content [link]="link" [title]="orderTitle" [titleId]="order?.number" subtitle="Systemadministrator">
    </mrc-head-content>
    <div class="main-content">
        <form (ngSubmit)="create(editOrderDetail)" #editOrderDetail="ngForm" class="form-table">
            <div class="row align-items-xl-stretch">
                <div class="col-xl-4">
                    <mrc-user [user]="user"></mrc-user>
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body">
                            <h3>
                                <i class="material-icons">motorcycle</i>
                                Produkt
                            </h3>
                            <div class="product-image">
                                <mrc-image *ngIf="product?.image" [src]="product?.image"
                                    [alt]="product?.name"></mrc-image>
                            </div>
                            <div class="product-name">{{product?.name}}</div>
                            <dl class="row mb-0 align-items-center">
                                <dt class="col-xl-6 col-sm-4">Kategorie:</dt>
                                <dd class="col-xl-6 col-sm-8" [innerHTML]="product?.category?.name"></dd>
                                <dt class="col-xl-6 col-sm-4">Lieferant:</dt>
                                <dd class="col-xl-6 col-sm-8" [innerHTML]="product?.supplier?.name"></dd>
                                <dt class="col-xl-6 col-sm-4">Größe:</dt>
                                <dd class="col-xl-6 col-sm-8">
                                    <mrc-form-item-field
                                        [control]="editOrderDetail?.controls?.product_size">
                                        <ng-select
                                            name="product_size"
                                            [items]="sizeList"
                                            [clearable]="false"
                                            [searchable]="false"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="order.product_size"
                                            placeholder="Größe" required>
                                        </ng-select>
                                    </mrc-form-item-field>
                                </dd>
                                <dt class="col-xl-6 col-sm-4">Beschribung:</dt>
                                <dd class="col-xl-12 col-sm-12" [innerHTML]="product?.description"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card h-100">
                        <div class="card-body">
                            <div *ngIf="order">
                                <h3>
                                    <i class="material-icons">info_outline</i>
                                    Bestellungsdetails
                                </h3>
                                <dl class="row">
                                    <dt class="col-sm-4">Bestellungs-ID:</dt>
                                    <dd class="col-sm-8">#{{ order?.number }}</dd>
                                    <dt class="col-sm-4">Datum der Bestellung:</dt>
                                    <dd class="col-sm-8">{{ order?.date }}</dd>
                                    <dt class="col-sm-4">Status:</dt>
                                    <dd class="col-sm-8">
                                        <mrc-status [statusCode]="order?.status"></mrc-status>
                                    </dd>
                                </dl>
                            </div>
                            <div *ngIf="contract">
                                <h3>
                                    <i class="material-icons">info_outline</i>
                                    Vertragsdetails
                                </h3>
                                <dl class="row">
                                    <dt class="col-sm-4">Vertragsnummer:</dt>
                                    <dd class="col-sm-8">{{ contract?.number }}</dd>
                                    <dt class="col-sm-4">Startdatum:</dt>
                                    <dd class="col-sm-8">{{ contract?.created_at }}</dd>
                                    <dt class="col-sm-4">Enddatum:</dt>
                                    <dd class="col-sm-8">{{ contract?.end_date }}</dd>
                                    <dt class="col-sm-4">Status:</dt>
                                    <dd class="col-sm-8">
                                        <mrc-status [statusCode]="contract?.status"></mrc-status>
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <h3>
                                    <i class="material-icons">subject</i>
                                    Leasingkonditionen
                                </h3>
                                <dl class="row align-items-center">
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Vereinbarter Kaupreis:"
                                            [control]="editOrderDetail?.controls?.agreed_purchase_price">
                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                placeholder="Vereinbarter Kaupreis"
                                                name="agreed_purchase_price"
                                                [(ngModel)]="order.agreed_purchase_price"
                                                required number maxlength="9">
                                        </mrc-form-item-field>
                                    </dt>
                                    <dd class="col-sm-8 mt-xl-4"> EUR (zzgl.MwSt.)</dd>
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Leasingrate:"
                                            [control]="editOrderDetail?.controls?.leasing_rate">
                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                placeholder="Firmenname eingeben"
                                                name="leasing_rate"
                                                [(ngModel)]="order.leasing_rate"
                                                number maxlength="9"
                                                required>
                                        </mrc-form-item-field>
                                    </dt>
                                    <dd class="col-sm-8 mt-xl-4">EUR/Monat (zzgl.MwSt.)</dd>
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Versicherung:"
                                            [control]="editOrderDetail?.controls?.insurance">
                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                placeholder="Firmenname eingeben"
                                                name="insurance"
                                                [(ngModel)]="order.insurance"
                                                number maxlength="9"
                                                required>
                                        </mrc-form-item-field>
                                    </dt>
                                    <dd class="col-sm-8 mt-xl-4">EUR/Monat (zzgl.MwSt.)</dd>
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Kalkulierter Restwert:"
                                            [control]="editOrderDetail?.controls?.calculated_residual_value">
                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                placeholder="Firmenname eingeben"
                                                name="calculated_residual_value"
                                                [(ngModel)]="order.calculated_residual_value"
                                                number maxlength="9"
                                                required>
                                        </mrc-form-item-field>
                                    </dt>
                                    <dd class="col-sm-8 mt-xl-4">EUR (zzgl.MwSt.)
                                    </dd>
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Laufzeit:"
                                            [control]="editOrderDetail?.controls?.leasing_period">
                                            <ng-select
                                                name="leasing_period"
                                                bindValue="id"
                                                bindLabel="name"
                                                [items]="leasingList"
                                                [clearable]="false"
                                                [searchable]="false"
                                                class="ng-select-sm ng-select-bg"
                                                [(ngModel)]="order.leasing_period" placeholder="Laufzeit"
                                                required></ng-select>
                                        </mrc-form-item-field>
                                    </dt>
                                    <dd class="col-sm-8 mt-xl-4"></dd>
                                    <dt class="col-sm-4 mb-0">
                                        <mrc-form-item-field
                                            label="Status:"
                                            [control]="editOrderDetail?.controls?.status">
                                            <ng-select
                                                name="status"
                                                [items]="statusesList"
                                                [clearable]="false"
                                                [searchable]="false"
                                                class="ng-select-sm ng-select-bg"
                                                [(ngModel)]="order.status" placeholder="Status"
                                                required></ng-select>
                                        </mrc-form-item-field>
                                    </dt>
                                </dl>
                            </div>
                            <div class="d-flex flex-column flex-sm-row justify-content-sm-end">
                                <a [routerLink]="'/admin/' + link" class="btn btn-default mb-3 mb-sm-0 mr-sm-3">Stornieren</a>
                                <button type="submit" class="btn btn-primary" [disabled]="submitProcess">
                                    <span *ngIf="!submitProcess">
                                        Speichern
                                    </span>
                                    <i class="material-icons fa-spin" *ngIf="submitProcess">
                                        autorenew
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
