<div class="card h-100">
    <div class="card-body">
        <div *ngIf="order">
            <h3>
                <i class="material-icons">info_outline</i>
                Bestellungsdetails
            </h3>
            <dl class="row">
                <dt class="col-6 col-sm-4">Bestellungs-ID:</dt>
                <dd class="col-6 col-sm-8">#{{ order?.number }}</dd>
                <dt class="col-6 col-sm-4">Datum der Bestellung:</dt>
                <dd class="col-6 col-sm-8">{{ order?.date }}</dd>
                <dt class="col-6 col-sm-4">Status:</dt>
                <dd class="col-6 col-sm-8"><mrc-status [statusCode]="order?.status"></mrc-status></dd>
            </dl>
        </div>
        <div *ngIf="contract">
            <h3>
                <i class="material-icons">info_outline</i>
                Vertragsdetails
            </h3>
            <dl class="row">
                <dt class="col-6 col-sm-4">Vertragsnummer:</dt>
                <dd class="col-6 col-sm-8">{{ contract?.number }}</dd>
                <dt class="col-6 col-sm-4">Startdatum:</dt>
                <dd class="col-6 col-sm-8">{{ contract?.start_date }}</dd>
                <dt class="col-6 col-sm-4">Enddatum:</dt>
                <dd class="col-6 col-sm-8">{{ contract?.end_date }}</dd>
                <dt class="col-6 col-sm-4">Lieferant:</dt>
                <dd class="col-6 col-sm-8">{{ product?.supplier?.name }}</dd>
                <dt class="col-6 col-sm-4">Status:</dt>
                <dd class="col-6 col-sm-8"><mrc-status [statusCode]="contract?.status"></mrc-status></dd>
            </dl>
        </div>
        <div>
            <h3>
                <i class="material-icons">subject</i>
                Leasingkonditionen
            </h3>
            <dl class="row mb-0">
                <dt class="col-6 col-sm-4">Vereinbarter Kaupreis:</dt>
                <dd class="col-6 col-sm-8">{{ leasing?.agreed_purchase_price | number:'.2' }} EUR (zzgl.MwSt.)</dd>
                <dt class="col-6 col-sm-4">Leasingrate:</dt>
                <dd class="col-6 col-sm-8">{{ leasing?.leasing_rate | number:'.2'}} EUR/Monat (zzgl.MwSt.)</dd>
                <dt class="col-6 col-sm-4">Versicherung:</dt>
                <dd class="col-6 col-sm-8">{{ leasing?.insurance| number:'.2' }} EUR/Monat (zzgl.MwSt.)</dd>
                <dt class="col-6 col-sm-4">Kalkulierter Restwert:</dt>
                <dd class="col-6 col-sm-8">{{ leasing?.calculated_residual_value| number:'.2' }} EUR (zzgl.MwSt.)</dd>
                <dt class="col-6 col-sm-4">Laufzeit:</dt>
                <dd class="col-6 col-sm-8">{{ leasing?.leasing_period }} Monate</dd>
            </dl>
        </div>
    </div>
</div>
