<div class="wrapper">
    <mrc-head-content [link]="'../../suppliers'" [title]="supplierInfo.name" [titleId]="supplierInfo?.code" subtitle="Systemadministrator">
        <div class="w-100">
            <div *ngIf="!formStatus" class="btn-wrap">
                <button class="btn btn-default btn-sm btn-wrap-item" (click)="toggleForm()">
                    <i class="material-icons">content_copy</i>
                    Duplicate supplier
                </button>
                <a [routerLink]="'edit'" class="btn btn-primary btn-sm btn-wrap-item">
                    <i class="material-icons">mode_edit</i>
                    Bearbeiten
                </a>
            </div>
            <div *ngIf="formStatus">
                <form #duplicateSupplier="ngForm" (ngSubmit)="duplicate(duplicateSupplier)" class="mt-4 mt-lg-0 form-horizontal-flex flex-column flex-sm-row align-items-stretch align-items-sm-end">
                    <mrc-form-item-field class="w-100 mr-0 mr-sm-4 mb-2 mb-sm-0"
                        label="Portal name:"
                        [id]="'portal'"
                        [control]="duplicateSupplier?.controls?.portal">
                        <ng-select [items]="portals"
                            bindValue="id"
                            bindLabel="name"
                            [clearable]="false" [searchable]="false"
                            class="ng-select-sm ng-select-bg"
                            [(ngModel)]="duplicateSupplierObj.portal_id" placeholder="Firmen auswahlen"
                            name="portal"
                            required></ng-select>
                    </mrc-form-item-field>
                    <button class="btn btn-primary btn-sm btn-wrap-item mr-0 mr-sm-4 mb-2 mb-sm-0">
                        <i class="material-icons">check</i>
                        Duplicate
                    </button>
                    <button type="reset" (click)="toggleForm()" class="btn btn-default btn-sm btn-wrap-item">
                        <i class="material-icons">close</i>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row">
            <div [ngClass]="'col-lg-4'">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">error_outline</i>
                            Lieferanten Infos
                        </h3>
                        <dl class="row mb-0 mt-3">
                            <dt class="col-xl-5 col-sm-4 col-6">ID:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.code}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Name:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">USt - IdNr:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.vat}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Adresse:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.address}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Stadt:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.city?.name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Telefonnr.:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.phone}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Anzahl Miarbeiter:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.employees_count}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Status:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6"><mrc-status [statusCode]="supplierInfo?.status"></mrc-status></dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Lieferant seit:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.active_from }}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Hauptbenutzer:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.admin_first_name}} {{supplierInfo?.admin_last_name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">E-Mail des Hauptbenutzers:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">
                                <a [href]="'mailto:' + supplierInfo?.admin_email">{{supplierInfo?.admin_email}}</a>
                            </dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Portals:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">
                                <div *ngFor="let i of supplierInfo?.portals">
                                    {{i.name}}
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div [ngClass]="'col-lg-8'">
                <div class="row">
                   <!-- <div [ngClass]="'col-lg-6'">
                        <mrc-card [title]="'Leasinganfragen'">
                            <mrc-card-chart></mrc-card-chart>
                        </mrc-card>
                    </div>
                    <div [ngClass]="'col-lg-6'">
                        <mrc-card [title]="'Leasinganfragen'">
                            <mrc-card-chart></mrc-card-chart>
                        </mrc-card>
                    </div>-->
                    <div [ngClass]="'col-lg-6'">
                        <mrc-card [title]="'Produkte je Lieferant'" [menuOff]="true">
                            <mrc-card-list [dataTable]="product"></mrc-card-list>
                        </mrc-card>
                    </div>
                    <div [ngClass]="'col-lg-6'">
                        <mrc-card [title]="'Mitarbeiter je Unternehmen'" [menuOff]="true">
                            <mrc-card-list [dataTable]="firma"></mrc-card-list>
                        </mrc-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
