<mrc-head-content title="Benutzer verwalten">
    <div class="btn-wrap d-flex flex-column flex-sm-row align-items-start align-items-sm-end mt-1 ml-lg-auto">
        <a routerLink="../add-user" class="btn btn-primary btn-sm btn-wrap-item">
            <i class="material-icons">add</i>
            Add user
        </a>
    </div>
</mrc-head-content>

<div class="main-content">
    <div class="row">
        <div class="col-md-10">
            <mrc-table
                [category]="'users'"
                [route]="'users'"
                [statuses]="statuses"
            ></mrc-table>
        </div>
    </div>

</div>
