<mrc-head-content [title]="title">

</mrc-head-content>

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <form #createOfferForm="ngForm" (ngSubmit)="create(createOfferForm)" class="create-form">
                <div class="row row-xl-60">
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i> Benutzerdaten</legend>
                        </fieldset>

                        <mrc-form-item-field
                            label="Name:"
                            [control]="createOfferForm?.controls?.name">
                            <input type="text"
                                readonly
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Lucas Frueh"
                                name="name"
                                [(ngModel)]="supplierOffer.user.name"
                                required>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="E-Mail Adresse:"
                            [control]="createOfferForm?.controls?.email">
                            <input type="email"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="E-Mail"
                                name="email"
                                [(ngModel)]="supplierOffer.user.email"
                                [email]="supplierOffer.user.email!==undefined && supplierOffer.user.email!==''"
                                mrcAtLeastOne="code"
                                reverse="true">
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Benutzerkennung (optional):"
                            [control]="createOfferForm?.controls?.code">
                            <input type="text"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Benutzerkennung"
                                name="code"
                                [(ngModel)]="supplierOffer.user.code"
                                mrcAtLeastOne="email"
                                reverse="true"
                                >
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Firma:"
                            [control]="createOfferForm?.controls?.company_id">
                            <ng-select
                                name="company_id"
                                (change)="emailReset()"
                                bindValue="id"
                                bindLabel="name"
                                [items]="companiesList"
                                [clearable]="false"
                                [searchable]="false"
                                class="ng-select-sm ng-select-bg"
                                [(ngModel)]="supplierOffer.user.company_id"
                                placeholder="Firma"></ng-select>
                        </mrc-form-item-field>
                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i> Productdateb</legend>
                        </fieldset>

                        <mrc-form-item-field
                            label="Brand:"
                            [tooltipText]="'Type Brand name and click on Add item'"
                            [control]="createOfferForm?.controls?.brand_id">
                            <ng-select
                                name="brand_id"
                                [addTag]="addTag"
                                bindValue="id"
                                bindLabel="name"
                                [items]="brandList"
                                [clearable]="false"
                                [searchable]="true"
                                (change)="getModelsAfterChanges()"
                                class="ng-select-sm ng-select-bg"
                                [(ngModel)]="supplierOffer.product.brand_id" placeholder="Brand"
                                required></ng-select>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Kategorie:"
                            [control]="createOfferForm?.controls?.category_id">
                            <mat-radio-group
                                (change)="getModelsAfterChanges()"
                                [(ngModel)]="supplierOffer.product.category_id"
                                name="category_id"
                                required>
                                <mat-radio-button *ngFor="let item of categoriesList; let i = index"
                                    [value]="i + 1"
                                    class="d-block mb-1">{{item}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Model:"
                            [tooltipText]="'Type Model name and click on Add item'"
                            [control]="createOfferForm?.controls?.model_id">
                            <ng-select
                                [disabled]="!supplierOffer.product.brand_id"
                                name="model_id"
                                [addTag]="addTag"
                                bindValue="id"
                                bindLabel="name"
                                [items]="modelList"
                                [clearable]="false"
                                [searchable]="true"
                                class="ng-select-sm ng-select-bg"
                                [(ngModel)]="supplierOffer.product.model_id" placeholder="Model"
                                required
                                ></ng-select>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            *ngFor="let item of attributesList.reverse(); let i = index"
                            [label]="item.name"
                            [tooltipText]="'Type ' + item.name + ' and click on Add item'"
                            [control]="createOfferForm?.controls[item.slug]">
                            <ng-select
                                [name]="item.slug"
                                bindValue="value"
                                bindLabel="label"
                                [addTag]="addTagAttribute"
                                [items]="item.default_values"
                                [clearable]="false"
                                [searchable]="true"
                                class="ng-select-sm ng-select-bg"
                                [(ngModel)]="supplierOffer.product.attributes[item.id - 1].value" [placeholder]="item.name"
                                required></ng-select>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Beschreibung:"
                            [control]="createOfferForm?.controls?.description">
                            <textarea type="text"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Beschreibung"
                                name="description"
                                [(ngModel)]="supplierOffer.product.description"
                            ></textarea>
                        </mrc-form-item-field>
                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i> Angebot</legend>
                        </fieldset>

                        <mrc-form-item-field
                            [direction]="['bottom']"
                            label="Normaler Preis (UVP):"
                            [control]="createOfferForm?.controls?.normal_price">
                            <input type="text"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Normaler Preis (UVP)"
                                name="normal_price"
                                [(ngModel)]="supplierOffer.options.normal_price"
                                number
                                required
                            >
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            [direction]="['bottom']"
                            label="Price with Discount:"
                            [control]="createOfferForm?.controls?.discount_price">
                            <input type="text"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Price with Discount"
                                name="discount_price"
                                [(ngModel)]="supplierOffer.options.discount_price"
                                number
                                [compareNumber]="supplierOffer.options.normal_price"
                                required
                            >
                            <small>Hinweis: Verbrauchsartikel nicht beinhaltet</small>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            [direction]="['bottom']"
                            label="Price for Accessories:"
                            [control]="createOfferForm?.controls?.accessories_price">
                            <input type="text"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Price for Accessories"
                                name="accessories_price"
                                [(ngModel)]="supplierOffer.options.accessories_price"
                                number
                            >
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            label="Angebot endet:"
                            [direction]="['bottom']"
                            [control]="createOfferForm?.controls?.expired_date">
                            <mrc-datepicker-element
                                [(ngModel)]="supplierOffer.options.expired_date"
                                name="expired_date"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                [titleDatepicker]="'Letzter Monat'"
                            >
                            </mrc-datepicker-element>
                        </mrc-form-item-field>

                        <mrc-form-item-field
                            [direction]="['bottom']"
                            label="Kommentar:"
                            [control]="createOfferForm?.controls?.notes">
                            <textarea type="text"
                                [disabled]="!supplierOffer.options.accessories_price"
                                class="form-control form-control-sm form-control-bg"
                                placeholder="Kommentar"
                                name="notes"
                                [(ngModel)]="supplierOffer.options.notes"
                            ></textarea>
                        </mrc-form-item-field>
                    </div>

                    <div class="col-12 d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-start">
                        <button type="submit" class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Speichern
                                </span>
                            <i class="material-icons fa-spin" *ngIf="submitProcess">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
