<div class="wrapper">
    <mrc-head-content [link]="'../../suppliers'" [title]="supplierInfo.name" [titleId]="supplierInfo?.code" subtitle="Lieferant">
        <div class="w-100">
            <div *ngIf="!formStatus" class="btn-wrap">
                <a [routerLink]="'edit'" class="btn btn-primary btn-sm btn-wrap-item">
                    <i class="material-icons">mode_edit</i>
                    Bearbeiten
                </a>
            </div>
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row">
            <div [ngClass]="'col-lg-4'">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">error_outline</i>
                            Lieferanten Infos
                        </h3>
                        <dl class="row mb-0 mt-3">
                            <dt class="col-xl-5 col-sm-4 col-6">ID:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.code}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Name:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">USt-Id:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.vat}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Adresse:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.address}}<br>{{supplierInfo?.zip}} {{supplierInfo?.city?.name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Telefonnr.:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.phone}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Status:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6"><mrc-status [statusCode]="supplierInfo?.status"></mrc-status></dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Lieferant seit:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.active_from }}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Hauptbenutzer:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">{{supplierInfo?.admin_first_name}} {{supplierInfo?.admin_last_name}}</dd>

                            <dt class="col-xl-5 col-sm-4 col-6">E-Mail des Hauptbenutzers:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">
                                <a [href]="'mailto:' + supplierInfo?.admin_email">{{supplierInfo?.admin_email}}</a>
                            </dd>

                            <dt class="col-xl-5 col-sm-4 col-6">Companies:</dt>
                            <dd class="col-xl-7 col-sm-8 col-6">
                                {{supplierInfo?.companies?.length}}&nbsp;
                                <a href="#" (click)="toggleCompanies($event, companyListModal)" *ngIf="supplierInfo?.companies?.length > 0">View Companies</a>

                                <div *ngIf="viewCompanies" class="mt-2">
                                    <div *ngFor="let i of supplierInfo?.companies">
                                        {{i.name}}
                                    </div>
                                </div>

                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div [ngClass]="'col-lg-8'">
                <div class="row">
                    <div [ngClass]="'col-lg-6'">
                        <mrc-supplier-widget [title]="'Auftrag'" [statuses]="orderStatuses" (updateWidget)="updateOrders($event)" [preloader]="ordersPreload">
                            <mrc-card-list [dataTable]="orders"></mrc-card-list>
                        </mrc-supplier-widget>
                    </div>
                    <div [ngClass]="'col-lg-6'">
                        <mrc-supplier-widget [title]="'Angebot'" [statuses]="offerStatuses" (updateWidget)="updateOffers($event)" [preloader]="offersPreload">
                            <mrc-card-list [dataTable]="offers"></mrc-card-list>
                        </mrc-supplier-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #companyListModal>
    <div class="modal-header">
        <h2 class="pull-left">View companies</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <i class="material-icons">
                clear
            </i>
        </button>
    </div>
    <div class="modal-body">
        <div class="company-block">
            <ul>
                <li *ngFor="let item of supplierInfo?.companies">
                    {{item?.name}}
                </li>
            </ul>
        </div>
        <div class="text-right mt-5">
            <button class="btn btn-primary" (click)="modalRef.hide()">Speichern</button>
        </div>
    </div>
</ng-template>
