<div class="layout-unauthorized">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="logo">
                    <img [src]="logo" alt="">
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="title">Registrieren</h1>

                        <div class="row justify-content-center">
                            <div class="col-sm-8 text-danger" [innerHtml]="errorMessage" *ngIf="errorMessage"></div>

                            <form class="col-sm-8" #registrationForm="ngForm" novalidate (ngSubmit)="register(registrationForm)">
                                <div class="form-control-holder form-group">
                                    <input type="email"
                                        class="form-control"
                                        placeholder="useremail@domain.de"
                                        name="email"
                                        [(ngModel)]="registrationInfo.email"
                                        maxlength="30"
                                        required email>
                                    <mrc-validation-errors [control]="registrationForm.controls?.email" [direction]="['md-right']"></mrc-validation-errors>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 mb-4 mb-sm-0">
                                            <div class="form-control-holder">
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Vorname"
                                                    name="first_name"
                                                    [(ngModel)]="registrationInfo.first_name"
                                                    maxlength="30"
                                                    required>
                                                <mrc-validation-errors [control]="registrationForm.controls?.first_name" [direction]="['md-right']"></mrc-validation-errors>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-control-holder">
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Nachname"
                                                    name="last_name"
                                                    [(ngModel)]="registrationInfo.last_name"
                                                    maxlength="30"
                                                    required>
                                                <mrc-validation-errors [control]="registrationForm.controls?.last_name" [direction]="['md-right']"></mrc-validation-errors>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control-holder form-group">
                                    <input type="password"
                                        class="form-control"
                                        placeholder="Passwort"
                                        name="password"
                                        [(ngModel)]="registrationInfo.password"
                                        maxlength="30"
                                        validateEqual="password_confirmation"
                                        #password="ngModel"
                                        reverse="true"
                                        required password>
                                    <mrc-validation-errors [control]="registrationForm.controls?.password" [direction]="['md-right']"></mrc-validation-errors>
                                </div>

                                <div
                                    class="form-control-holder form-group">
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Passwort wiederholen"
                                        name="password_confirmation"
                                        #confirmPassword="ngModel"
                                        [(ngModel)]="registrationInfo.password_confirmation"
                                        validateEqual="password"
                                        required>
                                    <mrc-validation-errors [control]="registrationForm.controls?.password_confirmation" [direction]="['md-right']"></mrc-validation-errors>
                                </div>

                                <div class="form-control-holder form-group">
                                    <mat-checkbox checkRequired class="checkbox-sm" name="terms" [(ngModel)]="registrationInfo.terms">Ich habe die AGBs gelesen und akzeptiere diese</mat-checkbox>
                                    <mrc-validation-errors [control]="registrationForm.controls?.terms" [direction]="['md-right']"></mrc-validation-errors>
                                </div>

                                <div class="form-group-btn">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="submitProcess">
                                        <span *ngIf="!submitProcess">Anmelden</span>
                                        <i class="material-icons fa-spin" *ngIf="submitProcess">
                                            autorenew
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
