<div class="card mb-4 mb-md-0">
    <div class="card-body">
        <h3>
            <i class="material-icons">motorcycle</i>
            Produkt
        </h3>
        <div class="product-image">
            <mrc-image *ngIf="product?.image" [src]="product?.image" [alt]="product?.name"></mrc-image>
        </div>
        <div class="product-name">{{product?.name}}</div>
        <dl class="row mb-0">
            <dt class="col-md-5 col-6">Kategorie:</dt>
            <dd class="col-md-7 col-6" [innerHTML]="product?.category?.name"></dd>
            <dt class="col-md-5 col-6">Lieferant:</dt>
            <dd class="col-md-7 col-6" [innerHTML]="product?.supplier?.name"></dd>
            <ng-template ngFor let-item [ngForOf]="product?.attributes">
                <dt class="col-md-5 col-6">{{item.name}}:</dt>
                <dd class="col-md-7 col-6" [innerHTML]="item.value"></dd>
            </ng-template>
            <dt class="col-12">Beschribung:</dt>
            <dd class="col-12" [innerHTML]="product?.description"></dd>
        </dl>
    </div>
</div>
