<mrc-head-content title="Lieferanten"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'suppliers'"
        [statuses]="statuses"
        [route]="'suppliers'"
        [filterItems]="filter"></mrc-table>
</div>
