<div class="datepicker position-relative datepicker-range" #datepicker id="datepicker">
    <input type="text"
        class="datepicker-input"
        #dp="bsDaterangepicker"
        bsDaterangepicker
        [minDate]="minDate"
        [maxDate]="maxDate"
        [(ngModel)]="bsRangeValue"
        (onShown)="replaceDatepicker($event)"
        (bsValueChange)="datePickerChange($event)"
        [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        showWeekNumbers: false,
                        containerClass: 'theme-default'
                    }">
    <button class="btn btn-secondary btn-sm btn-datepicker"
        (click)="dp.toggle()"
        [attr.aria-expanded]="dp.isOpen">
        <i class="material-icons">insert_invitation</i>
        <span *ngIf="datePickerValue">{{datePickerValue}}</span>
        <span *ngIf="!datePickerValue">{{titleDatepicker}}</span>
    </button>

</div>
