<div class="wrapper">
    <mrc-head-content [link]="'../../../offers'" [title]="offerTitle" [titleId]="offerObj?.code">
        <div class="btn-wrap" *ngIf="pinned">

            <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="reject()" [disabled]="rejecting">
                <i class="material-icons">clear</i>
                Angebot ablehnen
            </button>

            <button class="btn btn-primary btn-sm btn-wrap-item" (click)="accept()" [disabled]="accepting">
                <i class="material-icons">done</i>
                Angebot akzeptieren
            </button>
            
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-lg-10">
                <div class="card card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="mb-3">
                                    <i class="material-icons">motorcycle</i>
                                    Produkt
                                </h3>

                                <dl class="row mb-0">
                                    <dt class="col-md-4 col-6">Brand:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.brand?.name"></dd>
                                    <dt class="col-md-4 col-6">Model:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.model?.name"></dd>
                                    <dt class="col-md-4 col-6">Kategorie:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.category?.name"></dd>
                                    <dt class="col-md-4 col-6">Lieferant:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.supplier?.name"></dd>
                                    <ng-template ngFor let-item [ngForOf]="product?.attributes.reverse()">
                                        <dt class="col-md-4 col-6">{{item.name}}:</dt>
                                        <dd class="col-md-8 col-6" [innerHTML]="item.value"></dd>
                                    </ng-template>
                                    <dt class="col-12">Beschribung:</dt>
                                    <dd class="col-12" [innerHTML]="product?.description"></dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">
                                    <i class="material-icons">monetization_on</i>
                                    Angebotdetails
                                </h3>

                                <dl class="row mb-0">
                                    <dt class="col-md-5 col-6">Normal price</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.normal_price | currency: 'EUR'"></dd>
                                    <dt class="col-md-5 col-6">Discount price</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.discount_price | currency: 'EUR'"></dd>
                                    <dt class="col-md-5 col-6">Price for the accessories:</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.accessories_price | currency: 'EUR'"></dd>
                                    <dt class="col-12">Kommentar:</dt>
                                    <dd class="col-12" [innerHTML]="offerObj?.notes"></dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #reejctOrder>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="text-center">
            <img src="assets/images/doc-reject.png" alt="Reject" width="119" height="116">
            <div class="text-holder">
                <h2 class="title">
                    Anfrage #{{offerObj?.id}} wurde abgelehnt!
                </h2>
            </div>

            <button class="btn btn-primary"  (click)="modalRef.hide()">Fenster schließen</button>
        </div>
    </div>
</ng-template>

<ng-template #acceptOrder>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="text-center">
            <img src="assets/images/doc-accept.png" alt="Reject" width="119" height="116">
            <div class="text-holder">
                <h2 class="title">
                Anfrage #{{offerObj?.id}}  wurde abgelehnt!
                </h2>
                <h3 class="subtitle">
                    Sie können den Vertrag jetzt herunterladen.
                </h3>
            </div>

            <button class="btn btn-primary"  (click)="hideModal()">Fenster schließen</button>
        </div>
    </div>
</ng-template>
