<mrc-head-content link="../users" title="Add user"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <form class="feedback-form" #addUser="ngForm" (ngSubmit)="create(addUser)">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i> Benutzerdetails</legend>

                            <mrc-form-item-field
                                label="Vorname:"
                                [id]="'name'"
                                [control]="addUser?.controls?.first_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="name"
                                    [(ngModel)]="userInfo.first_name"
                                    placeholder="Vorname"
                                    name="first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Nachname:"
                                [id]="'surname'"
                                [control]="addUser?.controls?.last_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="surname"
                                    [(ngModel)]="userInfo.last_name"
                                    placeholder="Nachname"
                                    name="last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Email:"
                                [id]="'email'"
                                [control]="addUser?.controls?.email">
                                <input class="form-control form-control-bg form-control-sm"
                                    [disabled]="userId"
                                    id="email"
                                    [(ngModel)]="userInfo.email"
                                    placeholder="Benutzer E-Mail"
                                    email
                                    name="email" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Password:"
                                [id]="'password'"
                                [control]="addUser?.controls?.password">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="password"
                                    [(ngModel)]="userInfo.password"
                                    placeholder="Password"
                                    readonly
                                    name="password">
                            </mrc-form-item-field>

                            <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Absenden
                                </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

