<div class="wrapper">
    <mrc-head-content [link]="'../../orders'" [title]="orderTitle" [titleId]="order.number" subtitle="Systemadministrator">
        <div class="btn-wrap">

            <button class="btn-more btn btn-secondary btn-sm btn-wrap-item d-sm-none" (click)="showButton = true" [ngClass]="{'d-none': showButton === true}">
                <i class="material-icons">more_horiz</i>
            </button>

            <button class="btn btn-secondary btn-sm btn-wrap-item"
                (click)="convert()"
                [ngClass]="{'d-none d-sm-block': showButton !== true}"
                [disabled]="order.status !== 'In Bearbeitung'">
                <i class="material-icons">description</i>
                Vertrag aufsetzen
            </button>
            <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="export()" [ngClass]="{'d-none d-sm-block': showButton !== true}">
                <i class="material-icons">file_download</i>
                Exportieren
            </button>
            <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="print()" [ngClass]="{'d-none d-sm-block': showButton !== true}">
                <i class="material-icons">print</i>
                Drucken
            </button>

            <a [routerLink]="['edit']" class="btn btn-primary btn-sm btn-wrap-item">
                <i class="material-icons">mode_edit</i>
                Bearbeiten
            </a>
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-md-6 col-xl-4 col-xxl-3">
                <mrc-user [user]="user"></mrc-user>
                <mrc-product [product]="product" [productSize]="order.product_size"></mrc-product>
            </div>
            <div class="col-md-6 col-xl-8 col-xxl-6">
                <mrc-detail [order]="order" [leasing]="leasing"></mrc-detail>
            </div>
        </div>
    </div>
</div>
