<mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav class="mat-sidenav position-fixed"
        [opened]="xxlQuery.matches ? 'true' : 'false'"
        #sidebarNav [mode]="xxlQuery.matches ? 'side' : 'over'"
    >
        <mrc-sidebar></mrc-sidebar>
        <button mat-icon-button (click)="sidebarNav.close();" class="sidebar-close d-xxl-none"
            [ngClass]="{'d-none': !sidebarNav.opened}">
            <mat-icon>close</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="wrapper">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

