<div class="wrapper">
    <mrc-head-content [link]="'../../../orders'" [title]="orderTitle" [titleId]="orderObj?.code"></mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-lg-6">
                <div class="card card mb-4">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">info_outline</i>
                            Bestelldetails
                        </h3>
                        <dl class="row mb-0">
                            <dt class="col-md-5 col-6">Vertragsnummer:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="orderObj?.contract_number"></dd>
                            <dt class="col-md-5 col-6">Employee:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="user?.fullname"></dd>
                            <dt class="col-md-5 col-6">Firma:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="user?.company?.name"></dd>
                            <dt class="col-md-5 col-6">Product:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.model?.name"></dd>
                            <dt class="col-md-5 col-6">Lieferant:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="orderObj?.supplier?.name"></dd>
                        </dl>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">motorcycle</i>
                            Produkt
                        </h3>

                        <dl class="row mb-0">
                            <dt class="col-md-5 col-6">Brand:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.brand?.name"></dd>
                            <dt class="col-md-5 col-6">Model:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.model?.name"></dd>
                            <dt class="col-md-5 col-6">Kategorie:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.category?.name"></dd>
                            <dt class="col-md-5 col-6">Lieferant:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.supplier?.name"></dd>
                            <ng-template ngFor let-item [ngForOf]="product?.attributes.reverse()">
                                <dt class="col-md-5 col-6">{{item.name}}:</dt>
                                <dd class="col-md-7 col-6" [innerHTML]="item.value"></dd>
                            </ng-template>
                            <dt class="col-12">Beschribung:</dt>
                            <dd class="col-12" [innerHTML]="product?.description"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="orderObj?.status !== 'Bereit'">
                            <h3>
                                <i class="material-icons">info_outline</i>
                                Bestellstatus
                            </h3>

                            <div class="status-block">
                                <img src="assets/images/sand_clock.svg" alt="sand clock">
                                <h3>{{orderObj?.status}}</h3>
                                <div class="mb-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                                <button *ngIf="orderObj?.status === 'Offen'" (click)="readyStatus()" class="btn btn-sm btn-primary"><i class="material-icons">done</i>Ready</button>
                            </div>
                        </div>

                        <div *ngIf="orderObj?.status === 'Bereit'">
                            <h3>
                                <i class="material-icons">info_outline</i>
                                Abholung bestätigen
                            </h3>

                            <form #confirmForm="ngForm" (ngSubmit)="confirm(confirmForm)">
                                <mrc-form-item-field
                                    [direction]="['bottom']"
                                    label="Abholcode*:"
                                    [control]="confirmForm?.controls?.pickup_code">
                                    <input class="form-control form-control-bg form-control-sm"
                                        [(ngModel)]="orderInfo.pickup_code"
                                        placeholder="Abholcode"
                                        name="pickup_code" required>
                                </mrc-form-item-field>

                                <mrc-form-item-field
                                    [direction]="['bottom']"
                                    label="ID-Nummer:"
                                    [control]="confirmForm?.controls?.code">
                                    <input class="form-control form-control-bg form-control-sm"
                                        id="id_number"
                                        [(ngModel)]="orderInfo.code"
                                        placeholder="ID-Nummer"
                                        mrcAtLeastOne="email"
                                        reverse="true"
                                        name="code">
                                </mrc-form-item-field>

                                <mrc-form-item-field
                                    [direction]="['bottom']"
                                    label="E-Mail Adresse:"
                                    [control]="confirmForm?.controls?.email">
                                    <input class="form-control form-control-bg form-control-sm"
                                        type="email"
                                        [(ngModel)]="orderInfo.email"
                                        placeholder="E-Mail"
                                        mrcAtLeastOne="code"
                                        reverse="true"
                                        name="email" [email]="orderInfo.email!==''">
                                </mrc-form-item-field>

                                <mrc-form-item-field
                                    [direction]="['bottom']"
                                    label="Ausstellungsort des Personalausweises:"
                                    [control]="confirmForm?.controls?.notes">
                                <textarea class="form-control form-control-bg form-control-sm"
                                    [(ngModel)]="orderInfo.notes"
                                    placeholder="Ausstellungsort des Personalausweises"
                                    name="notes"></textarea>
                                </mrc-form-item-field>

                                <div class="text-center mb-3">
                                    <button class="btn btn-sm btn-secondary">
                                        <i class="material-icons">
                                            mail_outline
                                        </i>
                                        Absenden
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
