<mrc-head-content title="lieferanten hinzufügen" subtitle="Systemadministrator"></mrc-head-content>

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <form #editSupplier="ngForm" (ngSubmit)="create(editSupplier)" class="create-form" *ngIf="!createdinfoInfo">
                <div class="row row-xl-60">
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">info_outline</i> Daten</legend>

                            <mrc-form-item-field
                                label="Name des Lieferanten:"
                                [control]="editSupplier?.controls?.name">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenname"
                                    name="name"
                                    [(ngModel)]="supplierInfo.name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Steuernummer:"
                                [control]="editSupplier?.controls?.vat">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Steuernummer"
                                    name="vat"
                                    [(ngModel)]="supplierInfo.vat"
                                    required
                                    number>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Portal name:"
                                [control]="duplicateSupplier?.controls?.portal_id">
                                <ng-select [items]="portals"
                                    bindValue="id"
                                    bindLabel="name"
                                    [clearable]="false" [searchable]="false"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="supplierInfo.portal_id" placeholder="Portal name"
                                    name="portal_id"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Lieferantenstatus:"
                                [layout]="'inline'">
                                <mat-slide-toggle
                                    name="status"
                                    [(ngModel)]="supplierInfo.statusBool"></mat-slide-toggle>
                            </mrc-form-item-field>
                        </fieldset>

                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">business</i> Kontakt</legend>

                            <mrc-form-item-field
                                label="Stadt:"
                                [control]="editSupplier.controls?.city_id">
                                <ng-select
                                    bindValue="id"
                                    bindLabel="name"
                                    [items]="companyCityList"
                                    [clearable]="false"
                                    [searchable]="true"
                                    name="city_id"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="supplierInfo.city_id"
                                    placeholder="Stadt der Firma"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Adresse:"
                                [control]="editSupplier?.controls?.address">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenadresse"
                                    name="address"
                                    [(ngModel)]="supplierInfo.address"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Telefonnummer:"
                                [control]="editSupplier?.controls?.phone">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Telefonnummer der Firma"
                                    name="phone"
                                    [(ngModel)]="supplierInfo.phone"
                                    phone
                                    required>
                            </mrc-form-item-field>
                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">account_box</i> Hauptbenutzer</legend>

                            <mrc-form-item-field
                                label="Name des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_first_name">
                                <input
                                    type="text"
                                    id="adminFirstName"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Name"
                                    name="admin_first_name"
                                    [(ngModel)]="supplierInfo.admin_first_name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Vorname des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_last_name">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Vorname"
                                    name="admin_last_name"
                                    [(ngModel)]="supplierInfo.admin_last_name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="E-Mail des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_email">
                                <input
                                    type="email"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="E-Mail-Adresse"
                                    name="admin_email"
                                    [(ngModel)]="supplierInfo.admin_email"
                                    required
                                    email>
                            </mrc-form-item-field>

                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <!--<fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">settings_applications</i> Firmeneinstellungen</legend>

                            <mrc-form-item-field
                                label="Maximale Nutzer:"
                                [layout]="'inline'"
                                [control]="editSupplier?.controls?.max_products_count"
                                [direction]="['bottom']">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    name="max_products_count"
                                    [(ngModel)]="supplierInfo.max_products_count"
                                    required
                                    number>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 1:">
                                <mat-slide-toggle name="option1" [(ngModel)]="supplierInfo.option1"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 2:">
                                <mat-slide-toggle name="option2" [(ngModel)]="supplierInfo.option2"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 3:">
                                <mat-slide-toggle name="option3" [(ngModel)]="supplierInfo.option3"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 4:">
                                <mat-slide-toggle name="option4" [(ngModel)]="supplierInfo.option4"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 5:">
                                <mat-slide-toggle name="option5" [(ngModel)]="supplierInfo.option5"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 6:">
                                <mat-slide-toggle name="option6" [(ngModel)]="supplierInfo.option6"></mat-slide-toggle>
                            </mrc-form-item-field>
                        </fieldset>-->
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-right" [disabled]="submitProcess">
                            <span *ngIf="!submitProcess">
                                Speichern
                            </span>
                            <i class="material-icons fa-spin" *ngIf="submitProcess">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

