<div class="wrapper">
    <mrc-head-content [link]="'../../orders'" [title]="orderTitle" [titleId]="orderObj?.code"></mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-lg-6">
                <div class="card card mb-4">
                    <div class="card-body">
                        <div>
                            <h3>
                                <i class="material-icons">subject</i>
                                Leasingkonditionen
                            </h3>
                            <dl class="row mb-0">
                                <dt class="col-md-5 col-6">Vereinbarter Kaupreis:</dt>
                                <dd class="col-md-7 col-6">{{ leasing?.agreed_purchase_price | number:'.2' }} EUR</dd>
                                <dt class="col-md-5 col-6">Leasingrate:</dt>
                                <dd class="col-md-7 col-6">{{ leasing?.leasing_rate | number:'.2'}} EUR/Monat</dd>
                                <dt class="col-md-5 col-6">Versicherung:</dt>
                                <dd class="col-md-7 col-6">{{ leasing?.insurance| number:'.2' }} EUR/Monat</dd>
                                <dt class="col-md-5 col-6">Kalkulierter Restwert:</dt>
                                <dd class="col-md-7 col-6">{{ leasing?.calculated_residual_value| number:'.2' }} EUR</dd>
                                <dt class="col-md-5 col-6">Laufzeit:</dt>
                                <dd class="col-md-7 col-6">{{ leasing?.leasing_period }} Monate</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">motorcycle</i>
                            Produkt
                        </h3>

                        <dl class="row mb-0">
                            <dt class="col-md-5 col-6">Brand:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.brand?.name"></dd>
                            <dt class="col-md-5 col-6">Model:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.model?.name"></dd>
                            <dt class="col-md-5 col-6">Kategorie:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.category?.name"></dd>
                            <dt class="col-md-5 col-6">Lieferant:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.supplier?.name"></dd>
                            <ng-template ngFor let-item [ngForOf]="product?.attributes">
                                <dt class="col-md-5 col-6">{{item.name}}:</dt>
                                <dd class="col-md-7 col-6" [innerHTML]="item.value"></dd>
                            </ng-template>
                            <dt class="col-12">Beschribung:</dt>
                            <dd class="col-12" [innerHTML]="product?.description"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">info_outline</i>
                            Bestellstatus
                        </h3>

                        <div class="status-block">
                            <img src="assets/images/sand_clock.svg" alt="sand clock">
                            <h3>{{orderObj?.status}}</h3>
                            <div *ngIf="orderObj?.accepted_at">Order accepted at {{orderObj?.accepted_at}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
