<ul class="sidebar-menu">
    <li class="sidebar-menu-item" *ngFor="let block of menuArray">
        <div class="sidebar-menu-ttl">{{block.name}}</div>
        <ul class="sidebar-menu-block">
            <li class="sidebar-menu-block-item" *ngFor="let item of block?.links">
                <a [routerLink]="item.link" routerLinkActive="active" (click)="fireEvent('sidemenu.link.click', item.link)">
                    <i class="material-icons">{{item.icon}}</i>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </li>
</ul>
