<mrc-head-content title="Liste der Benutzer" subtitle="Systemadministrator">
    <div class="btn-wrap">

        <button class="btn-more btn btn-secondary btn-sm btn-wrap-item d-sm-none" (click)="showButton = true" [ngClass]="{'d-none': showButton === true}">
            <i class="material-icons">more_horiz</i>
        </button>

        <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="export()" [ngClass]="{'d-none d-sm-block': showButton !== true}">
            <i class="material-icons">file_download</i>
            Exportieren
        </button>
        <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="print()" [ngClass]="{'d-none d-sm-block': showButton !== true}">
            <i class="material-icons">print</i>
            Drucken
        </button>
        <a routerLink="/admin/add-user" class="btn btn-sm btn-primary btn-wrap-item"><i class="material-icons">add</i> Benutzer hinzufügen</a>
    </div>
</mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'users'"
        [route]="'users'"
        [actions]="actions"
        [statuses]="statuses"
        [filterItems]="filter"></mrc-table>
</div>
