<div class="datepicker position-relative datepicker-range" #datepicker id="datepicker-element">
    <input type="text"
        class="datepicker-input"
        #dp="bsDatepicker"
        bsDatepicker
        [minDate]="minDate"
        [maxDate]="maxDate"
        [(ngModel)]="value"
        (bsValueChange)="datePickerChange($event)"
        [bsConfig]="{
                        dateInputFormat: 'DD-MM-YYYY',
                        showWeekNumbers: false,
                        containerClass: 'theme-default'
                    }">
    <button type="button" class="btn btn-secondary btn-sm btn-datepicker"
        (click)="dp.toggle()"
        [attr.aria-expanded]="dp.isOpen">
        <i class="material-icons">insert_invitation</i>
        <span *ngIf="datePickerValue">{{datePickerValue}}</span>
        <span *ngIf="!datePickerValue">{{titleDatepicker}}</span>
    </button>

</div>
