<mrc-head-content title="Benutzer verwalten"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'users'"
        [route]="'users'"
        [actions]="actions"
        [statuses]="statuses"
        [filterItems]="filter"></mrc-table>
</div>
