<mrc-head-content title="Verträge"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'contracts'"
        [pager]="true"
        [statuses]="statuses"
        [actions]="actions"
        [route]="'contracts'"
        [filterItems]="filter"></mrc-table>
</div>
