<button class="btn btn-default btn-sm" (click)="openModal(addWidgetStyle)">
    <i class="material-icons">apps</i>
    Add widget
</button>

<ng-template #addWidgetStyle>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="widgetsTotal < 3">
            <h2 class="text-center modal-ttl">Change Style for Widget</h2>
            <div class="modal-form modal-form-style">
                <form #chartStyle="ngForm" (ngSubmit)="setStyle(chartStyle, addWidgetSource)">
                    <div class="form-group d-flex justify-content-between">
                        <label class="text-center">
                            <input type="radio"
                                name="chart-style"
                                checked
                                [(ngModel)]="newWidget.style"
                                value="line"
                                hidden>
                            <div class="chart line-chart">
                                <i class="material-icons chart-icon">
                                    timeline
                                </i>
                            </div>
                            <span class="chart-label">
                            Line chart
                        </span>
                        </label>
                        <label class="text-center">
                            <input type="radio"
                                name="chart-style"
                                [(ngModel)]="newWidget.style"
                                value="bar"
                                hidden>
                            <div class="chart bar-chart">
                                <i class="material-icons chart-icon">
                                    sort
                                </i>
                            </div>
                            <span class="chart-label">
                            Bar chart
                        </span>
                        </label>
                    </div>
                    <div class="form-group d-flex justify-content-between flex-wrap">
                        <button type="reset" class="btn btn-default btn-modal" (click)="modalRef.hide()">Stornieren</button>
                        <button type="submit" class="btn btn-primary btn-modal" (click)="modalRef.hide()">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="widgetsTotal > 2">
            <div class="text-center">
                <i class="material-icons text-danger modal-icon">
                    feedback
                </i>
                <h3 class=" pt-1 pb-3">
                    Max no. of widgets allowed is 3.<br> Please remove a widget
                </h3>
            </div>

        </div>

    </div>
</ng-template>

<ng-template #addWidgetSource>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h2 class="modal-ttl">Change Source for Widget</h2>
        <div class="modal-form modal-form-source">
            <form #chartSource="ngForm" (ngSubmit)="addwidget(chartSource, addWidgetSource)">
                <div class="form-group mt-3 mb-3" *ngFor="let item of sourceArr">
                    <label class="label-source">
                        <input type="radio"
                            hidden
                            required
                            name="source"
                            [value]="item.value"
                            [(ngModel)]="newWidget.source"
                        >
                        <span class="source-radio">
                            <i class="material-icons">check_box</i>
                        </span>
                        <span class="source-name">{{item.label}}</span>
                    </label>
                </div>
                <div class="form-group d-flex justify-content-between flex-wrap">
                    <button type="reset" class="btn btn-default btn-modal" (click)="modalRef.hide()">Stornieren</button>
                    <button type="submit" class="btn btn-primary btn-modal">Speichern</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #errorWidgetSource>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            <div class="text-center">
                <i class="material-icons text-danger modal-icon">
                    feedback
                </i>
                <h3 class=" pt-1 pb-3" *ngIf="errorMessage">
                    {{errorMessage}}
                </h3>
                <h3 *ngIf="!errorMessage">
                    Duplicate widget
                </h3>
            </div>
        </div>
    </div>
</ng-template>
