<mrc-head-content [title]="getTitle()"></mrc-head-content>

<div class="main-content">
    <mrc-table
        *ngIf="searchQuery && searchCategory"
        [statusIcons]="false"
        [pager]="false"
        [route]="'search'"
        [search]="searchQuery"
        [category]="searchCategory"></mrc-table>
</div>
