<mrc-head-content title="bestellungen" subtitle="Systemadministrator">
    <div class="btn-wrap">
        <button class="btn btn-sm btn-secondary btn-wrap-item">
            <i class="material-icons">cached</i> Bestellungen mit ERP synchronisieren
        </button>
    </div>
</mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'orders'"
        [statuses]="statuses"
        [actions]="actions"
        [route]="'orders'"
        [filterItems]="filter"></mrc-table>
</div>
