<mrc-head-content title="bestellungen"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [statusIcons]="true"
        [category]="'orders'"
        [statuses]="statuses"
        [actions]="actions"
        [route]="'orders'"
        [filterItems]="filter"></mrc-table>
</div>
