<div class="card mb-4">
    <div class="preloader" *ngIf="preloader">
        <i class="material-icons fa-spin">
            cached
        </i>
    </div>
    <div class="card-header" *ngIf="!showSource && !showStyle">
        <h3 class="card-title">{{title}}: {{currentItem ? currentItem : 'Alle'}}</h3>

        <div class="btn-group" dropdown placement="bottom right" *ngIf="!menuOff">
            <button class="settings-btn" dropdownToggle type="button">
                <i class="material-icons">
                    more_vert
                </i>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-alignment">
                <li role="menuitem" *ngFor="let item of statuses">
                    <a class="dropdown-item"
                        href="#"
                        (click)="changeSource($event, item)">
                        {{item}}
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="card-body p-0">
        <ng-content></ng-content>
    </div>
</div>

