<mrc-head-content title="Benutzer hinzufugen" subtitle="Systemadministrator"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-6 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form class="feedback-form" #addUser="ngForm" (ngSubmit)="create(addUser)">
                        <fieldset class="form-group form-group-mt">

                            <mrc-form-item-field
                                label="Rolle:"
                                [id]="'role'"
                                [control]="addUser?.controls?.role">
                                <mat-radio-group
                                    [(ngModel)]="userInfo.role"
                                    name="role"
                                    required>
                                    <mat-radio-button *ngFor="let item of roles"
                                        [value]="item"
                                        class="mr-3">{{item}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </mrc-form-item-field>

                            <mrc-form-item-field *ngIf="userInfo.role === 'Company Admin'"
                                label="Company:"
                                [id]="'company'"
                                [control]="addUser?.controls?.company_id">
                                <ng-select [items]="companies"
                                    bindValue="id"
                                    bindLabel="name"
                                    [clearable]="false" [searchable]="false"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="userInfo.company_id" placeholder="Firmen auswahlen"
                                    name="company_id"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Nachname:"
                                [id]="'surname'"
                                [control]="addUser?.controls?.last_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="surname"
                                    [(ngModel)]="userInfo.last_name"
                                    placeholder="Nachname"
                                    name="last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Vorname:"
                                [id]="'name'"
                                [control]="addUser?.controls?.first_name">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="name"
                                    [(ngModel)]="userInfo.first_name"
                                    placeholder="Vorname"
                                    name="first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Email:"
                                [id]="'email'"
                                [control]="addUser?.controls?.email">
                                <input class="form-control form-control-bg form-control-sm"
                                    [disabled]="userId"
                                    id="email"
                                    [(ngModel)]="userInfo.email"
                                    placeholder="Benutzer E-Mail"
                                    email
                                    name="email" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Password:"
                                [id]="'password'"
                                [control]="addUser?.controls?.password">
                                <input class="form-control form-control-bg form-control-sm"
                                    id="password"
                                    [(ngModel)]="userInfo.password"
                                    placeholder="Password"
                                    readonly
                                    name="password">
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Benutzerstatus:"
                                [id]="'status'"
                                [layout]="'inline'">
                                <mat-slide-toggle name="status"
                                    id="status"
                                    [(ngModel)]="userInfo.statusBool"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <p class="text-right"><small>{{message}}</small></p>

                            <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Absenden
                                </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

