.card {
    border-radius: 5px;
}

%heading {
    font-weight: 500;
    color: $color-heading;
}

%text-size-1 {
    font-size: em(36);
}

%text-size-2 {
    font-size: em(30);
}

%text-size-3 {
    font-size: em(18);
}

%text-size-4 {
    font-size: em(16);
}

h1,
.h1 {
    @extend %heading;
    @extend %text-size-1;
    font-weight: 400;
}

h2,
.h2 {
    @extend %heading;
    @extend %text-size-2;
    font-weight: 400;
}

h3,
.h3 {
    @extend %heading;
    @extend %text-size-3;
    font-weight: 500;

    i {
        vertical-align: middle;
        color: $default-text-color
    }
}

h4,
.h4 {
    @extend %heading;
    @extend %text-size-4;
    font-weight: 500;

    i {
        vertical-align: middle;
        color: $default-text-color
    }
}

a {
    color: $color-primary;

    &:hover {
        color: darken($color-primary, 10%);
    }
}

.link-default {
    color: $default-text-color;

    &:hover {
        color: darken($color-primary, 10%);
    }
}

.btn {
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    padding: .75em 1.25em;
    @extend %animated;

    i {
        color: inherit;
    }

    &-primary {
        color: #fff !important;
        @include button-variant($color-primary, $color-primary, lighten($color-primary, 10%), lighten($color-primary, 10%));

        &:not(:disabled):active:focus {
            box-shadow: inset 1px 1px 1px rgba($color-dark, .75) !important;
        }
    }

    &.btn-secondary,
    &.btn-default {
        color: $mediumGrey !important;
        @include button-variant($light, $light, $light, $light, lighten($light, 30) , lighten($light, 30));

        &:not(:disabled){

            &:active:focus,
            &:active,
            &:focus,
            &:hover {
                box-shadow: none !important;
                color: $color-primary !important;
            }
        }
    }

    &.btn {
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        min-width: 200px;
    }

    &.btn-sm {
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        min-width: 130px;
        padding: .6em 1.25em;

        &.btn-ico {
            min-width: 40px;
            padding: 5px;

            i {
                margin: 0;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }

    &.btn-xs {
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        min-width: 40px;
        padding: .6em;

        span {
            vertical-align: middle;
        }

        &.btn-ico {

            i {
                margin: 0;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }

    &.btn-icon {
        border: none;
        background: none;
        padding: 0;
        min-width: 0;
        height: 25px;
    }

    &-link {
        display: inline-flex;
        align-items: center;

        > * + i {
                margin: 0 0 0 5px;
        }
    }


    i {
        vertical-align: text-top;
        font-size: em(19);
        margin-right: 6px;
    }

    &:disabled,
    &.disabled {
        opacity: .5;
        cursor: not-allowed !important;
    }
}

.form-control-holder {
    position: relative;

    &:before {
        @extend %material-icons;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 10;
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 1;

    }

    &.invalid {

        .form-control {
            border-color: $color-danger;
        }

        &:before {
            content: '\e5cd';
            color: $color-danger;
        }
    }

    &.valid {

        .form-control {
            border-color: $color-success;
        }

        &:before {
            content: '\e5ca';
            color: $color-success;
        }
    }

    p {
        margin: 10px 0 0;
        line-height: (17/15);
    }
}

.form-control {
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    &:focus {
        box-shadow: none;
        border-color: #ced4da;
    }

    @include placeholder {
        color: #cbcbcb;
    }

    &.ng-dirty:not(.novalidate) {

        &.ng-invalid {
            border-color: $color-danger;
            background-image: url($path-img + 'ico-validation-error.svg');
        }

        &.ng-valid {
            border-color: $color-success;
            background-image: url($path-img + 'ico-validation-success.svg');
        }
    }

    &.locked {
        background-repeat: no-repeat;
        background-size: 18px 24px;
        background-position: right 13px center;
        background-image: url($path-img + 'lock.svg');
        padding-right: 42px;
    }
}

textarea.form-control {
    background-position: right 12px top 6px;
}

@include form-control-size('', $form-control-height, $form-control-size, $form-control-line-height, $form-control-offset-x);
@include form-control-size('-sm', $form-control-sm-height, $form-control-sm-size, $form-control-sm-line-height, $form-control-sm-offset-x);
@include form-control-size('-xs', $form-control-xs-height, $form-control-xs-size, $form-control-xs-line-height, $form-control-xs-offset-x);

@include form-label-size('', $form-control-height, $form-label-size, $form-label-line-height);
@include form-label-size('-sm', $form-control-sm-height, $form-label-sm-size, $form-label-sm-line-height);
@include form-label-size('-xs', $form-control-xs-height, $form-label-xs-size, $form-label-xs-line-height);

.form-control-bg,
.form-control-bg:focus,
.form-control-bg[readonly],
.form-control-bg[readonly]:focus {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.form-control-plaintext,
.form-control-plaintext:focus {
    background-color: transparent !important;
    border-color: transparent;
}

label {
    color: $color-dark;
    font-size: 15px;
    font-weight: 500;

    .mat-radio-label-content {
        font-weight: 400;
    }
}

dl {

    dt {
        font-weight: 500;
        color: $black;
        word-wrap: normal;
        margin-bottom: .75rem;
    }

    dd {
        color: $mediumGrey;
        margin-bottom: .75rem;
    }

}

//Modals
%modal-box {
    padding: 12px 20px;

    @include media-breakpoint-up(sm) {
        padding: 15px 40px;
    }
}

.modal {

    .form-group {
        margin-top: 0;
    }
}

.modal-content {
    padding-top: 35px;
    padding-bottom: 30px;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 20px 0;
    }
}

.modal-header {
    @extend %modal-box;
    border-bottom: 0;

    .close {
        padding: 0;
        font-size: 32px;
        color: #b2b2b2;
        position: absolute;
        right: 18px;
        top: 22px;
        line-height: 1;

        &:hover {
            color: $dark;
        }

        span {
            font-size: inherit;
            line-height: 1;
        }
    }
}

.modal-body {
    @extend %modal-box;

    .text-holder {
        margin: 4em 0;
    }

    .title {
        font-size: em(24);
        margin-bottom: 10px;
    }

    .subtitle {
        @extend %text-size-3;
        font-weight: 400;
    }
}

.modal-footer {
    @extend %modal-box;
    border-top: none;
}

.modal-title {
    margin-right: 30px;
}

.modal-body {

    .upload-block {
        text-decoration: none;
        width: 100%;
    }
}

.tooltip-top {
    transform: translate(-10px, 0);
}
