.colorpicker {

    .selected-color {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: $colorpicker-item-size;
        height: $colorpicker-item-size;
        cursor: pointer;
        margin-left: 10px;
    }

    > a {
        font-size: 12px;
    }
}

.colorpicker-menu {
    padding: $colorpicker-menu-padding-y $colorpicker-menu-padding-x;
    border-radius: 6px;
    width: 280px;
    margin: #{$colorpicker-menu-offset-top} #{$colorpicker-menu-offset-right} 0 0;


    &-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 -5px 15px;
        flex-wrap: wrap;

        &-item {
            display: flex;
            margin: 0 5px 10px;
            position: relative;
            vertical-align: top;
            order: 2;

            @for $i from 1 through 10 {

                &:nth-child(#{$i}) {
                    order: (2*$i + 1);
                }
            }

            &.selected {
                order: 10;

                &.row-0,
                &.row-1,
                &.row-2,
                &.row-3,
                &.row-4 {
                    order: 12;
                }
            }

            input {
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;

                &:checked {

                    & + span {
                        box-shadow: none;

                        &:after {
                            content: '\e5ca';
                        }
                    }
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: $colorpicker-item-size;
                height: $colorpicker-item-size;
                cursor: pointer;

                &:hover {
                    box-shadow: $box-shadow;
                }

                &:after {
                    @extend %material-icons;
                    font-size: 24px;
                    color: #fff;
                    vertical-align: top;
                }
            }
        }
    }
}