.ng-select,
.ng-select.ng-single {
    outline: none;

    .ng-control {
        @extend .form-control;
    }

    &.ng-dirty.ng-invalid:not(.novalidate) {

        .ng-control {
            border-color: $color-danger !important;
        }
    }

    &.ng-dirty.ng-valid:not(.novalidate)  {

        .ng-control {
            border-color: $color-success !important;
        }
    }

    &.opened {

        .ng-control {

            .ng-arrow {
                border-bottom: 5px solid $mediumGrey;
                border-top: none;
                top: 0;
            }
        }
    }

    &.disabled {

        .ng-arrow {
            display: none;
        }
    }

    .ng-arrow-zone {
        padding: 0;
        position: absolute;
        right: $form-control-offset-x;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        .ng-arrow {
            border-top: 5px solid $mediumGrey;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: none;
            top: -2px;
        }
    }

    .ng-control {

        .ng-value-container {
            padding-left: 0;

            .ng-input {
                top: 0;
                height: 100%;
                @extend .form-control;
                border: none !important;
                background-color: transparent !important;

                input {
                    height: 100%;
                    padding: 0;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}


//Select sm
.ng-select.ng-select-sm {

    .ng-control {
        @extend .form-control-sm;

        .ng-value-container {

            .ng-input {
                @extend .form-control-sm;
            }
        }
    }

    .ng-dropdown-panel {

        .ng-dropdown-panel-items {

            .ng-option {
                padding: 9px 15px;
                font-size: 14px;

                &.marked {
                    background-color: #e8e8e8;
                    color: $color-primary;
                }
            }
        }
    }

    .ng-arrow-zone {
        right: $form-control-sm-offset-x;
    }
}

//Select bg
.ng-select.ng-select-bg {

    &.opened {
        box-shadow: $box-shadow;
    }

    .ng-control {
        @extend .form-control-bg;
    }

    .ng-dropdown-panel {
        border: none !important;
        box-shadow: $box-shadow;

        .ng-dropdown-panel-items {

            .ng-option {
                background-color: #f2f2f2;
            }
        }
    }
}

//Select bg
.ng-select.ng-select-transparent {

    &.opened {
        box-shadow: $box-shadow;
    }

    .ng-control {
        border-color: transparent;
        box-shadow: none;
    }

    .ng-dropdown-panel {
        border: none !important;
        box-shadow: $box-shadow;

        .ng-dropdown-panel-items {

            .ng-option {
                background-color:  #fff;
            }
        }
    }
}

//Select bg
.ng-select.ng-select-border-transparent {

    &.opened {
        box-shadow: $box-shadow;
    }

    .ng-control {
        border-color: $default-text-color;
        background-color: transparent;
        box-shadow: none;
    }

    .ng-dropdown-panel {
        border: none !important;
        box-shadow: $box-shadow;

        .ng-dropdown-panel-items {

            .ng-option {
                background-color:  #fff;
            }
        }
    }
}

//Select xs
.ng-select.ng-select-xs {

    .ng-control {
        @extend .form-control-xs;

        .ng-value-container {

            .ng-input {
                @extend .form-control-xs;
            }
        }
    }

    .ng-dropdown-panel {

        .ng-dropdown-panel-items {

            .ng-option {
                padding: 3px $form-control-xs-offset-x;
                font-size: $form-control-xs-size;
            }
        }
    }

    .ng-arrow-zone {
        right: $form-control-xs-offset-x;
    }
}

.ng-dropdown-panel {
    box-shadow: none;

    &.bottom {
        border-radius: 0 0 4px 4px;
    }

    &.top {
        border-radius: 4px 4px 0 0;
    }

    .ng-dropdown-panel-items {
        margin: 0;

        .ng-option {
            padding: 9px 20px;
            line-height: 20px;

            &.marked {
                background-color: #e8e8e8;
                color: $color-primary;
            }

            &.selected {

                .ng-option-label {
                    font-weight: 400;
                }
            }
        }
    }
}

.ng-select.ng-select-multi {

    &.filtered {

        .ng-placeholder {
            display: none !important;
        }
    }

    .ng-value {
        display: none;
    }

    .ng-placeholder {
        display: block !important;
        padding-left: 0 !important;
        top: 11px !important;
    }

    .ng-value-container {
        padding: 0 !important;
    }

    .ng-control {
        padding-right: 0 !important;
    }

    .ng-input {
        padding-left: 0 !important;
    }
}

.multiple-list {

    ul {
        @include list-unstyled;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }
    }
}

.mat-radio-button {
    color: $default-text-color;

    &.mat-accent {
        font-family: inherit;
        color: $default-text-color;
    }

    .mat-radio-container {
        width: $radio-btn-size;
        height: $radio-btn-size;
    }

    .mat-radio-outer-circle {
        width: $radio-btn-size;
        height: $radio-btn-size;
        background-color: $lightGrey;
        border-width: 1px;
        border-color: $default-text-color;
    }

    .mat-radio-inner-circle {
        width: $radio-btn-size;
        height: $radio-btn-size;
    }

    .mat-radio-label {
        margin: 0;
        font-size: 14px;
        line-height: (18/14);

        &:hover {
            color: $darkGrey;
        }
    }

    &.mat-accent.mat-radio-checked  {

        .mat-radio-label {
            color: $darkGrey;
        }

        .mat-radio-outer-circle {
            border-color: $color-primary !important;
        }

        .mat-radio-inner-circle {
            background-color: $color-primary !important;
        }
    }
}

.mat-slide-toggle.mat-accent {
    height: auto;
    position: relative;

    &.mat-checked {

        .mat-slide-toggle-thumb-container {
            transform: translate3d($switcher-track-width - $swither-toggle-width - $switcher-track-offset, 0, 0);
        }

        &:not(.mat-disabled) {

            .mat-slide-toggle-bar {
                background-color: $switcher-track-bg-active;
            }

            .mat-slide-toggle-thumb-container {

                .mat-slide-toggle-thumb {
                    background-color: $swither-toggle-bg;
                }
            }
        }
    }

    .mat-slide-toggle-bar {
        width: $switcher-track-width;
        height: $switcher-track-height;
        background-color: $switcher-track-bg;
        border-radius: $switcher-track-radius;
    }

    .mat-slide-toggle-thumb-container {
        width: $swither-toggle-width;
        height: $swither-toggle-height;
        top: $switcher-track-offset;
        transform: translate3d($switcher-track-offset, 0, 0);

        .mat-slide-toggle-thumb {
            width: 100%;
            height: 100%;
            box-shadow: none;
            background-color: $swither-toggle-bg;
        }
    }

    .mat-slide-toggle-label {
        margin: 0;
    }

    .mat-slide-toggle-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 9px;
        font: 700 10px/1.25 $default-font;

        &:after,
        &:before {
            display: block;
            color: #fff;
            text-transform: uppercase;
        }

        &:after {
            content: 'aus';
        }

        &:before {
            content: 'an';
        }
    }
}

.form-group {
    margin: $form-group-offset-y 0;

    mrc-head-content & {
        margin: 0;
    }

    &.form-group-mt {
        margin-top: -25px;
    }

    &.form-group-color {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-control-holder {
            display: flex;
            align-items: center;

            input {
                @include circle(40px);
                border: none;
            }

            .color-prefix {
                font-size: em(12);
                margin-right: 10px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

textarea {

    &.form-control {
        min-height: 200px;
        padding: 12px 15px;
    }
}

.upload-block {
    background-color: rgba(230, 230, 230, 0.2);
    border: dashed 2px rgba(118, 118, 118, 0.33);
    border-radius: 3px;
    text-align: center;
    display: block;
    padding: 34px 0 27px;
    font-size: em(14);
    color: $mediumGrey;
    text-decoration: underline;

    i {
        font-size: em(38);
        color: $lightGrey;
    }
}

.form-group-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
        margin: 0 20px 0 0;
    }

    .form-control-holder {
        max-width: 120px;
    }
}

.form-group-title {
    @extend .h3;
    margin: 0;

    i {
        vertical-align: middle;
    }
}

.form-group-btn {
    margin: 30px 0;
}

.form-group-horizontal {
    margin: 18px 0;
}

.form-tooltip {
    position: absolute;
    @extend %form-tooltip-bottom;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 14px;
    background-color: $form-tooltip-bg;
    color: #fff;
    border-radius: 1px;
    transition: none;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
        white-space: nowrap;
        max-width: none;
    }

    &.form-tooltip-left {
        min-width: 180px;
    }

    &.show {
        transition: opacity .3s ease;
        visibility: visible;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
    }
}

%form-tooltip-bottom {
    left: 0;
    top: 100%;
    transform: none;
    margin: 10px 0 0 0;

    &:after {
        border-width: 0 $form-tooltip-arr-size $form-tooltip-arr-size;
        border-color: transparent transparent $form-tooltip-bg;
        left: 10px;
        bottom: 100%;
        transform: none;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .form-tooltip#{$infix}-right {
            left: 100%;
            top: 50%;
            right: auto;
            bottom: auto;
            transform: translate(0, -50%);
            margin: 0 0 0 $form-tooltip-offset;

            &:after {
                border-width: $form-tooltip-arr-size $form-tooltip-arr-size $form-tooltip-arr-size 0;
                border-color: transparent $form-tooltip-bg transparent transparent;
                right: 100%;
                top: 50%;
                left: auto;
                bottom: auto;
                transform: translateY(-50%);
            }
        }

        .form-tooltip#{$infix}-left {
            right: 100%;
            left: auto;
            top: 50%;
            bottom: auto;
            transform: translate(0, -50%);
            margin: 0 $form-tooltip-offset 0 0;

            &:after {
                border-width: $form-tooltip-arr-size 0 $form-tooltip-arr-size $form-tooltip-arr-size;
                border-color: transparent transparent transparent $form-tooltip-bg;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .form-tooltip#{$infix}-bottom {
            left: 0;
            right: auto;
            top: 100%;
            bottom: auto;
            transform: none;
            margin: 10px 0 0 0;

            &:after {
                border-width: 0 $form-tooltip-arr-size $form-tooltip-arr-size;
                border-color: transparent transparent $form-tooltip-bg;
                left: 20px;
                bottom: 100%;
                transform: none;
            }
        }

        .form-tooltip#{$infix}-top {
            left: 0;
            right: auto;
            bottom: 100%;
            top: auto;
            transform: none;
            margin: 0 0 10px 0;

            &:after {
                border-width: $form-tooltip-arr-size $form-tooltip-arr-size 0;
                border-color: $form-tooltip-bg transparent transparent;
                left: 10px;
                top: 100%;
                transform: none;
            }
        }
    }
}

.create-form {

    @include media-breakpoint-up(xl) {
        padding: 0 30px 10px 0;
    }
}

.form-horizontal-flex {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .form-group {
        margin: 0;
    }

    button {
        padding: .5em 40px;
    }
}

.form-table {

    .form-group {
        margin: 15px 0;
    }
}

.datepicker-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    visibility: hidden;
}

.portal-select {
    min-width: 200px;

    .ng-control {
        border: none !important;
    }
}

.inline-form-group {

    .form-group {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.percent-icon {
    font-weight: 700;
    font-size: 20px;
}

.checkbox-sm {

    label {
        font-size: 14px;
        color: $mediumGrey;
        font-family: $ubuntu;

        .mat-checkbox-label {
            line-height: 15px;
        }
    }

    .mat-checkbox-inner-container {
        height: 15px;
        width: 15px;
    }

    .mat-checkbox-background, .mat-checkbox-frame {
        border-radius: 3px;
    }
}

mat-checkbox {

    .mat-checkbox-layout {

        .mat-checkbox-label {
            font-size: 15px;
            color: $color-heading;
            font-family: $ubuntu;
            line-height: 17px;
            white-space: normal;
        }
    }
}

.pdf-link {
    text-decoration: none;
    color: $mediumGrey;
}
