.head-content {
    padding: $head-content-offset-y-sm $head-content-offset-x-sm;
    background-color: $head-content-bg;

    @include media-breakpoint-up(xxl) {
        padding: $head-content-offset-y $head-content-offset-x;
    }

    .title {

        &:first-letter {
            text-transform: uppercase;
        }

        span {
            color: $mediumGrey;
        }
    }

    .subtitle {
        @extend %text-size-3;
    }
}

.btns {
    margin-right: -20px;
    margin-top: -10px;

    .btn {
        margin-top: 10px;
        margin-right: 20px;
    }
}

.btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px 0 0 0;

    @include media-breakpoint-up(sm) {
        margin: 10px -20px 0 0;
        width: auto;
        flex-direction: row;
        align-items: flex-end;
    }

    .btn-wrap-item {
        margin-top: 10px;

        @include media-breakpoint-up(sm) {
            margin-right: 20px;
        }
    }

    .btn-more {

        i {
            font-size: 32px;
            line-height: 8px;
        }
    }
}

.back-link {
    color: $mediumGrey;
    margin-right: 16px;
    margin-top: 6px;

    @include media-breakpoint-up(sm) {
        margin-right: 26px;
    }

    &:hover {
        color: $color-primary;
    }

    i {
        font-size: 28px;
    }
}

.btns-dropdown {

    .dropdown-menu {
        padding: 0;
    }
}
