@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-red);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

// NOTE: From `2.0.0-beta.10`, you can now pass the typography via the mat-core() mixin:
@import '~@angular/material/theming';

.mat-tab-header {

    .mat-ink-bar {
        height: 3px;
    }

    .mat-tab-label {
        text-transform: uppercase;
        font: 500 em(15) $ubuntu;
        opacity: 1;
        color: $mediumGrey;
        @extend %animated;

        &.mat-tab-label-active {
            color: $darkGrey;
        }

        &:hover {
            color: $darkGrey;
        }

        &:focus {
            background: none !important;
        }

        .badge-secondary {
            border-radius: 13px;
            height: 27px;
            min-width: 27px;
            line-height: 16px;
            padding: 5px;
            text-align: center;
            color: #333;
            background-color: $lightGrey;
            font-size: .85em;
            font-weight: 400;
            margin-left: 7px;
        }
    }
}

