.mrc-pagination {
    margin: 40px 0;

    .ngx-pagination {
        @extend %clear-list;
        @extend %flex-center;

        > li {
            @extend %flex-center;
            margin: 0 1.5px;
            min-width: $pagination-cell-size;
            height: $pagination-cell-size;
            border-radius: $pagination-cell-radius;
            border: 1px solid rgba($pagination-cell-color, .5);
            color: $pagination-cell-color;
            font-size: 14px;
            transition: color $default-anmation, border-color $default-anmation;
            padding: 0;

            &:hover {
                border-color: $pagination-cell-color;
            }

            &.current {
                background: transparent;
                color: $pagination-cell-color-active;
                border-color: $pagination-cell-color-active;
            }

            &.pagination-next,
            &.pagination-previous {
                font-size: 0;
                
                > a {
                    padding: 0;

                    &:before {
                        display: none;
                    }

                    &:after {
                        margin: 0;
                        @extend %material-icons;
                        color: inherit;
                        font-size: 18px;
                    }
                }
            }

            &.disabled {
                display: none;
            }

            &.pagination-next {

                > a:after {
                    content: '\E5CC';
                }
            }

            &.pagination-previous {

                > a:after {
                    content: '\E314';
                }
            }

            > a {
                @extend %flex-center;
                @extend %full-width;
                background-color: transparent;
                color: inherit;
                text-decoration: none;
                border-radius: $pagination-cell-radius;
                transition: color $default-anmation, border-color $default-anmation;
            }
        }
    }
}
