.mat-sidenav {
    width: 240px;
    position: fixed;

    @include media-breakpoint-up(xxl) {
        width: 250px;
    }

    &.mat-drawer {
        overflow: visible;
    }
}

.sidenav-container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.mat-drawer-container {
        overflow: visible;
        overflow-x: hidden;
        overflow-y: auto;

        [fullscreen].mat-drawer-opened {
            overflow: auto;

            @include media-breakpoint-down(xxl) {
                overflow: hidden;
            }
        }
    }
}

.sidenav-container {

    .mat-sidenav-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        min-height: 100%;
        overflow-x: hidden;
    }
}

.sidebar {
    width: 100%;
    background: $darkGrey;
    height: 100%;
    padding: 20px 25px 20px 15px;
    color: $white;
    font-size: em(14);
    overflow-y: auto;

    @include media-breakpoint-up(xxl) {
        padding-left: 25px;
    }
}

.logo {
    display: block;

    img {
        max-width: 100%;
        vertical-align: top;
    }
}

.user-name {

    a {
        color: $lightGrey;
        @include transition(.5s);

        &:hover {
            text-decoration: none;
        }
    }
}

//sidebar
.mat-sidebar {

    &.mat-drawer {
        overflow-x: hidden;
    }
}

//Sidebar menu
.sidebar-menu {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

.sidebar-menu-item {
    border-top: 1px solid rgba($white, .2);
    padding: 23px 0;

    @include media-breakpoint-up(xxl) {
        padding: 25px 0;
    }
}

.sidebar-menu-ttl {
    font-size: em(13);
    margin-bottom: 15px;
    color: rgba($white, .5);
}

.sidebar-menu-block {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-menu-block-item {

    & + & {
        margin-top: 15px;
    }

    a {
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        line-height: (24/14);
        display: inline-block;
        position: relative;
        @extend %animated;

        &:hover {
            color: $color-primary;
            text-decoration: none;

            i {
                opacity: 1;
            }
        }

        &.active {
            color: $color-primary;
            text-decoration: none;

            &:before {
                content: '';
                display: block;
                border-left: 3px solid;
                height: 32px;
                position: absolute;
                left: -13px;
                top: 50%;
                transform: translateY(-50%);

                @include media-breakpoint-up(xxl) {
                    left: -10px;
                }
            }

            i {
                opacity: 1;
            }
        }

        i {
            vertical-align: bottom;
            margin-right: 5px;
            opacity: 0.5;
        }
    }
}

.sidebar-toggle.mat-icon-button {
    outline: none !important;
    align-self: stretch;
    align-items: center;
    height: 55px;
    background-color: $darkGrey;
    color: #fff;
    border-radius: 0;
    width: 54px;

    .mat-button-wrapper {
        display: flex;
        height: auto;
        line-height: 1;
        margin: auto;
    }

    .mat-icon {
        height: auto;
        width: auto;
        font-size: 30px;
        margin: auto;
    }
}

.sidebar-close.mat-icon-button {
    position: absolute;
    left: 100%;
    top: 0;
    color: #fff;
    transition: opacity .25s ease;
    opacity: .5;
    width: 44px;
    height: 44px;

    .mat-icon {
        font-size: 24px;
    }

    &:hover {
        opacity: 1;
    }
}
