.table.mrc-table {
    margin-bottom: 0;

    th {
        @extend %heading;
    }

    td,
    th {
        padding: $table-cell-offset-y $table-cell-offset-x/2;
        border-top: none;
        border-bottom: 1px solid $table-border-color;
        transition: background-color $default-anmation, box-shadow $default-anmation;

        &:last-child {
            padding-right: $table-cell-offset-x;
        }

        &:first-child {
            padding-left: $table-cell-offset-x;
        }
    }

    tbody {

        > tr {

            > td,
            > th {
                padding: $table-cell-offset-y $table-cell-offset-x/2;
                border-top: none;
                border-bottom: 1px solid $table-border-color;
                cursor: pointer;

                &:last-child {
                    padding-right: $table-cell-offset-x;
                }

                &:first-child {
                    padding-left: $table-cell-offset-x;
                }
            }

            &:hover {

                > td,
                > th {
                    background-color: $table-row-color-hover;
                }
            }

            &.new {

                > td,
                > th {
                    @extend %heading;


                    &:first-child {
                        box-shadow: inset 2px 0 0 0 $color-primary;
                    }
                }
            }
        }
    }

    thead {

        > tr {

            > th {
                padding-top: $table-cell-offset-y;
                padding-bottom: $table-cell-offset-y/2;
                border-top: 1px solid $table-border-color;
                white-space: nowrap;
            }
        }
    }

    .table-head-text {
        white-space: nowrap;
    }
}

%mrc-header-cell {
    padding: $table-cell-offset-x/2 $table-cell-offset-x;

    @include media-breakpoint-down(sm) {
        padding: 0 0 14px;
    }
}

.mrc-table-header {

    @include media-breakpoint-up(lg) {
        min-height: 60px;
    }

    .cell-tools {
        @extend %mrc-header-cell;
        display: flex;
        align-items: center;
    }

    .cell-tabs {
        @extend %mrc-header-cell;

        .ng-select {
            width: 170px;

            @include media-breakpoint-up(sm) {
                width: 240px;
            }
        }

        @include media-breakpoint-up(lg) {
            max-width: calc(100% - 320px);
        }
    }

    .cell-categories {
        @extend %mrc-header-cell;

        .ng-select {
            width: 170px;

            @include media-breakpoint-up(sm) {
                width: 240px;
            }
        }

        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    .cell-filters {
        @extend %mrc-header-cell;

        .mat-tab-header {
            padding: 0;
            margin: 0 -10px -1px;
        }
    }
}

mrc-table,
.mrc-table {
    @extend .card;

    @include media-breakpoint-down(sm) {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}

.mat-tab-header {
    border-bottom: none !important;
    padding: 0 5px;

    .mat-tab-label {
        min-width: 0;
        padding: 0 20px;
        margin: 0 10px;
    }

    .mat-ripple-element {
        background-color: transparent;
    }
}

.ngx-datatable.mrc-datatable {
    font-size: $default-font-size;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }

    .datatable-body-cell-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .prop {

        @include media-breakpoint-down(sm) {
            padding: 0 10px;
            white-space: normal;
        }
    }

    .datatable-body {
        min-height: 3px;

        .datatable-scroll {
            vertical-align: top;

            @include media-breakpoint-down(sm) {
                width: 100% !important;
            }
        }

        .datatable-body-row {
            padding: 0;
            border: none;
            background-color: transparent;

            &:hover {

                @include media-breakpoint-up(md) {
                    background-color: $table-row-color-hover;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100% !important;
                flex-wrap: wrap !important;
                height: auto !important;
                border-radius: $border-radius;
                border: $border-width solid $border-color;
                background-color: #fff;
                padding: 21px 0;
                margin: 16px 0 14px;
            }

            > div {

                @include media-breakpoint-down(sm) {
                    width: 100% !important;
                    flex-wrap: wrap !important;
                }
            }
        }

        .datatable-body-cell {
            padding: $table-cell-offset-y $table-cell-offset-x/2;
            border-top: none;
            border-bottom: 1px solid $table-border-color;
            cursor: pointer;
            display: inline-flex;
            align-items: center;

            &.text-overflow-none,
            &.text-overflow-none .datatable-body-cell-label {
                text-overflow: clip;
                overflow: hidden;
            }


            &:last-child {
                padding-right: $table-cell-offset-x;
            }

            &:first-child {
                padding-left: $table-cell-offset-x;
            }

            @include media-breakpoint-down(sm) {
                width: 100% !important;
                border: none;
                line-height: 18px;

                &.cell-view {

                    a,
                    button {
                        margin-top: 12px;
                    }
                }

                &,
                &:last-child,
                &:first-child {
                    padding: 8px 10px;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    width: auto !important;
                    min-width: 40%;

                    .prop {

                        .name {
                            font-size: inherit;
                            display: inline;

                            &:after {
                                content: ': ';
                            }
                        }
                    }
                }

                &.w-50-mobile {
                    width: 50% !important; 
                }

                .prop {

                    .name {
                        font-size: 12px;
                    }

                    .value {
                        font-weight: 500;
                        color: $darkGrey;
                    }
                }
            }
        }
    }

    .datatable-header {

        @include media-breakpoint-down(sm) {
            display: none !important;
        }

        .datatable-body-row {
            padding: 0;
            border: none;
        }

        .datatable-header-cell {
            padding: 1.75*$table-cell-offset-y $table-cell-offset-x/2 $table-cell-offset-y;
            border-top: 1px solid $table-border-color;
            border-bottom: 1px solid $table-border-color;
            white-space: nowrap;
            @extend %heading;

            &:last-child {
                padding-right: $table-cell-offset-x;
            }

            &:first-child {
                padding-left: $table-cell-offset-x;
            }

            &:not(.sortable) {

                .sort-btn {
                    display: none !important;
                }
            }

            .sort-btn {
                display: inline-block;
                margin-left: 5px;

                &:after,
                &:before {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: $sort-height $sort-width/2 $sort-height $sort-width/2;
                    border-left-color: transparent !important;
                    border-right-color: transparent !important;
                }

                &:before {
                    border-bottom-color: $sort-color;
                    border-top: 0;
                    margin-bottom: 4px;
                }

                &.sort-asc {

                    &:before {
                        border-color: $sort-color-active;
                    }
                }

                &:after {
                    border-top-color: $sort-color;
                    border-bottom: 0;
                }

                &.sort-desc {

                    &:after {
                        border-color: $sort-color-active;
                    }
                }
            }
        }
    }

    .datatable-footer {
        background-color: transparent;

        .datatable-footer-inner {
            justify-content: center;
        }

        .datatable-pager {
            text-align: center;
            padding: 38.5px 0;

            ul {
                @extend %clear-list;
                @extend %flex-center;

                > li {
                    @extend %flex-center;
                    margin: 1.5px;
                    min-width: $pagination-cell-size;
                    height: $pagination-cell-size;
                    border-radius: $pagination-cell-radius;
                    border: 1px solid rgba($pagination-cell-color, .5);
                    color: $pagination-cell-color;
                    font-size: 14px;
                    transition: color $default-anmation, border-color $default-anmation;
                    padding: 0;

                    //hidden go to first/last page
                    &:first-child,
                    &:last-child {
                        display: none;
                    }

                    &:hover {
                        border-color: $pagination-cell-color;
                    }

                    &.active {
                        background: transparent;
                        color: $pagination-cell-color-active;
                        border-color: $pagination-cell-color-active;
                    }


                    &.disabled {
                        display: none;
                    }

                    > a {
                        @extend %flex-center;
                        @extend %full-width;
                        background-color: transparent;
                        color: inherit;
                        text-decoration: none;
                        border-radius: $pagination-cell-radius;
                        transition: color $default-anmation, border-color $default-anmation;

                        i {
                            display: flex;
                            font-style: normal;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .progress-linear {
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        padding: 0;
        margin: 0;
        position: absolute;

        .container {
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: translate(0, 0) scale(1, 1);
            background-color: rgba($color-primary, .3);

            .bar {
                animation: query 1.2s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
                transition: transform .2s linear;
                background-color: $color-primary;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.5, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

.sort {
    display: inline-block;
    margin-left: 5px;

    a {
        text-decoration: none;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $sort-height $sort-width/2 $sort-height $sort-width/2;
        border-left-color: transparent !important;
        border-right-color: transparent !important;

        &:hover,
        &.active {
            border-color: $sort-color-active;
        }
    }

    .up {
        border-bottom-color: $sort-color;
        border-top: 0;
        margin-bottom: 4px;
    }

    .down {
        border-top-color: $sort-color;
        border-bottom: 0;
    }
}

.status-indicator {
    display: flex;
    align-items: center;

    .ico {
        font-size: 12px;
        margin-right: 5px;
    }
}

.pager {
    display: flex;
    align-items: center;
    margin: 0 20px;

    .ng-select {
        margin: 0 2px;
    }
}


.table-dashboard {
    margin-bottom: 0;

    td {
        width: 80%;
        padding: 5px 20px;

        &:first-child {
            color: $darkGrey;
        }
    }

    thead {

        td {
            font-weight: 500;
            color: $black;
        }
    }
}

.mrc-table {


}

.empty-row {
    text-align: center;
    padding: 60px 0;
    font-size: 30px;

    .empty-leading {
        font-size: 16px;

        img {
            margin: 0 auto  20px;
            display: block;
        }
    }
}
