$tooltip-bg-color: #585858;
$tooltip-offset: 13px;

.tooltip {

    .tooltip-inner {
        max-width: 300px;
        background-color: $tooltip-bg-color;
        padding: 9px 16px;
        font-size: 15px;
        line-height: 1.2;
    }
}

.bs-tooltip-right {
    margin-left: $tooltip-offset;

    .tooltip-arrow {
        transform: translateY(-50%);

        &:before {
            border-right-color: $tooltip-bg-color;
            border-width: 8px 10px 8px 0;
        }
    }
}

.bs-tooltip-left {
    margin-right: $tooltip-offset;

    .tooltip-arrow {
        transform: translateY(-50%);

        &:before {
            border-left-color: $tooltip-bg-color;
            border-width: 8px 0 8px 10px;
        }
    }
}
