//Conatiner
$container-offset-x: 15px;

//Bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px
);

$border-color: rgba(0,0,0,.125);

$modal-offset-x: 40px;
$modal-md: 570px;
$modal-content-border-radius: 5px;
$modal-header-padding: 15px $modal-offset-x;
$modal-inner-padding: 15px $modal-offset-x;
$modal-dialog-margin: $container-offset-x;

//Path
$path-img: '/assets/images/';

//Fonts
$ubuntu: 'Ubuntu', sans-serif;

//Colors
$black: #000;
$darkGrey: #202020;
$mediumGrey: #767676;
$lightGrey: #e6e6e6;
$light: #f5f5f5;
$white: #fff;

$primary: #ea4345 !default;
$danger: #ea4345;
$secondary: $mediumGrey;
$color-primary : #ea4345 !default;
$color-success: #6fc213;
$color-danger: #ec4640;
$color-dark: $darkGrey;
$color-progress : #4D91DF;

$color-heading: $darkGrey;

//Default settings
$default-font: $ubuntu;
$default-font-size: 15px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $mediumGrey;
$textColorInverse: $white;
$body-bg: #f5f5f5;

$bg: #fff;

$default-anmation: .3s ease;

%animated {
  transition: all $default-anmation;
}

$box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .12);


//Form elements
$form-group-offset-y: 25px;

$form-control-height: 50px;
$form-control-size: 15px;
$form-control-line-height: 1;
$form-control-offset-x: 20px;

$form-control-sm-height: 40px;
$form-control-sm-size: 14px;
$form-control-sm-line-height: 1;
$form-control-sm-offset-x: 15px;

$form-control-xs-height: 28px;
$form-control-xs-size: 14px;
$form-control-xs-line-height: 1;
$form-control-xs-offset-x: 7px;

$form-label-size: 16px;
$form-label-line-height: 1;

$form-label-sm-size: 15px;
$form-label-sm-line-height: 1;

$form-label-xs-size: 15px;
$form-label-xs-line-height: 1;

$radio-btn-size: 16px;

//switcher
$switcher-track-width: 64px;
$switcher-track-height: $switcher-track-width/2;
$switcher-track-radius: $switcher-track-height/2;
$switcher-track-bg: $default-text-color;
$switcher-track-bg-active: $color-primary;
$switcher-track-offset: 3px;

$swither-toggle-width: $switcher-track-width/2 - 2*$switcher-track-offset;
$swither-toggle-height: $switcher-track-height - 2*$switcher-track-offset;
$swither-toggle-bg: $lightGrey;


//sort
$sort-width: 7.7px;
$sort-height: 4px;
$sort-color: $default-text-color;
$sort-color-active: $darkGrey;

//table
$table-border-color: #bababa;
$table-cell-offset-x: 20px;
$table-cell-offset-y: 15px;
$table-row-color-hover: $light;

//Tooltip
$form-tooltip-bg: rgba($color-dark, .75);
$form-tooltip-arr-size: 8px;
$form-tooltip-offset: 20px;

//pagination
$pagination-cell-size: 38px;
$pagination-cell-radius: 3px;
$pagination-cell-color: $default-text-color;
$pagination-cell-color-active: $color-dark;

//Content
$content-offset-x: 40px;
$content-offset-x-sm: 15px;

$head-content-offset-x: $content-offset-x;
$head-content-offset-x-sm: $content-offset-x-sm;
$head-content-offset-y: 30px;
$head-content-offset-y-sm: 30px;
$head-content-bg: #fff;

$main-content-offset-x: $content-offset-x;
$main-content-offset-x-sm: $content-offset-x-sm;
$main-content-offset-y: 25px;
$main-content-offset-y-sm: 30px;

//Colorpicker
$colorpicker-item-size: 40px;
$colorpicker-menu-padding-x: 20px;
$colorpicker-menu-padding-y: 25px;
$colorpicker-menu-offset-top: -1*($colorpicker-item-size + $colorpicker-menu-padding-y);
$colorpicker-menu-offset-right: -$colorpicker-menu-padding-x;

// Close
$close-font-size: 1.5rem;
$close-font-weight: 400;
$close-color: $danger;
$close-text-shadow: none;
