<div class="head-content d-flex flex-column flex-lg-row align-items-stretch align-items-lg-end justify-content-between">
    <div class="col-left d-flex">
        <a *ngIf="link" [routerLink]="link" class="back-link">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="title-wrap">
            <h1 class="title h2">{{ title }} <span *ngIf="titleId">#{{titleId}}</span></h1>
            <div class="subtitle">{{ subtitle }}</div>
        </div>
    </div>
    <div class="col-right d-flex">
        <ng-content></ng-content>
    </div>
</div>
