@import '../../styles/variables';

.cclipboard {
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    position: relative;

    &:after {
        content: attr(data-tooltip);
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        white-space: nowrap;
        font: 400 11px/1 $default-font;
        visibility: hidden;
        opacity: 0;
        margin-left: 5px;
        color: $default-text-color;
    }

    &:hover {
        color: $color-heading;

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}