<div class="wrapper">
    <mrc-head-content [title]="title"></mrc-head-content>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3">
                            <i class="material-icons">
                                tune
                            </i>
                             Filter
                        </h3>

                        <form [formGroup]="filters">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <div class="filter-block">
                                        <h4 class="mb-3">Nach Stadt:</h4>

                                        <ul>
                                            <li *ngFor="let city of citiesList">
                                                <mat-checkbox class="checkbox-sm"
                                                    (change)="onCityChange($event)" [value]="city.id">{{city.name}}</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-6">
                                    <div class="filter-block">
                                        <h4 class="mb-3">Nach Kategorie:</h4>

                                        <ul>
                                            <li *ngFor="let category of categoriesList">
                                                <mat-checkbox class="checkbox-sm"
                                                    (change)="onCategoryChange($event)" [value]="category.id">{{category.name}}</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let shop of shops | paginate: {itemsPerPage: 12, currentPage: currentPage, totalItems: total }">
                        <div class="card shop-card">
                            <div class="card-body text-center">
                                <div class="logo-wrap">
                                    <mrc-image [src]="shop.logo" [alt]="shop.name" *ngIf="shop.logo"></mrc-image>
                                    <img [src]="defaultLogo" alt="" *ngIf="!shop.logo">
                                </div>
                                <h4>{{shop.name}}</h4>
                                <p>
                                    {{shop.address}},<br>
                                    {{shop.zip}} {{shop.city_name}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <pagination-controls (pageChange)="getShopsList($event, filters.value)" class="mrc-pagination" autoHide="true"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
