<div>
    <div class="form-group" [ngClass]="{'form-group-inline': layout == 'inline'}">
        <div class="d-flex justify-content-between align-items-baseline">
            <label *ngIf="label" class="form-label-sm"
                   [attr.for]="id" [innerHtml]="label"></label>

            <button class="btn btn-icon d-none d-lg-block"
                    [tooltip]="tooltipText"
                    *ngIf="tooltipText"
                    placement="top"
                    container="body"
                    type="button"
                    tooltipClass="tooltip-info">
                <i class="material-icons">info_outline</i>
            </button>

            <button class="btn btn-icon d-lg-none d-block"
                    [tooltip]="tooltipText"
                    *ngIf="tooltipText"
                    placement="left"
                    container="body"
                    type="button"
                    trigger="click"
                    tooltipClass="tooltip-info">
                <i class="material-icons">info_outline</i>
            </button>
        </div>

        <div class="form-control-holder">
            <ng-content></ng-content>

            <mrc-validation-errors [control]="control" [direction]="direction"></mrc-validation-errors>
        </div>
    </div>
</div>
