<mrc-head-content title="Verträge" subtitle="Systemadministrator">
    <div class="btn-wrap">
        <button class="btn-wrap-item btn btn-sm btn-secondary btn-wrap-item"><i class="material-icons">cached</i> Bestellungen mit ERP synchronisieren</button>
        <button class="btn-wrap-item btn btn-secondary btn-sm btn-wrap-item" (click)="export()">
            <i class="material-icons">file_download</i>
            Exportieren
        </button>
        <button class="btn btn-secondary btn-sm btn-wrap-item" (click)="print()">
            <i class="material-icons">print</i>
            Drucken
        </button>
    </div>
</mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'contracts'"
        [pager]="true"
        [statuses]="statuses"
        [actions]="actions"
        [route]="'contracts'"
        [filterItems]="filter"></mrc-table>
</div>
