<div dropdown
    class="dropdown form-control-holder"
    [autoClose]="false"
    #filterDropdown="bs-dropdown">
    <button
        class="btn {{ media?.matchMedia('(min-width: 768px)').matches ? 'btn-secondary' : 'btn-outline-secondary' }} btn-sm mw-0"
        type="button"
        dropdownToggle
        aria-controls="basic-link-dropdown"
    ><i class="material-icons">filter_list</i>Filter</button>


    <div id="basic-link-dropdown" *dropdownMenu
        class="dropdown-menu dropdown-menu-right dropdown-filter"
        role="combobox" (click)="preventClose($event)"
        aria-labelledby="basic-link">
        <div class="dropdown-menu-body">
            <form #filterForm="ngForm" (submit)="submit(filterForm);">
                <mrc-form-item-field *ngIf="!filter.type"
                    label="Keyword:">
                    <input
                        type="text"
                        class="form-control form-control-sm form-control-bg"
                        placeholder="Enter keyword"
                        name="value"
                        [(ngModel)]="filter.value"
                        required>
                </mrc-form-item-field>
                <mrc-form-item-field *ngIf="filter.type === 'datepicker'"
                    id="datepicker"
                    label="Date:">
                    <input type="text"
                        readonly
                        required
                        name="value"
                        [(ngModel)]="filter.value"
                        placeholder="Daterangepicker"
                        [bsConfig]="{
                            rangeInputFormat: 'DD/MM/YYYY',
                            showWeekNumbers: false,
                            containerClass: 'dropdown-datepicker'
                        }"
                        (onShown)="replaceDatepicker($event)"
                        placement="bottom"
                        class="form-control form-control-sm form-control-bg"
                        bsDaterangepicker>
                    <div id="datepicker-wrapper" class="datepicker-wrapper"></div>
                </mrc-form-item-field>
                <mrc-form-item-field *ngIf="filter.type === 'status'"
                    id="status"
                    label="Status:">
                    <ng-select
                        name="value"
                        [items]="this.currentStatuses"
                        [clearable]="false"
                        [searchable]="false"
                        class="ng-select-sm ng-select-bg"
                        [(ngModel)]="filter.value" placeholder="Status" required></ng-select>
                </mrc-form-item-field>
                <mrc-form-item-field *ngIf="filter.type === 'role'"
                                     id="status"
                                     label="Status:">
                    <ng-select
                        name="value"
                        [items]="this.roles"
                        [clearable]="false"
                        [searchable]="false"
                        class="ng-select-sm ng-select-bg"
                        [(ngModel)]="filter.value" placeholder="Status" required></ng-select>
                </mrc-form-item-field>
                <mrc-form-item-field
                    label="Filter by:">
                    <ng-select
                        [disabled]="filterItems.length === 1"
                        bindValue="value"
                        bindLabel="name"
                        name="column"
                        [items]="filterItems"
                        [clearable]="false"
                        [searchable]="false"
                        class="ng-select-sm ng-select-bg"
                        (change)="onChange($event)"
                        [(ngModel)]="filter.column" placeholder="Filters" required></ng-select>
                </mrc-form-item-field>

                <div>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default"
                        (click)="filterDropdown.hide(); reset(filterForm);">Reset</a>
                    <button class="btn btn-sm btn-primary ml-3" type="submit">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>
