<div class="pager">
    <span class="text">Zeige</span>
    <div class="form-control-holder">
        <ng-select (change)="setPageSize()" [items]="pager" [clearable]="false" [searchable]="false" class="ng-select-xs ng-select-transparent novalidate" [(ngModel)]="pageSize"></ng-select>
    </div>
    <span class="text">Zeilen</span>
</div>