<div class="mrc-table-header d-flex align-items-center justify-content-between">
    <div class="cell cell-tabs align-self-lg-end p-lg-0" *ngIf="statuses.length">

        <mat-tab-group (selectedTabChange)="changeStatus($event)" [selectedIndex]="selectedStatusIndex" class="d-none d-lg-block">
            <mat-tab *ngFor="let status of statuses" label="{{ status }}"></mat-tab>
        </mat-tab-group>

        <ng-select
            (change)="selectStatus()"
            [items]="statuses"
            [clearable]="false"
            [searchable]="false"
            class="ng-select ng-select-sm ng-select-bg novalidate d-block d-lg-none"
            [(ngModel)]="selectedStatus"
            [ngClass]="{'ng-select-bg': !mobileQuery.matches, 'ng-select-border-transparent': mobileQuery.matches}"
        ></ng-select>


    </div>

    <div class="cell cell-categories align-self-lg-end p-lg-0" *ngIf="categories.length">

        <mat-tab-group (selectedTabChange)="changeCategory($event)" [selectedIndex]="0" class="d-none d-lg-block">
            <mat-tab *ngFor="let category of categories">
                <ng-template mat-tab-label>
                    {{ category.label }} <span class="badge badge-secondary">{{ category.count }}</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <ng-select
            (change)="changeCategory()"
            [items]="categories"
            bindValue="slug"
            bindLabel="labelDropdown"
            [clearable]="false"
            [searchable]="false"
            class="ng-select ng-select-sm ng-select-bg novalidate d-block d-lg-none"
            [(ngModel)]="category"
            [ngClass]="{'ng-select-bg': !mobileQuery.matches, 'ng-select-border-transparent': mobileQuery.matches}"
        ></ng-select>


    </div>

    <div class="cell cell-tools ml-auto" *ngIf="pager">
        <mrc-pager (changeSize)="changeSize($event)" class="d-none d-lg-block"></mrc-pager>
        <mrc-filter
            (submitFilter)="submitFilter($event)"
            (resetFilter)="resetFilter($event)"
            [filterItems]="filterItems"
            [statuses]="statuses"
            *ngIf="filterItems"></mrc-filter>
    </div>
</div>

<div class="mrc-datatable-responsive">
    <ngx-datatable
        #table
        [ngClass]="{'loading': loading}"
        class="mrc-datatable"
        [count]="page.totalElements"
        [externalPaging]="true"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [rows]="tableRows"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="mobileQuery.matches ? 'auto' : '70'"
        [columns]="tableCols"
        [columnMode]="'flex'"
        [scrollbarV]="false"
        [scrollbarH]="false"
        (activate)="onActivate($event)"
        [externalSorting]="true"
        [loadingIndicator]="loading"
        (sort)="sort($event)">

        <ngx-datatable-footer>
            <ng-template
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset"
                let-isVisible="isVisible">
                <!-- <div class="page-count">
                  <span *ngIf="selectedMessage">
                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                  </span>
                  {{rowCount.toLocaleString()}} {{totalMessage}}
                </div> -->



                <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    [page]="curPage"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>

<ng-template #status let-row="row" let-value="value" let-i="index"  let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}: </div>
        <mrc-status [statusCode]="value" [statusIcons]="statusIcons"></mrc-status>
    </div>
</ng-template>

<ng-template #remove let-row="row" let-value="value" let-i="index">
    <mrc-remove-item [id]="row.id" [userType]="row.type" [category]="category" (reloadTable)="updateTable()"></mrc-remove-item>
</ng-template>

<ng-template #loginAs let-row="row" let-value="value" let-i="index">
    <mrc-login-as-btn *ngIf="row.role === 'Portalbesitzer'" [userId]="row.id"></mrc-login-as-btn>
</ng-template>

<ng-template #view let-row="row" let-value="value" let-i="index">
    <a (click)="false" class="{{ mobileQuery.matches ? 'btn-link text-primary' : 'btn btn-sm btn-ico btn-secondary' }}">
        <span class="d-md-none font-weight-normal">See details</span>
        <i class="material-icons">arrow_forward</i>
    </a>
</ng-template>

<ng-template #cell let-row="row" let-value="value" let-i="index" let-column="column">
     <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value">{{ value }}</span>
    </div>
</ng-template>

<ng-template #name let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name | rejectedUser: row.additional_info }}</div>
        <span class="value" [innerHtml]="value | rejectedUser: row.additional_info"></span>
    </div>
</ng-template>

<ng-template #action let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <mrc-table-actions [id]="row.id" (refreshTable)="updateTable()"></mrc-table-actions>
    </div>
</ng-template>

