<div class="chart-wrap">
    <canvas baseChart #chart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="style"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>

</div>
