<div class="sidebar">
    <a [routerLink]="['/', authService.path]" class="logo">
        <mrc-image [src]="logo" [alt]="'Portalbesitzer'" *ngIf="logo"></mrc-image>
        <img [src]="logoDefault" [alt]="'Portalbesitzer'" *ngIf="!logo">
    </a>
    <div class="text-right user-name"><a [routerLink]="accountLink">{{user.first_name}} {{user.last_name}}</a></div>

    <mrc-sidebar-menu></mrc-sidebar-menu>
</div>
