<mrc-head-content title="Shop-Einstellungen"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-8 col-lg-10">
            <div class="card">
                <div class="card-body">

                    <form class="settings-form" #settingsForm="ngForm" (ngSubmit)="update(settingsForm)">

                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title"><i class="material-icons">store</i>
                                Firma
                            </legend>

                            <div class="row row-xl-60">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label-sm">Logo:</label>
                                        <div class="form-control-holder image-uploader">
                                            <div [hidden]="logo.imageUrl || logo.imageData" class="upload-block">
                                                <input type="file"
                                                    name="logo"
                                                    ngModel
                                                    accept="image/*"
                                                    (change)="logo.load($event.target.files)">
                                                <i class="material-icons">cloud_upload</i><br />
                                                Logo hochladen
                                            </div>

                                            <div class="uploaded-block" *ngIf="logo.imageUrl || logo.imageData">
                                                <button (click)="logo.remove()" class="material-icons close">close
                                                </button>
                                                <mrc-image [src]="logo.imageUrl" [data]="logo.imageData"
                                                    [alt]="'Portalbezitzer'"></mrc-image>
                                            </div>
                                        </div>
                                    </div>

                                    <mrc-form-item-field
                                        label="Name des Shops:"
                                        [control]="settingsForm.controls?.shop_name">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="System Shop Name"
                                            name="shop_name"
                                            [(ngModel)]="settings.shop_name" required>
                                    </mrc-form-item-field>

                                    <div class="form-group form-group-color">
                                        <label class="form-label-sm mb-0">Hauptfarbe:</label>

                                        <div dropdown
                                            class="dropdown form-control-holder colorpicker"
                                            [autoClose]="false"
                                            #colorpickerDropdown="bs-dropdown"
                                        >
                                            <a href
                                                id="basic-link"
                                                dropdownToggle
                                                (click)="false"
                                                aria-controls="basic-link-dropdown"
                                                class="d-flex align-items-center"
                                            >
                                                Bearbeiten
                                                <span class="selected-color"
                                                    [ngStyle]="{'background-color': settings.color }"></span>
                                            </a>

                                            <div id="basic-link-dropdown" *dropdownMenu
                                                class="dropdown-menu dropdown-menu-right colorpicker-menu"
                                                role="menu" aria-labelledby="basic-link">
                                                <div class="colorpicker-menu-list">
                                                    <label class="colorpicker-menu-list-item row-{{ i }}"
                                                        *ngFor="let color of colors; let i = index"
                                                        [ngClass]="{ 'selected': settings.color === color }">
                                                        <input type="radio" name="color" [(ngModel)]="selectedColor"
                                                            [value]="color">
                                                        <span [ngStyle]="{'background-color': color }"></span>
                                                    </label>
                                                </div>
                                                <div class="text-right">
                                                    <a href="javascript:void(0)" class="text-secondary"
                                                        (click)="colorpickerDropdown.hide(); resetColor();">Close</a>
                                                    <a href="javascript:void(0)" class="text-primary ml-3"
                                                        (click)="colorpickerDropdown.hide(); updateColor();">Apply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <mrc-form-item-field
                                        readonly
                                        label="E-Mail:"
                                        [id]="'email'"
                                        [control]="settingsForm.controls?.admin_email">
                                        <input type="email"
                                            disabled
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="username@domainname.de"
                                            name="admin_email"
                                            [(ngModel)]="settings.admin_email" required email>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="USt-ID:"
                                        [control]="settingsForm.controls?.vat">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="Umsatzsteuer-ID"
                                            name="vat"
                                            [(ngModel)]="settings.vat" required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Offizieller Firmenname:"
                                        [control]="settingsForm.controls?.name">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="Offizieller Firmenname"
                                            name="name"
                                            [(ngModel)]="settings.name" required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Telefonnummer:"
                                        [control]="settingsForm.controls?.phone">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="Telefonnummer"
                                            name="phone"
                                            [(ngModel)]="settings.phone" phone required>
                                    </mrc-form-item-field>

                                </div>
                            </div>
                        </fieldset>

                        <button class="btn btn-primary float-right" [disabled]="submitting">
                                    <span *ngIf="!submitting">
                                        Absenden
                                    </span>
                            <i class="material-icons fa-spin" *ngIf="submitting">
                                autorenew
                            </i>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
