<mrc-head-content [link]="'../../../companies'"
    [titleId]="companyInfo.code"
    [title]="companyTitle"
    *ngIf="companyId">
    <mrc-form-item-field
        label="Company status:"
        [layout]="'inline'">
        <mat-slide-toggle
            name="status"
            [(ngModel)]="companyInfo.statusBool"></mat-slide-toggle>
    </mrc-form-item-field>
</mrc-head-content>

<mrc-head-content title="New company" *ngIf="!companyId">
    <mrc-form-item-field
        label="Company status:"
        [layout]="'inline'">
        <mat-slide-toggle
            name="status"
            [(ngModel)]="companyInfo.statusBool"></mat-slide-toggle>
    </mrc-form-item-field>
</mrc-head-content>

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <form class="settings-form"
                #companyForm="ngForm"
                (ngSubmit)="update(companyForm)">
                <div class="row row-xl-60">
                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title">
                                <i class="material-icons">info_outline</i>
                                Daten
                            </legend>

                            <mrc-form-item-field
                                label="Firmenname:"
                                [control]="companyForm.controls?.name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Name der Firma"
                                    name="name"
                                    [(ngModel)]="companyInfo.name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Firmenslug:"
                                [control]="companyForm.controls?.slug">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenslug"
                                    name="slug"
                                    (ngModelChange)="companyInfo.slug = $event"
                                    [ngModel]="companyInfo.slug | trimmer"
                                    required
                                       (keydown.space)="$event.preventDefault()"
                                    alphaDash>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Ust-ID:"
                                [control]="companyForm.controls?.vat">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Ust-ID"
                                    name="vat"
                                    [(ngModel)]="companyInfo.vat" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Invoice Type:"
                                [control]="addUser?.controls?.invoice_type">
                                <mat-radio-group
                                    [(ngModel)]="companyInfo.invoice_type"
                                    name="invoice_type"
                                    required>
                                    <mat-radio-button *ngFor="let item of invoiceType"
                                        [value]="item"
                                        class="mr-5">{{item}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </mrc-form-item-field>
                        </fieldset>
                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title">
                                <i class="material-icons">account_box</i>
                                Hauptansprechpartner
                            </legend>

                            <mrc-form-item-field
                                label="Vorname:"
                                [control]="companyForm.controls?.admin_first_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Vorname"
                                    name="admin_first_name"
                                    [(ngModel)]="companyInfo.admin_first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Nachname:"
                                [control]="companyForm.controls?.admin_last_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Nachname"
                                    name="admin_last_name"
                                    [(ngModel)]="companyInfo.admin_last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="E-Mail Adresse:"
                                [control]="companyForm.controls?.admin_email">
                                <input type="email"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="E-Mail Adresse"
                                    name="admin_email"
                                    [(ngModel)]="companyInfo.admin_email" email required>
                            </mrc-form-item-field>

                            <mrc-supplier-select
                                class="mt-5"
                                [(ngModel)]="companyInfo.supplier_ids"
                                [title]="'Manage suppliers'"
                                [icon]="'local_shipping'"
                                name="supplier_ids"
                                [suppliers]="companyInfo.supplier_ids"
                                [control]="companyForm"
                                [searchable]="true"
                                required
                            ></mrc-supplier-select>
                        </fieldset>
                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title">
                                <i class="material-icons">business</i>
                                Kontakt
                            </legend>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Zip code:"
                                [control]="companyForm.controls?.zip">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Zip code"
                                    name="zip"
                                    [(ngModel)]="companyInfo.zip" number required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Stadt:"
                                [control]="companyForm.controls?.city_id">
                                <ng-select
                                    bindValue="id"
                                    bindLabel="name"
                                    [items]="cityList"
                                    [clearable]="false"
                                    name="city_id"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="companyInfo.city_id"
                                    [searchable]="true"
                                    placeholder="Stadt"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Strasse:"
                                [control]="companyForm.controls?.address">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Strasse"
                                    name="address"
                                    [(ngModel)]="companyInfo.address" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Telefon:"
                                [control]="companyForm.controls?.phone">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Telefon"
                                    name="phone"
                                    phone
                                    [(ngModel)]="companyInfo.phone" required>
                            </mrc-form-item-field>
                        </fieldset>
                    </div>
                </div>

                <div class="row row-xl-60">
                    <div class="col-12">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title">
                                <i class="material-icons">settings</i>
                                Firmeninstellungen
                            </legend>

                            <div class="row row-xl-60">
                                <div class="col-lg-4">
                                    <mrc-form-item-field
                                        label="Limit number of contracts per user:"
                                        layout="inline"
                                        [control]="companyForm.controls?.max_user_contracts">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="max_user_contracts"
                                            [(ngModel)]="companyInfo.max_user_contracts" number required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Limit total amount per user:"
                                        layout="inline"
                                        [control]="companyForm.controls?.max_user_amount">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="max_user_amount"
                                            [(ngModel)]="companyInfo.max_user_amount" number required min="500">
                                    </mrc-form-item-field>
                                </div>

                                <div class="col-lg-4">
                                    <h6>Insurance and Maintenance</h6>

                                    <mrc-form-item-field
                                        label="Override insurance amount:"
                                        layout="inline"
                                        [control]="companyForm.controls?.override_insurance_amount">
                                        <mat-slide-toggle
                                            name="override_insurance_amount"
                                            [(ngModel)]="companyInfo.override_insurance_amount"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Insurance monthly amount:"
                                        layout="inline"
                                        [control]="companyForm.controls?.insurance_monthly_amount">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="insurance_monthly_amount"
                                            [(ngModel)]="companyInfo.insurance_monthly_amount" number required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Override Maintenance amount:"
                                        layout="inline"
                                        [control]="companyForm.controls?.override_maintenance_amount">
                                        <mat-slide-toggle
                                            name="override_maintenance_amount"
                                            [(ngModel)]="companyInfo.override_maintenance_amount"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                </div>
                                <div class="col-lg-4">
                                    <h6>Insurance and Maintenance Coverage</h6>

                                    <mrc-form-item-field
                                        label="Insurance covered:"
                                        layout="inline"
                                        [control]="companyForm.controls?.insurance_covered">
                                        <mat-slide-toggle
                                            name="insurance_covered"
                                            [(ngModel)]="companyInfo.insurance_covered"></mat-slide-toggle>
                                    </mrc-form-item-field>


                                    <div class="d-flex justify-content-between align-items-center inline-form-group">
                                        <mrc-form-item-field
                                            [control]="addUser?.controls?.insurance_covered_type">
                                            <mat-radio-group
                                                [(ngModel)]="companyInfo.insurance_covered_type"
                                                name="insurance_covered_type"
                                                required>
                                                <mat-radio-button *ngFor="let item of insuranceType"
                                                    [value]="item"
                                                    class="mr-5">{{item}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </mrc-form-item-field>

                                        <mrc-form-item-field
                                            [direction]="['left']"
                                            layout="inline"
                                            [label]="companyInfo.insurance_covered_type === 'Fixed'
                                            ? fixed : companyInfo.insurance_covered_type === 'Percentage'
                                            ? percentage : ''"
                                            [control]="companyForm.controls?.insurance_covered_amount">

                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                name="insurance_covered_amount"
                                                [(ngModel)]="companyInfo.insurance_covered_amount" number required>

                                        </mrc-form-item-field>
                                    </div>

                                    <mrc-form-item-field
                                        label="Maintenance covered:"
                                        layout="inline"
                                        [control]="companyForm.controls?.maintenance_covered">
                                        <mat-slide-toggle
                                            name="maintenance_covered"
                                            [(ngModel)]="companyInfo.maintenance_covered"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Leasing rate:"
                                        layout="inline"
                                        [control]="companyForm.controls?.leasing_rate">
                                        <mat-slide-toggle
                                            name="leasing_rate"
                                            [(ngModel)]="companyInfo.leasing_rate"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <div class="d-flex justify-content-between align-items-center inline-form-group">
                                        <mrc-form-item-field
                                            [control]="addUser?.controls?.leasing_rate_type">
                                            <mat-radio-group
                                                [(ngModel)]="companyInfo.leasing_rate_type"
                                                name="leasing_rate_type"
                                                required>
                                                <mat-radio-button *ngFor="let item of rateType"
                                                    [value]="item"
                                                    class="mr-5">{{item}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </mrc-form-item-field>

                                        <mrc-form-item-field
                                            [direction]="['left']"
                                            layout="inline"
                                            [label]="companyInfo.leasing_rate_type === 'Fixed'
                                            ? fixed : companyInfo.leasing_rate_type === 'Percentage'
                                            ? percentage : ''"
                                            [control]="companyForm.controls?.leasing_rate_amount">

                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                name="leasing_rate_amount"
                                                [(ngModel)]="companyInfo.leasing_rate_amount" number required>

                                        </mrc-form-item-field>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-12">
                        <mrc-leasing-settings
                            [(ngModel)]="companyInfo.leasing_settings"
                            name="leasing_settings"
                            [settings]="companyInfo?.leasing_settings"
                            [leasingIcon]="'assignment'"
                        ></mrc-leasing-settings>
                    </div>

                    <div class="col-12 d-sm-flex justify-content-end" *ngIf="showSubmit">
                        <button class="btn btn-default mr-sm-4 mb-sm-0 mb-3" (click)="cancelForm($event, companyForm)">
                            Abbrechen
                        </button>

                        <button class="btn btn-primary" [disabled]="submitting">
                                    <span *ngIf="!submitting">
                                        Absenden
                                    </span>
                            <i class="material-icons fa-spin" *ngIf="submitting">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
