<div class="header-search" [ngClass]="{'open-mobile-search': isMobileSearchOpen }">
    <button mat-icon-button (click)="toggleNav()" class="sidebar-toggle d-xxl-none" *ngIf="!isMobileSearchOpen"><mat-icon>menu</mat-icon></button>
    <form class="header-search-form" (submit)="submit()">
        <i class="material-icons" (click)="toggleSearch(true)" *ngIf="!isMobileSearchOpen">search</i>
        <i class="material-icons" (click)="toggleSearch(false)" *ngIf="isMobileSearchOpen">close</i>
        <input 
            [hidden]="!isMobileSearchOpen"
            type="text" 
            class="header-search-input d-md-block" 
            placeholder="Geben Sie Ihren Suchbegriff ein" 
            (input)="onInput($event)" 
            (focus)="showSearchDropdown = true"
            [value]="searchService.searchQuery" 
            [formControl]="searchQueryControl"
        >

        <mrc-search-dropdown *ngIf="searchService.previewSearchResult && searchService.searchQuery && showSearchDropdown" class="dropdown-menu-search" (select)="isMobileSearchOpen = false"></mrc-search-dropdown>
    </form>
</div>
