<div class="layout-unauthorized">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="logo">
                    <img [src]="logo" alt="">
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="title">{{ title }}</h1>
                        <p class="title-description" *ngIf="submitted === false">Enter your email address below</p>

                        <div class="row justify-content-center">
                            <form *ngIf="submitted === false" class="col-sm-8" #forgotPasswordForm="ngForm" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm)">
                                <div
                                    class="form-control-holder form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail" name="email" [(ngModel)]="email" required email>
                                    <mrc-validation-errors [control]="forgotPasswordForm.controls?.email" [direction]="['md-right']"></mrc-validation-errors>
                                </div>
                                <div class="form-group-btn">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Submit</button>
                                </div>
                            </form>

                            <div *ngIf="submitted" class="col-sm-10 text-center text-big mt-4 mb-4">
                                If there's an account linked to this email address, we'll send over instructions to reset your password.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
