<div class="header-menu">
    <ul>
        <!--<li class="header-menu-item">
            <a href="#" class="header-menu-link header-menu-link-notif link-default" href="javascript:void(0)">
                <i class="material-icons">mail_outline</i>
                <span class="bg-primary">4</span>
            </a>
        </li>
        <li class="header-menu-item">
            <a href="#" class="header-menu-link link-default">
                <i class="material-icons">notifications</i>
            </a>
        </li>-->
        <li class="header-menu-item">
            <a class="header-menu-link link-default" (click)="logout()" href="javascript:void(0)">
                <i class="material-icons">exit_to_app</i>
            </a>
        </li>
    </ul>
</div>

<div class="modal fade modal-with-backdrop modal-delete-confirmation" bsModal #logoutModal="bs-modal" [config]="{backdrop: false}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="logoutModal.hide()">
                    <span aria-hidden="true" class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center text-center">
                <img src="assets/images/ico-exit.jpg" srcset="assets/images/ico-exit.jpg 2x" alt="">
                <h2 class="modal-title">Are you sure you want to exit?</h2>
            </div>
            <div class="modal-footer d-flex flex-column flex-sm-row justify-content-center align-items-stretch align-items-sm-center">
                <button (click)="logoutModal.hide()" class="btn btn-secondary mb-3 mb-sm-0 mr-sm-3">No</button>
                <button (click)="logoutEvent($event)" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
