<mrc-head-content [title]="title"></mrc-head-content>
<div class="container">

    <div class="card mb-5">
        <div class="mrc-table-header d-flex align-items-center justify-content-end">
            <div class="cell cell-tools">
                <div class="pager">
                    <span class="text">Zeige</span>
                    <div class="form-control-holder">
                        <ng-select [items]="demoSelectPager" [clearable]="false" [searchable]="false" class="ng-select-xs ng-select-transparent" [(ngModel)]="demoTablePerPage"></ng-select>
                    </div>
                    <span class="text">Zeilen</span>
                </div>
                <button class="btn btn-secondary mw-0"><i class="material-icons">filter_list</i>Filter</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mrc-table">
                <thead>
                    <tr>
                        <th>
                            <span class="table-head-text">ID #</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                        <th>
                            <span class="table-head-text">Name</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                        <th>
                            <span class="table-head-text">Stadt</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                        <th>
                            <span class="table-head-text">Firmen-E-Mail</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                        <th>
                            <span class="table-head-text">Anzahl-Produkte</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                        <th>
                            <span class="table-head-text">Status</span>
                            <span class="sort">
                                <a href="javascript:void(0)" class="up"></a>
                                <a href="javascript:void(0)" class="down"></a>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of demoTable | paginate: { itemsPerPage: demoTablePerPage != 'All' ? demoTablePerPage : -1, currentPage: p }" [ngClass]="{'new': row.isNew}">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.city }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.count }}</td>
                        <td>
                            <span class="status-indicator"><i class="ico material-icons" [ngClass]="{'color-success': row.isActive}">lens</i>{{ row.isActive ? 'Aktive' : 'Inaktive' }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls (pageChange)="p = $event" class="mrc-pagination" autoHide="true"></pagination-controls>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Typo</h2>

            <h1>H1 Title</h1>
            <h2>H2 Title</h2>
            <h3>H3 Title</h3>
            <p>Paragraph</p>
            <a href="#">Link</a>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Buttons</h2>
            <div class="mb-3">
                <button class="btn btn-primary btn-50">Anmelden</button>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-40">Firma hinzufügen</button>
            </div>
            <div>
                <button class="btn btn-secondary">Drucken</button>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Forms</h2>

            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Text</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control form-control-plaintext" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-50">Input field 50</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label">Input field 50</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label">Input field 50</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder invalid" tooltip="Ihr Passwort ist leider nicht korrekt" placement="right" isOpen="true">
                            <input type="text" class="form-control form-control" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Input field 50</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder valid">
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Input field 40</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder invalid">
                            <input type="text" class="form-control form-control-sm" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Input field 40</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder">
                            <input type="text" class="form-control form-control-sm form-control-bg" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Input field 40</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder valid">
                            <input type="text" class="form-control form-control-sm form-control-bg" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Input field 40</label>
                    <div class="col-sm-6">
                        <div class="form-control-holder invalid">
                            <input type="text" class="form-control form-control-sm form-control-bg" placeholder="Password">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body" style="min-height: 600px;">
            <h2>Dropdown</h2>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label">Default</label>
                <div class="col-sm-6">
                    <div class="form-control-holder">
                        <ng-select [items]="demoSelectOptions" [clearable]="false"></ng-select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-sm">Default</label>
                <div class="col-sm-6">
                    <div class="form-control-holder">
                        <ng-select [items]="demoSelectOptions" [clearable]="false" class="ng-select-sm"></ng-select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-sm">Default</label>
                <div class="col-sm-6">
                    <div class="form-control-holder">
                        <ng-select [items]="demoSelectOptions" [clearable]="false" class="ng-select-sm ng-select-bg"></ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Tables</h2>
            <div class="row">
                <label class="col-sm-2 col-form-label col-form-sm">Default</label>
                <div class="col-sm-6">
                    <mat-tab-group>
                        <mat-tab label="Angefragt">
                            <h2>Some tab content</h2>
                            <p>...</p>
                        </mat-tab>
                        <mat-tab label="In bearbeitung">
                            <h2>Some more tab content</h2>
                            <p>...</p>
                        </mat-tab>
                        <mat-tab label="Erfolgreich">
                            <h2>Some more tab content</h2>
                            <p>...</p>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2 class="mb-5">Additional UI elements</h2>
            <div class="row mb-5">
                <label class="col-sm-2">Radio buttons</label>
                <div class="col-sm-6">
                    <mat-radio-group class="row">
                        <mat-radio-button value="1" class="col">Option 1</mat-radio-button>
                        <mat-radio-button value="2" class="col">Option 2</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row mb-5">
                <label class="col-sm-2">Toggle</label>
                <div class="col-sm-6">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

</div>

