<mrc-head-content title="Benutzerübersicht">
    <div class="btn-wrap">
        <a routerLink="/admin/add-user" class="btn btn-sm btn-primary btn-wrap-item"><i class="material-icons">add</i> Benutzer hinzufügen</a>
    </div>
</mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'users'"
        [route]="'users'"
        [actions]="actions"
        [statuses]="statuses"
        [filterItems]="filter"></mrc-table>
</div>
