<mrc-head-content title="lieferanten hinzufügen">
    <mrc-form-item-field
        label="Status des Lieferanten:"
        [layout]="'inline'">
        <mat-slide-toggle
            name="status"
            [(ngModel)]="supplierInfo.statusBool"></mat-slide-toggle>
    </mrc-form-item-field>
</mrc-head-content>

<div class="main-content">
    <div class="card">
        <div class="card-body">
            <form #editSupplier="ngForm" (ngSubmit)="create(editSupplier)" class="create-form" *ngIf="!createdinfoInfo">
                <div class="row row-xl-60">
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">info_outline</i> Daten</legend>

                            <mrc-form-item-field
                                label="Name des Lieferanten:"
                                [control]="editSupplier?.controls?.name">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenname"
                                    name="name"
                                    [(ngModel)]="supplierInfo.name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Steuernummer:"
                                [control]="editSupplier?.controls?.vat">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Steuernummer"
                                    name="vat"
                                    [(ngModel)]="supplierInfo.vat"
                                    required>
                            </mrc-form-item-field>
                        </fieldset>

                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">business</i> Kontakt</legend>

                            <mrc-form-item-field
                                label="Zip code:"
                                [control]="editSupplier?.controls?.zip">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Zip code"
                                    name="zip"
                                    [(ngModel)]="supplierInfo.zip"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Stadt:"
                                [control]="editSupplier.controls?.city_id">
                                <ng-select
                                    bindValue="id"
                                    bindLabel="name"
                                    [items]="companyCityList"
                                    [clearable]="false"
                                    [searchable]="true"
                                    name="city_id"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="supplierInfo.city_id"
                                    placeholder="Stadt der Firma"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Adresse:"
                                [control]="editSupplier?.controls?.address">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenadresse"
                                    name="address"
                                    [(ngModel)]="supplierInfo.address"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Telefonnummer:"
                                [control]="editSupplier?.controls?.phone">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Telefonnummer der Firma"
                                    name="phone"
                                    [(ngModel)]="supplierInfo.phone"
                                    phone
                                    required>
                            </mrc-form-item-field>
                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title "><i class="material-icons">account_box</i> Hauptbenutzer</legend>

                            <mrc-form-item-field
                                label="Name des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_first_name">
                                <input
                                    type="text"
                                    id="adminFirstName"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Name"
                                    name="admin_first_name"
                                    [(ngModel)]="supplierInfo.admin_first_name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Vorname des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_last_name">
                                <input
                                    type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Vorname"
                                    name="admin_last_name"
                                    [(ngModel)]="supplierInfo.admin_last_name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="E-Mail des Hauptbenutzers:"
                                [control]="editSupplier?.controls?.admin_email">
                                <input
                                    type="email"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="E-Mail-Adresse"
                                    name="admin_email"
                                    [(ngModel)]="supplierInfo.admin_email"
                                    required
                                    email>
                            </mrc-form-item-field>

                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title">
                                <i class="material-icons">business</i> Related companies
                            </legend>

                            <div class="company-block">
                                <ul>
                                    <li *ngFor="let item of supplierInfo.companies">
                                        {{item?.name}}
                                    </li>
                                </ul>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-12 d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-start">
                        <button type="reset" class="btn btn-default mr-sm-3 mb-3 mb-sm-0" (click)="resetForm($event, editSupplier)">
                            Stornieren
                        </button>

                        <button type="submit" class="btn btn-primary" [disabled]="submitProcess">
                            <span *ngIf="!submitProcess">
                                Speichern
                            </span>
                            <i class="material-icons fa-spin" *ngIf="submitProcess">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

