<div class="layout-unauthorized">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="logo">
                    <img [src]="logo" alt="">
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="title title-sm">Please enter your new password.</h1>

                        <div class="row justify-content-center">
                            <div class="col-sm-8 text-danger" [innerHtml]="errorMessage" *ngIf="errorMessage"></div>
                            <form class="col-sm-8" #resetPasswordForm="ngForm" novalidate (ngSubmit)="resetPassword(resetPasswordForm)">
                                <input
                                    type="hidden"
                                    class="form-control"
                                    name="token"
                                    [(ngModel)]="reset.token"
                                    required>
                                <input
                                    type="hidden"
                                    class="form-control"
                                    name="email"
                                    [(ngModel)]="reset.email"
                                    required>
                                <div class="form-control-holder form-group">
                                    <label>Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="New password"
                                        name="password"
                                        [(ngModel)]="reset.password"
                                        required
                                        validateEqual="password_confirmation"
                                        #password="ngModel"
                                        reverse="true"
                                        password>

                                    <mrc-validation-errors [control]="resetPasswordForm.controls?.password" [direction]="['md-right']"></mrc-validation-errors>
                                </div>
                                <div class="form-control-holder form-group">
                                    <label>Confirm password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Re-enter password"
                                        name="password_confirmation"
                                        #confirmPassword="ngModel"
                                        [(ngModel)]="reset.password_confirmation"
                                        validateEqual="password"
                                        required>
                                    <mrc-validation-errors [control]="resetPasswordForm.controls?.password_confirmation" [direction]="['md-right']"></mrc-validation-errors>
                                </div>
                                <div class="form-group-btn">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid">Einreichen</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
