<div class="wrapper">
    <mrc-head-content [title]="title" subtitle="Portaladministrator">
        <div class="btn-wrap d-flex flex-column flex-sm-row align-items-start align-items-sm-end mt-1 ml-lg-auto">
            <mrc-datepicker
                titleDatepicker="Letzer Monat"
                class="btn-wrap-item"
                (resDates)="getDates($event)"></mrc-datepicker>

            <ng-select
                bindValue="id"
                bindLabel="name"
                placeholder="Firma auswählen"
                [items]="companies"
                [clearable]="false"
                class="ng-select-sm ng-select-bg btn-wrap-item portal-select"
                [(ngModel)]="currentDashboard.companyId"
                (change)="companyChange($event)"></ng-select>

            <a class="btn btn-primary btn-sm btn-wrap-item" [routerLink]="'/admin/create-company'">
                <i class="material-icons">add</i>
                Firma hinzufügen
            </a>
        </div>
    </mrc-head-content>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center mb-3">
                    <h3 class="dashboard-ttl">{{getCompanyName()}}</h3>
                    <mrc-add-widget
                        #addWidget
                        [sourceArr]="sourceArr"
                        [widgetsTotal]="widgets.length"
                        (addWidgetTrigger)="getWidgets(currentDashboard)"
                    ></mrc-add-widget>
                </div>
            </div>
        </div>
        <div class="row" dnd-sortable-container [sortableData]="widgets" *ngIf="widgets.length > 0">

            <div *ngFor="let item of widgets; let i = index;"
                dnd-sortable [sortableIndex]="i" (onDropSuccess)="changeSort(i, item)"
                [ngClass]="{'col-lg-6': i !== 2 || widgets.length === 4, 'col-lg-12': i === 2 && widgets.length === 3}">
                <mrc-card
                    [title]="widgetTitles[item.source]"
                    [item]="item"
                    [widgetTitles]="widgetTitles"
                    [preloader]="preloader[i]"
                    (deleteWidgetTrigger)="deleteWidget($event)"
                    (updateWidgetTrigger)="updateWidget($event)"
                >
                    <mrc-card-chart [data]="item.data.chart" [style]="item.style" [source]="item.source" [index]="i"></mrc-card-chart>
                </mrc-card>
            </div>

            <div *ngFor="let item of widgets; let i = index;"
                dnd-sortable class="" [sortableIndex]="i" (onDropSuccess)="changeSort(i, item)" [ngClass]="{'col-lg-6': widgets.length < 3 || widgets.length === 4, 'col-lg-4': widgets.length === 3
                }">
                <mrc-card
                    [menuOff]="true"
                    [title]="widgetTitles[item.source]"
                    [item]="item"
                    [widgetTitles]="widgetTitles"
                    [preloader]="preloader[i]"
                    (deleteWidgetTrigger)="deleteWidget($event)"
                    (updateWidgetTrigger)="updateWidget($event)"
                >
                    <mrc-card-list [dataTable]="item?.data?.table"></mrc-card-list>
                </mrc-card>
            </div>

        </div>
    </div>
</div>

<ng-template #hideNoOrderWidgetWarning>
    <div class="modal-body">
        <div class="close-wrap">
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="text-center">
            <i class="material-icons text-danger modal-icon">feedback</i>
            <h3 class="pt-1 pb-3">
                The 'No. Of Orders per Company' widget is only available for 'All Companies' selection only
            </h3>
        </div>
    </div>
</ng-template>
