<mrc-head-content title="Angebote verwalten"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'offers'"
        [statuses]="statuses"
        [statusIcons]="true"
        [actions]="actions"
        [route]="'offers'"
        [filterItems]="filter"></mrc-table>
</div>
