<div class="actions-wrap d-flex justify-content-start">
    <button class="btn btn-outline-success btn-xs btn-ico mr-0 mr-3" (click)="userAction(id, 'approve')">
        <i class="material-icons">
            done
        </i> <span class="d-md-none d-lg-inline">Approve</span>
    </button>
    <button class="btn btn-outline-danger btn-xs btn-ico" (click)="userAction(id, 'reject')">
        <i class="material-icons">
            clear
        </i> <span class="d-md-none d-lg-inline">Reject</span>
    </button>
</div>
