<mrc-head-content title="Einstellungen" subtitle="Systemadministrator"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-8 col-lg-10">
            <div class="card">
                <div class="card-body">

                    <form class="settings-form" #settingsForm="ngForm" (ngSubmit)="update(settingsForm)">
                        <div class="row row-xl-60">
                            <div class="col-lg-6">
                                <fieldset class="form-group mt-0">
                                    <legend class="form-group-title"><i class="material-icons">business</i>
                                        Firmeninformationen
                                    </legend>

                                    <div class="form-group">
                                        <label class="form-label-sm">Logo:</label>
                                        <div class="form-control-holder image-uploader">
                                            <div [hidden]="logo.imageUrl || logo.imageData" class="upload-block">
                                                <input type="file"
                                                    name="logo"
                                                    ngModel
                                                    accept="image/*"
                                                    (change)="logo.load($event.target.files)">
                                                <i class="material-icons">cloud_upload</i><br />
                                                Logo hochladen
                                            </div>

                                            <div class="uploaded-block" *ngIf="logo.imageUrl || logo.imageData">
                                                <button (click)="logo.remove()" class="material-icons close">close
                                                </button>
                                                <mrc-image [src]="logo.imageUrl" [data]="logo.imageData"
                                                    [alt]="'Portalbezitzer'"></mrc-image>
                                            </div>
                                        </div>
                                    </div>


                                    <!--<mrc-form-item-field
                                        label="Portalname:"
                                        [id]="'portalname'"
                                        [control]="settingsForm.controls?.name">
                                        <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                placeholder="Mercator Leasing"
                                                name="name"
                                                [(ngModel)]="settings.name" required >
                                    </mrc-form-item-field>-->

                                    <div class="form-group form-group-color">
                                        <label class="form-label-sm mb-0">Hauptfarbe:</label>

                                        <div dropdown
                                            class="dropdown form-control-holder colorpicker"
                                            [autoClose]="false"
                                            #colorpickerDropdown="bs-dropdown"
                                        >
                                            <a href
                                                id="basic-link"
                                                dropdownToggle
                                                (click)="false"
                                                aria-controls="basic-link-dropdown"
                                                class="d-flex align-items-center"
                                            >
                                                Bearbeiten
                                                <span class="selected-color"
                                                    [ngStyle]="{'background-color': settings.color }"></span>
                                            </a>

                                            <div id="basic-link-dropdown" *dropdownMenu
                                                class="dropdown-menu dropdown-menu-right colorpicker-menu"
                                                role="menu" aria-labelledby="basic-link">
                                                <div class="colorpicker-menu-list">
                                                    <label class="colorpicker-menu-list-item row-{{ i }}"
                                                        *ngFor="let color of colors; let i = index"
                                                        [ngClass]="{ 'selected': settings.color === color }">
                                                        <input type="radio" name="color" [(ngModel)]="selectedColor"
                                                            [value]="color">
                                                        <span [ngStyle]="{'background-color': color }"></span>
                                                    </label>
                                                </div>
                                                <div class="text-right">
                                                    <a href="javascript:void(0)" class="text-secondary"
                                                        (click)="colorpickerDropdown.hide(); resetColor();">Close</a>
                                                    <a href="javascript:void(0)" class="text-primary ml-3"
                                                        (click)="colorpickerDropdown.hide(); updateColor();">Apply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset class="form-group mt-0">
                                    <legend class="form-group-title"><i class="material-icons">developer_board</i>
                                        System
                                    </legend>

                                    <mrc-form-item-field
                                        label="Domain"
                                        [id]="'domain'"
                                        [control]="settingsForm.controls?.domain">
                                        <input type="text"
                                            disabled
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="www.domainname.de"
                                            name="domain"
                                            [(ngModel)]="settings.domain" required domain>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="E-Mail:"
                                        [id]="'email'"
                                        [control]="settingsForm.controls?.email">
                                        <input type="email"
                                            disabled
                                            class="form-control form-control-sm form-control-bg"
                                            placeholder="username@domainname.de"
                                            name="email"
                                            [(ngModel)]="settings.email" required email>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Zeitzone:"
                                        [id]="'timezone'"
                                        [control]="settingsForm.controls?.timezone">
                                        <ng-select
                                            [items]="timezones"
                                            [clearable]="false" [searchable]="false"
                                            bindValue="key"
                                            bindLabel="value"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="settings.timezone" placeholder="Zeitzone"
                                            name="timezone"></ng-select>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Datum:"
                                        [id]="'date_format'"
                                        [control]="settingsForm.controls?.date_format">
                                        <mat-radio-group [(ngModel)]="selectedDateFormat" name="date_format">
                                            <mat-radio-button *ngFor="let item of dataFormats"
                                                [value]="item.value"
                                                class="d-block mb-2">{{item.name}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Zeitformat:"
                                        [id]="'time_format'"
                                        [control]="settingsForm.controls?.time_format">
                                        <mat-radio-group [(ngModel)]="selectedTimeFormat" name="time_format">
                                            <mat-radio-button *ngFor="let item of timeFormats"
                                                [value]="item.value"
                                                class="d-block mb-2">{{item.name}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Woche beginnt am:"
                                        [id]="'week_starts_on'"
                                        [control]="settingsForm.controls?.week_starts_on">
                                        <ng-select
                                            [items]="daysOfWeek"
                                            [clearable]="false" [searchable]="false"
                                            bindValue="key"
                                            bindLabel="value"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="settings.week_starts_on" placeholder="Woche beginnt am"
                                            name="week_starts_on"></ng-select>
                                    </mrc-form-item-field>
                                </fieldset>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary float-right" [disabled]="submitting">
                                    <span *ngIf="!submitting">
                                        Absenden
                                    </span>
                                    <i class="material-icons fa-spin" *ngIf="submitting">
                                        autorenew
                                    </i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
