<mrc-head-content title="Übersicht der Firmen"></mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'companies'"
        [statuses]="statuses"
        [route]="'companies'"
        [actions]="actions"
        [filterItems]="filter">
    </mrc-table>
</div>
