<div class="card mb-4">
    <div class="card-body">
        <h3>
            <i class="material-icons">account_box</i>
            Benutzer
        </h3>
        <div class="user">
            <div class="user-avatar">
                <div class="avatar" *ngIf="user?.avatar">
                    <mrc-image [src]="user?.avatar" [alt]="user?.fullname"></mrc-image>
                </div>
                <div class="no-avatar" *ngIf="!user?.avatar">
                    <i *ngIf="!user?.avatar" class="material-icons">person</i>
                </div>
            </div>
            <div class="user-info">
                <div class="user-info-ttl" [innerHTML]="user?.fullname"></div>
                <div class="user-info-txt" [innerHTML]="user?.company?.name"></div>
            </div>
        </div>
        <dl class="row mb-0">
            <dt class="col-xl-6 col-sm-4">Stadt:</dt>
            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.company?.city?.name"></dd>
            <dt class="col-xl-6 col-sm-4">Aktive Verträge:</dt>
            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.active_contracts"></dd>
            <dt class="col-xl-6 col-sm-4">Aktiv seit:</dt>
            <dd class="col-xl-6 col-sm-8">{{ user?.active_from }}</dd>
        </dl>
    </div>
</div>
