<div class="card-table-wrap">
    <table class="table table-borderless table-dashboard table-striped" *ngIf="dataTable?.length > 0">
        <tbody>
        <tr *ngFor="let row of dataTable">
            <td *ngFor="let item of dataHead">
                {{row[item]}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="dataTable.length == 0" class="p-4">
    <h3 class="text-center">No data</h3>
</div>
