<fieldset class="form-group">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-4">
        <legend class="form-group-title mb-3 mb-md-0 w-auto"><i class="material-icons">{{leasingIcon}}</i> Leasingkonditionen</legend>
        <button type="button" class="btn btn-sm btn-secondary" (click)="openAddLeasingModal()">
            <i class="material-icons">add</i> Add New Leasing Condition
        </button>
    </div>

    <div class="mrc-table-header d-flex align-items-center justify-content-between">
        <div class="cell cell-filters align-self-lg-end p-md-0 w-100 w-md-auto" *ngIf="productCategories.length">

            <mat-tab-group (selectedTabChange)="changeProductType($event)" [selectedIndex]="selectedProductTypeIndex" class="d-none d-md-block">
                <mat-tab *ngFor="let category of productCategories" label="{{ category.name }}"></mat-tab>
            </mat-tab-group>

            <ng-select
                name="leasingConditionProductType"
                (change)="changeProductType($event)"
                [items]="productCategories"
                bindValue="id"
                bindLabel="name"
                [clearable]="false"
                [searchable]="false"
                class="ng-select ng-select-sm ng-select-bg novalidate d-block d-md-none"
                [(ngModel)]="selectedProductType"
            ></ng-select>
        </div>
    </div>

    <div class="mrc-datatable-responsive">
        <ngx-datatable
            #table
            *ngIf="productCategories.length && rows"
            class="mrc-datatable"
            [rows]="rows"
            [limit]="10"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="mobileQuery.matches ? 'auto' : '70'"
            [columns]="leasingTableCols"
            [messages]="getErrorMessages()"
            [columnMode]="'flex'">
            <ngx-datatable-footer>
                <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-isVisible="isVisible">


                    <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer> -->
        </ngx-datatable>
    </div>
</fieldset>

<div class="modal fade modal-with-backdrop" bsModal #leasingModal="bs-modal" [config]="{backdrop: false}" (onShow)="isModalOpen = true" (onHidden)="isModalOpen = false; resetLeasingForm()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title pull-left">{{modalTitle}} leasing condition</h2>
                <button type="button" class="close pull-right" aria-label="Close" (click)="leasingModal.hide()">
                    <span aria-hidden="true" class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body">
                <form #leasingForm="ngForm" (ngSubmit)="createLeasing(leasingForm)" id="leasingForm">
                    <mrc-form-item-field
                        label="Product category"
                        [control]="leasingForm?.controls?.product_category_id">

                        <mat-radio-group class="form-group-horizontal d-flex flex-column flex-sm-row flex-wrap" [(ngModel)]="leasing.product_category_id" name="product_category_id" *ngIf="productCategories">
                            <mat-radio-button class="mb-2 mb-sm-0 mr-sm-4" [value]="item.id" *ngFor="let item of productCategories" (change)="changeProductCategory(leasingForm, item)">{{ item.name }}</mat-radio-button>
                        </mat-radio-group>
                    </mrc-form-item-field>

                    <mrc-form-item-field
                        label="Leasing Condition Name"
                        [direction]="['md-right']"
                        [control]="leasingForm?.controls?.name">
                        <input type="text"
                               class="form-control form-control-sm form-control-bg"
                               placeholder="Random name"
                               name="name"
                               [(ngModel)]="leasing.name" required unique [match]="getLeasingNames()">
                    </mrc-form-item-field>

                    <div class="row justify-content-sm-between">
                        <label class="col-sm-4 mt-sm-2">Leasingterms:</label>
                        <div class="col-sm-4">
                            <mrc-form-item-field
                                [direction]="['md-right']"
                                [control]="leasingForm?.controls?.period">
                                <ng-select
                                    name="period"
                                    [items]="leasingTerms"
                                    bindValue="value"
                                    bindLabel="label"
                                    [clearable]="false"
                                    [searchable]="false"
                                    class="ng-select-sm ng-select-bg"
                                    placeholder="-- Select --"
                                    [(ngModel)]="leasing.period" required uniqueLeasingCategoryTerms [category]="leasing.product_category_id" [matches]="getLeasingCategoryTerms()" *ngIf="isModalOpen">
                                </ng-select>
                            </mrc-form-item-field>
                        </div>
                    </div>

                    <div class="row justify-content-sm-between">
                        <label class="col-sm-4 mt-sm-2">Leasingfaktor (%):</label>
                        <div class="col-sm-4">
                            <mrc-form-item-field
                                [direction]="['md-right']"
                                [control]="leasingForm?.controls?.factor">
                                <input type="text"
                                       class="form-control form-control-sm form-control-bg"
                                       placeholder="Eingabe"
                                       name="factor"
                                       [(ngModel)]="leasing.factor" number required [max]="100">
                            </mrc-form-item-field>
                        </div>
                    </div>

                    <div class="row justify-content-sm-between">
                        <label class="col-sm-4 mt-sm-2">Service rate:</label>
                        <div class="col-sm-4">
                            <mrc-form-item-field
                                [direction]="['md-right']"
                                [control]="leasingForm?.controls?.service_rate">
                                <input type="text"
                                       class="form-control form-control-sm form-control-bg"
                                       placeholder="Flat rate"
                                       name="service_rate"
                                        (ngModelChange)="leasing.service_rate = $event"
                                       [ngModel]="leasing.service_rate | flatRate: modalServiceRate" flatRate [max]="99999">
                                        <div *ngIf="leasing.service_rate == modalServiceRate || leasing.service_rate == 'Flat rate'" class="flat-rate-message">
                                            Flat rate is {{modalServiceRate}} €
                                        </div>
                            </mrc-form-item-field>
                        </div>
                    </div>

                    <div class="row justify-content-sm-between">
                        <label class="col-sm-4 mt-sm-2">Residual value (%):</label>
                        <div class="col-sm-4">
                            <mrc-form-item-field
                                [direction]="['md-right']"
                                [control]="leasingForm?.controls?.residual_value">
                                <input type="text"
                                       class="form-control form-control-sm form-control-bg"
                                       placeholder="Eingabe"
                                       name="residual_value"
                                       [(ngModel)]="leasing.residual_value" number [max]="100">
                            </mrc-form-item-field>
                        </div>
                    </div>

                    <div class="row justify-content-sm-between">
                        <label class="col-sm-4 mt-sm-2">Insurance:</label>
                        <div class="col-sm-4">
                            <mrc-form-item-field
                                [direction]="['md-right']"
                                [control]="leasingForm?.controls?.insurance">
                                <input type="text"
                                       class="form-control form-control-sm form-control-bg"
                                       placeholder="Flat rate"
                                       name="insurance"
                                    (ngModelChange)="leasing.insurance = $event"
                                       [ngModel]="leasing.insurance | flatRate: defaultInsurance" flatRate [max]="100">
                                <div *ngIf="leasing.insurance == defaultInsurance || leasing.insurance == 'Flat rate'" class="flat-rate-message">
                                    Flat rate is 0.35%
                                </div>
                            </mrc-form-item-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex flex-column flex-sm-row justify-content-sm-end  align-items-stretch align-items-sm-center">
                <button type="button" (click)="leasingModal.hide()" class="btn btn-secondary mb-3 mb-sm-0 mr-sm-3">Stornieren</button>
                <button form="leasingForm" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-with-backdrop modal-delete-confirmation" bsModal #deleteLeasingModal="bs-modal" [config]="{backdrop: false}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteLeasingModal.hide()">
                    <span aria-hidden="true" class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center text-center">
                <img src="assets/images/ico-delete.png" alt="">
                <h2 class="modal-title">Delete leasing condition?</h2>
                <p>Do you really want to delete leasing condition <br>{{ leasing.name }}</p>
            </div>
            <div class="modal-footer d-flex flex-column flex-sm-row justify-content-center align-items-stretch align-items-sm-center">
                <button type="button" (click)="deleteLeasingModal.hide()" class="btn btn-secondary mb-3 mb-sm-0 mr-sm-3">No</button>
                <button (click)="deleteLeasing($event)" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<ng-template #removeLeasing let-row="row">
    <a href="javascript:void(0)" class="text-secondary material-icons" (click)="openDeleteLeasingModal(row)">delete_outline</a>
</ng-template>

<ng-template #editLeasing let-row="row">
    <a href="javascript:void(0)" class="text-secondary material-icons" (click)="openAddLeasingModal(row)">edit</a>
</ng-template>

<ng-template #cellLeasing let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value">{{ value }}</span>
    </div>
</ng-template>

<ng-template #cellLeasingMonth let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value">{{ value }} month{{value > 1 ? 's' : ''}}</span>
    </div>
</ng-template>

<ng-template #cellLeasingPercent let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value">{{ value }} %</span>
    </div>
</ng-template>

<ng-template #cellLeasingRate let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value" *ngIf="value != selectedProductCategory.service_rate">€</span>
        <span class="value">{{ value | flatRate: selectedProductCategory.service_rate}}</span>
    </div>
</ng-template>

<ng-template #cellLeasingInsurance let-row="row" let-value="value" let-i="index" let-column="column">
    <div class="prop">
        <div class="name" *ngIf="mobileQuery.matches">{{ column.name }}</div>
        <span class="value">{{ value | flatRate: defaultInsurance }}</span>
        <span class="value" *ngIf="value != defaultInsurance">%</span>
    </div>
</ng-template>
