<div class="wrapper">
    <mrc-head-content [link]="'../../../contracts'" [title]="contractTitle" [titleId]="contractID"></mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-md-6 col-xl-4 col-xxl-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">account_box</i>
                            Benutzer
                        </h3>
                        <dl class="row mb-0">
                            <dt class="col-xl-6 col-sm-4">Name:</dt>
                            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.first_name + ' ' + user?.last_name"></dd>
                            <dt class="col-xl-6 col-sm-4">Firmname:</dt>
                            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.company?.name"></dd>
                            <dt class="col-xl-6 col-sm-4">Stadt:</dt>
                            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.company?.city?.name"></dd>
                            <dt class="col-xl-6 col-sm-4">Aktive Verträge:</dt>
                            <dd class="col-xl-6 col-sm-8" [innerHTML]="user?.active_contracts"></dd>
                            <dt class="col-xl-6 col-sm-4">Aktiv seit:</dt>
                            <dd class="col-xl-6 col-sm-8">{{ user?.active_from }}</dd>
                        </dl>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <h3>
                            <i class="material-icons">motorcycle</i>
                            Produkt
                        </h3>

                        <dl class="row mb-0">
                            <dt class="col-md-5 col-6">Brand:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.brand?.name"></dd>
                            <dt class="col-md-5 col-6">Model:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.model?.name"></dd>
                            <dt class="col-md-5 col-6">Kategorie:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.category?.name"></dd>
                            <dt class="col-md-5 col-6">Lieferant:</dt>
                            <dd class="col-md-7 col-6" [innerHTML]="product?.supplier?.name"></dd>
                            <ng-template ngFor let-item [ngForOf]="product?.attributes">
                                <dt class="col-md-5 col-6">{{item.name}}:</dt>
                                <dd class="col-md-7 col-6" [innerHTML]="item.value"></dd>
                            </ng-template>
                            <dt class="col-12">Beschribung:</dt>
                            <dd class="col-12" [innerHTML]="product?.description"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8 col-xxl-6">
                <mrc-detail [contract]="contract" [leasing]="leasing" [product]="product"></mrc-detail>
            </div>
        </div>
    </div>
</div>
