<mrc-head-content title="Report"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <form class="feedback-form" #createReport="ngForm" (ngSubmit)="create(createReport)">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group form-group-mt">
                                    <mrc-form-item-field
                                        label="Option 1:"
                                        [id]="'category'"
                                        [control]="createReport?.controls?.option1">
                                        <ng-select [items]="reportCategory"
                                            bindValue="id"
                                            bindLabel="name"
                                            [clearable]="false" [searchable]="false"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="report.categories[0]" placeholder="Kategorie"
                                            name="option1"
                                            required></ng-select>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Option 2:"
                                        [id]="'category'"
                                        [control]="createReport?.controls?.option2">
                                        <ng-select [items]="reportCategory"
                                            bindValue="id"
                                            bindLabel="name"
                                            [clearable]="false" [searchable]="false"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="report.categories[1]" placeholder="Kategorie"
                                            name="option2" required></ng-select>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Option 3:"
                                        [id]="'category'"
                                        [control]="createReport?.controls?.option3">
                                        <ng-select [items]="reportCategory"
                                            bindValue="id"
                                            bindLabel="name"
                                            [clearable]="false" [searchable]="false"
                                            class="ng-select-sm ng-select-bg"
                                            [(ngModel)]="report.categories[2]" placeholder="Kategorie"
                                            name="option3" required></ng-select>
                                    </mrc-form-item-field>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="form-group form-group-mt">
                                    <mrc-form-item-field
                                        label="Nachricht:"
                                        [id]="'message'"
                                        [control]="createReport?.controls?.body"
                                        [direction]="['bottom']">
                                        <textarea class="form-control form-control-bg"
                                            id="message"
                                            required
                                            [(ngModel)]="report.body"
                                            placeholder="Bitte schreiben Sie hier Ihre Nachricht"
                                            name="body"></textarea>
                                    </mrc-form-item-field>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset class="form-group form-group-mt text-right">
                                    <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                        <span *ngIf="!submitProcess">
                                            Absenden
                                        </span>
                                        <i class="material-icons fa-spin" *ngIf="submitProcess">
                                            autorenew
                                        </i>
                                    </button>
                                </fieldset>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
