<legend class="form-group-title">
    <i class="material-icons">{{icon}}</i>
    {{title}}
</legend>

<mrc-form-item-field
    [control]="control.controls.supplier_ids">
    <ng-select
        [multiple]="true"
        [hideSelected]="true"
        bindValue="id"
        bindLabel="name"
        [items]="suppliersList"
        [clearable]="false"
        [searchable]="searchable"
        class="ng-select-sm ng-select-bg ng-select-multi"
        [(ngModel)]="value"
        placeholder="Add new supplier"
        (change)="onSupplierChange($event)"
        required
        [ngClass]="{'ng-invalid': invalid, 'ng-dirty' : dirty}"
    >
    </ng-select>
</mrc-form-item-field>

<div class="multiple-list">
    <ul>
        <li *ngFor="let item of currentSuppliers">
            {{item?.name}}
            <a href="#" (click)="removeSupplier($event, item?.id)">
                <i class="material-icons">
                    clear
                </i>
            </a>
        </li>
    </ul>
</div>

