<a (click)="openModal(template)">
    <i class="material-icons">
        highlight_off
    </i>
</a>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Confirmation message</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure that you want to delete this {{item | lowercase}}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" aria-label="Close" (click)="modalRef.hide()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary btn-sm" aria-label="Close" (click)="removeItem()">
            Delete
        </button>
    </div>
</ng-template>
