/* You can add global styles to this file, and also import other style files */

@import './styles/variables';

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@ng-select/ng-select/themes/default.theme.css';
@import url('https://unpkg.com/ng2-dnd@5.0.0/bundles/style.css');

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~angular5-toaster/dist/toaster.css';

@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';


@import './styles/mixins';
@import './styles/animations';

@import './styles/close';
@import './styles/colorpicker';
@import './styles/dropdown';
@import './styles/head-content';
@import './styles/header';
@import './styles/image-uploader';
@import './styles/layout';
@import './styles/bootstrap-customize';
@import './styles/form-elements';
@import './styles/footer';
@import './styles/tooltips';
@import './styles/materials';
@import './styles/pagination';
@import './styles/tables';
@import './styles/preloader';
@import './styles/list-table';
@import './styles/sidebar';
@import './styles/datepicker';
@import './styles/card';

@import './styles/pages/add-portal';
@import './styles/pages/contract-form';
@import './styles/pages/order-details';
@import './styles/pages/dashboard';
@import './styles/pages/edit-supplier';
@import './styles/pages/shops';
@import './styles/pages/404';
@import './styles/pages/contract-form';
