<mrc-head-content title="Übersicht über Lieferanten" subtitle="Systemadministrator">
    <div class="btn-wrap mt-1 ml-lg-auto">
        <a routerLink="/admin/add-supplier" class="btn btn-sm btn-primary btn-wrap-item"><i class="material-icons">add</i> Lieferanten hinzufügen</a>
    </div>
</mrc-head-content>

<div class="main-content">
    <mrc-table
        [category]="'suppliers'"
        [statuses]="statuses"
        [actions]="actions"
        [route]="'suppliers'"
        [filterItems]="filter"></mrc-table>
</div>
