<div class="layout-unauthorized">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="logo">
                    <img [src]="logo" alt="">
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="title">Login</h1>

                        <div class="row justify-content-center">
                            <div class="col-sm-8 text-danger" *ngIf="errorMessage" [innerHtml]="errorMessage"></div>
                            <form class="col-sm-8" #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm)">
                                <div
                                    class="form-control-holder form-group">
                                    <input type="email"
                                        class="form-control"
                                        placeholder="E-Mail"
                                        name="email"
                                        [(ngModel)]="email"
                                        maxlength="30"
                                        required email>
                                    <mrc-validation-errors [control]="loginForm.controls?.email" [direction]="['md-right']"></mrc-validation-errors>
                                </div>
                                <div class="form-control-holder form-group">
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Passwort"
                                        name="password"
                                        [(ngModel)]="password"
                                        maxlength="15"
                                        required>
                                    <mrc-validation-errors [control]="loginForm.controls?.password" [direction]="['md-right']"></mrc-validation-errors>
                                </div>
                                <div class="form-group-btn">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid || submitProcess">
                                        <span *ngIf="!submitProcess">Anmelden</span>
                                        <i class="material-icons fa-spin" *ngIf="submitProcess">
                                            autorenew
                                        </i>
                                    </button>
                                </div>
                                <div class="links text-center">
                                    <a [routerLink]="'../password/forgot-password'" class="link-inherit">Passwort vergessen?</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
