<mrc-head-content title="portal hinzufügen" subtitle="Systemadministrator"></mrc-head-content>

<div class="main-content">
    <div class="card">
        <div class="card-body" *ngIf="!error">
            <form #createPortalForm="ngForm" (ngSubmit)="create(createPortalForm)" class="create-form" *ngIf="!portalCreated">
                <div class="row row-xl-60">
                    <div class="col-lg-4">

                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i> Data</legend>


                            <mrc-form-item-field
                                label="Portalname:"
                                [control]="createPortalForm?.controls?.name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Portalnamen eingeben"
                                    name="name"
                                    [(ngModel)]="portal.name"
                                    required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Portal-Domain:"
                                [control]="createPortalForm?.controls?.domain">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="www.domain.de"
                                    name="domain"
                                    [(ngModel)]="portal.domain"
                                    required domain>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Portalstatus:"
                                layout="inline"
                                [control]="createPortalForm?.controls?.status">
                                <mat-slide-toggle name="status" (change)="aktiveToggle()"
                                    [(ngModel)]="portal.statusBool"></mat-slide-toggle>
                            </mrc-form-item-field>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">account_box</i> Hauptbenutzer</legend>

                            <mrc-form-item-field
                                label="Nachname:"
                                [control]="createPortalForm?.controls?.admin_first_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Nachname eintragen"
                                    name="admin_first_name"
                                    [(ngModel)]="portal.admin_first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Vorname:"
                                [control]="createPortalForm?.controls?.admin_last_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Vorname eintragen" name="admin_last_name"
                                    [(ngModel)]="portal.admin_last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="E-Mail-Adresse des Hauptbenutzers:"
                                [control]="createPortalForm?.controls?.admin_email">
                                <input type="email"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="maxsustermann@email.com"
                                    name="admin_email"
                                    [(ngModel)]="portal.admin_email" required email>
                            </mrc-form-item-field>

                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">business</i> Firma</legend>

                            <mrc-form-item-field
                                label="Firmenname:"
                                [control]="createPortalForm?.controls?.company_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenname eingeben"
                                    name="company_name"
                                    [(ngModel)]="portal.company_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Stadt:"
                                [control]="createPortalForm?.controls?.company_city_id">
                                <ng-select
                                    name="company_city_id"
                                    bindValue="id"
                                    bindLabel="name"
                                    [items]="companyCityList"
                                    [clearable]="false"
                                    [searchable]="true"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="portal.company_city_id" placeholder="Stadt auswählen" required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Firmenadresse:"
                                [control]="createPortalForm?.controls?.company_address">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Adresse eingeben"
                                    name="company_address"
                                    [(ngModel)]="portal.company_address" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Ust-ID:"
                                [control]="createPortalForm?.controls?.company_vat">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Adresse eingeben"
                                    name="company_vat"
                                    [(ngModel)]="portal.company_vat" required>
                            </mrc-form-item-field>

                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="form-group">
                            <legend class="form-group-title"><i class="material-icons">settings_applications</i> Portaleinstellungen</legend>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 1:">
                                <mat-slide-toggle name="option1" [(ngModel)]="portal.option1"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 2:">
                                <mat-slide-toggle name="option2" [(ngModel)]="portal.option2"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 3:">
                                <mat-slide-toggle name="option3" [(ngModel)]="portal.option3"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 4:">
                                <mat-slide-toggle name="option4" [(ngModel)]="portal.option4"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 5:">
                                <mat-slide-toggle name="option5" [(ngModel)]="portal.option5"></mat-slide-toggle>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                layout="inline"
                                label="Merkmal 6:">
                                <mat-slide-toggle name="option6" [(ngModel)]="portal.option6"></mat-slide-toggle>
                            </mrc-form-item-field>

                        </fieldset>
                    </div>

                    <div class="col-12">
                        <mrc-leasing-settings
                            [(ngModel)]="portal.leasing_settings"
                            name="leasing_settings"
                            [settings]="portal?.leasing_settings"
                            [leasingIcon]="'settings_applications'"
                        ></mrc-leasing-settings>
                    </div>

                    <div class="col-12 d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-start" *ngIf="createPortalForm.dirty || leasingConditionsDirty">
                        <button type="button" class="btn btn-secondary mb-3 mb-sm-0 mr-sm-4" (click)="resetForm()">Stornieren</button>
                        <button type="submit" class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Speichern
                                </span>
                            <i class="material-icons fa-spin" *ngIf="submitProcess">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="portal-created-info" *ngIf="portalCreated">
                <div class="row row-xl-80 align-items-center">
                    <div class="col-lg-6 text-center">
                        <div class="image">
                            <img src="assets/images/add-portal-success-image.png" alt="">
                        </div>
                        <p>Portal erfolgreich hinzugefugt. {{ portal.admin_first_name }} {{ portal.admin_last_name }}
                            <a href="mailto:{{ portal.admin_email }}">{{ portal.admin_email }}</a></p>
                    </div>
                    <div class="col-lg-6">
                        <h3><i class="material-icons">build</i> Technishe Daten</h3>
                        <table class="list-table">

                            <tr>
                                <th>Portal Key:</th>
                                <td>{{ portal.application_key }} <mrc-cclipboard content="{{ portal.application_key }}"></mrc-cclipboard></td>
                            </tr>
                        </table>
                        <a (click)="getPortalPdf(portal.id)" download class="btn btn-default btn-sm"><i class="material-icons">file_download</i> Als PDF abspeichern</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="error">
            <div class="error-wrap">
                <h1>{{error}}</h1>
            </div>
        </div>
    </div>
</div>
