<mrc-head-content title="Lieferanten"></mrc-head-content>
<div class="main-content">
    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form class="create-form suppliers-form" #suppliers="ngForm" (ngSubmit)="create(suppliers)">
                        <mrc-supplier-select
                            [(ngModel)]="this.suppliersList"
                            [title]="'Lieferantenliste'"
                            [icon]="'local_shipping'"
                            name="supplier_ids"
                            [searchable]="true"
                            [suppliers]="this.suppliersList"
                            [control]="suppliers"
                            required
                        ></mrc-supplier-select>

                        <div>
                            <button class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Absenden
                                </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
