<mrc-head-content [title]="title">
    <mrc-form-item-field
        [label]="statusLabel"
        [layout]="'inline'">
        <mat-slide-toggle
            name="status"
            [(ngModel)]="settings.statusBool"></mat-slide-toggle>
    </mrc-form-item-field>
</mrc-head-content>
<div class="main-content">
    <div class="card">
        <div class="card-body">

            <form class="settings-form" #settingsForm="ngForm" (ngSubmit)="update(settingsForm)">
                <div class="row row-xl-60">
                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title"><i class="material-icons">business</i>
                                Portalinformationen
                            </legend>

                            <div class="form-group">
                                <label class="form-label-sm">Portal-Logo:</label>
                                <div class="form-control-holder image-uploader">
                                    <div [hidden]="logo.imageUrl || logo.imageData" class="upload-block">
                                        <input type="file"
                                            name="logo"
                                            ngModel
                                            accept="image/*"
                                            (change)="logo.load($event.target.files)">
                                        <i class="material-icons">cloud_upload</i><br/>
                                        Logo hochladen
                                    </div>

                                    <div class="uploaded-block" *ngIf="logo.imageUrl || logo.imageData">
                                        <button (click)="logo.remove()" class="material-icons close">close
                                        </button>
                                        <mrc-image [src]="logo.imageUrl" [data]="logo.imageData"
                                            [alt]="'Portalbezitzer'"></mrc-image>
                                    </div>
                                </div>
                            </div>


                            <mrc-form-item-field
                                label="Portalname:"
                                [id]="'portalname'"
                                [control]="settingsForm.controls?.name">
                                <input type="text"
                                    disabled
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Mercator Leasing"
                                    name="name"
                                    [(ngModel)]="settings.name" required>
                            </mrc-form-item-field>

                            <div class="form-group form-group-color">
                                <label class="form-label-sm mb-0">Hauptfarbe:</label>

                                <div dropdown
                                    class="dropdown form-control-holder colorpicker"
                                    [autoClose]="false"
                                    #colorpickerDropdown="bs-dropdown"
                                >
                                    <a href
                                        id="basic-link"
                                        dropdownToggle
                                        (click)="false"
                                        aria-controls="basic-link-dropdown"
                                        class="d-flex align-items-center"
                                    >
                                        Bearbeiten
                                        <span class="selected-color"
                                            [ngStyle]="{'background-color': settings.color }"></span>
                                    </a>

                                    <div id="basic-link-dropdown" *dropdownMenu
                                        class="dropdown-menu dropdown-menu-right colorpicker-menu"
                                        role="menu" aria-labelledby="basic-link">
                                        <div class="colorpicker-menu-list">
                                            <label class="colorpicker-menu-list-item row-{{ i }}"
                                                *ngFor="let color of colors; let i = index"
                                                [ngClass]="{ 'selected': settings.color === color }">
                                                <input type="radio" name="color" [(ngModel)]="selectedColor"
                                                    [value]="color">
                                                <span [ngStyle]="{'background-color': color }"></span>
                                            </label>
                                        </div>
                                        <div class="text-right">
                                            <a href="javascript:void(0)" class="text-secondary"
                                                (click)="colorpickerDropdown.hide(); resetColor();">Close</a>
                                            <a href="javascript:void(0)" class="text-primary ml-3"
                                                (click)="colorpickerDropdown.hide(); updateColor();">Apply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title"><i class="material-icons">info_outline</i>
                                Daten
                            </legend>

                            <mrc-form-item-field
                                label="Portalname"
                                [id]="'portal_name'"
                                [control]="settingsForm.controls?.name">
                                <input type="text"
                                    disabled
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Portalname"
                                    name="name"
                                    [(ngModel)]="settings.name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Portal-Domain"
                                [id]="'domain'"
                                [control]="settingsForm.controls?.domain">
                                <input type="text"
                                    disabled
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="www.domainname.de"
                                    name="domain"
                                    [(ngModel)]="settings.domain" required domain>
                            </mrc-form-item-field>

                        </fieldset>
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title"><i class="material-icons">account_box</i>
                                Hauptbenutzer
                            </legend>

                            <mrc-form-item-field
                                label="First name:"
                                [control]="settingsForm.controls?.admin_first_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="First name"
                                    name="admin_first_name"
                                    [(ngModel)]="settings.admin_first_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="Last name:"
                                [control]="settingsForm.controls?.admin_last_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Last name"
                                    name="admin_last_name"
                                    [(ngModel)]="settings.admin_last_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                label="E-Mail:"
                                [control]="settingsForm.controls?.admin_email">
                                <input type="email"
                                    disabled
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="E-Mail"
                                    name="admin_email"
                                    [(ngModel)]="settings.admin_email" required email>
                            </mrc-form-item-field>
                        </fieldset>

                    </div>

                    <div class="col-lg-4">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title"><i class="material-icons">business</i>
                                Firma
                            </legend>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Firmenname:"
                                [control]="settingsForm.controls?.company_name">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Firmenname"
                                    name="company_name"
                                    [(ngModel)]="settings.company_name" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Zip code:"
                                [control]="settingsForm.controls?.company_zip">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Zip code"
                                    name="company_zip"
                                    [(ngModel)]="settings.company_zip" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Stadt:"
                                [control]="settingsForm.controls?.company_city_id">
                                <ng-select
                                    bindValue="id"
                                    bindLabel="name"
                                    [items]="cityList"
                                    [clearable]="false"
                                    [searchable]="true"
                                    name="company_city_id"
                                    class="ng-select-sm ng-select-bg"
                                    [(ngModel)]="settings.company_city_id"
                                    placeholder="City"
                                    required></ng-select>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Street:"
                                [control]="settingsForm.controls?.company_address">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Street"
                                    name="company_address"
                                    [(ngModel)]="settings.company_address" required>
                            </mrc-form-item-field>

                            <mrc-form-item-field
                                [direction]="['bottom']"
                                label="Ust-ID:"
                                [control]="settingsForm.controls?.company_vat">
                                <input type="text"
                                    class="form-control form-control-sm form-control-bg"
                                    placeholder="Ust-ID"
                                    name="company_vat"
                                    [(ngModel)]="settings.company_vat" required>
                            </mrc-form-item-field>
                        </fieldset>
                    </div>

                    <div class="col-12" *ngIf="user.role === 'Company Admin'">
                        <fieldset class="form-group mt-0">
                            <legend class="form-group-title">
                                <i class="material-icons">settings</i>
                                Firmeninstellungen
                            </legend>

                            <div class="row row-xl-60">
                                <div class="col-lg-4">
                                    <mrc-form-item-field
                                        label="Limit number of contracts per user:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.max_user_contracts">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="max_user_contracts"
                                            [(ngModel)]="settings.max_user_contracts" number required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Limit total amount per user:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.max_user_amount">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="max_user_amount"
                                            [(ngModel)]="settings.max_user_amount" number required>
                                    </mrc-form-item-field>
                                </div>

                                <div class="col-lg-4">
                                    <h6>Insurance and Maintenance</h6>

                                    <mrc-form-item-field
                                        label="Override insurance amount:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.override_insurance_amount">
                                        <mat-slide-toggle
                                            name="override_insurance_amount"
                                            [(ngModel)]="settings.override_insurance_amount"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Insurance monthly amount:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.insurance_monthly_amount">
                                        <input type="text"
                                            class="form-control form-control-sm form-control-bg"
                                            name="insurance_monthly_amount"
                                            [(ngModel)]="settings.insurance_monthly_amount" number required>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Override Maintenance amount:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.override_maintenance_amount">
                                        <mat-slide-toggle
                                            name="override_maintenance_amount"
                                            [(ngModel)]="settings.override_maintenance_amount"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                </div>
                                <div class="col-lg-4">
                                    <h6>Insurance and Maintenance Coverage</h6>

                                    <mrc-form-item-field
                                        label="Insurance covered:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.insurance_covered">
                                        <mat-slide-toggle
                                            name="insurance_covered"
                                            [(ngModel)]="settings.insurance_covered"></mat-slide-toggle>
                                    </mrc-form-item-field>


                                    <div class="d-flex justify-content-between align-items-center inline-form-group">
                                        <mrc-form-item-field
                                            [control]="settingsForm?.controls?.insurance_covered_type">
                                            <mat-radio-group
                                                [(ngModel)]="settings.insurance_covered_type"
                                                name="insurance_covered_type"
                                                required>
                                                <mat-radio-button *ngFor="let item of insuranceType"
                                                    [value]="item"
                                                    class="mr-5">{{item}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </mrc-form-item-field>

                                        <mrc-form-item-field
                                            [direction]="['bottom']"
                                            layout="inline"
                                            [label]="settings.insurance_covered_type === 'Fixed'
                                            ? fixed : settings.insurance_covered_type === 'Percentage'
                                            ? percentage : ''"
                                            [control]="settingsForm.controls?.insurance_covered_amount">

                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                name="insurance_covered_amount"
                                                [(ngModel)]="settings.insurance_covered_amount" number required>

                                        </mrc-form-item-field>
                                    </div>

                                    <mrc-form-item-field
                                        label="Maintenance covered:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.maintenance_covered">
                                        <mat-slide-toggle
                                            name="maintenance_covered"
                                            [(ngModel)]="settings.maintenance_covered"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <mrc-form-item-field
                                        label="Leasing rate:"
                                        layout="inline"
                                        [control]="settingsForm.controls?.leasing_rate">
                                        <mat-slide-toggle
                                            name="leasing_rate"
                                            [(ngModel)]="settings.leasing_rate"></mat-slide-toggle>
                                    </mrc-form-item-field>

                                    <div class="d-flex justify-content-between align-items-center inline-form-group">
                                        <mrc-form-item-field
                                            [control]="settingsForm?.controls?.leasing_rate_type">
                                            <mat-radio-group
                                                [(ngModel)]="settings.leasing_rate_type"
                                                name="leasing_rate_type"
                                                required>
                                                <mat-radio-button *ngFor="let item of rateType"
                                                    [value]="item"
                                                    class="mr-5">{{item}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </mrc-form-item-field>

                                        <mrc-form-item-field
                                            [direction]="['bottom']"
                                            layout="inline"
                                            [label]="settings.leasing_rate_type === 'Fixed'
                                            ? fixed : settings.leasing_rate_type === 'Percentage'
                                            ? percentage : ''"
                                            [control]="settingsForm.controls?.leasing_rate_amount">

                                            <input type="text"
                                                class="form-control form-control-sm form-control-bg"
                                                name="leasing_rate_amount"
                                                [(ngModel)]="settings.leasing_rate_amount" number required>

                                        </mrc-form-item-field>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-12">
                        <mrc-leasing-settings
                            [(ngModel)]="settings.leasing_settings"
                            name="leasing_settings"
                            [settings]="settings?.leasing_settings"
                            [leasingIcon]="'assignment'"
                        ></mrc-leasing-settings>
                    </div>

                    <div class="col-12 d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-start" *ngIf="showSubmit">
                        <button type="reset" class="btn btn-default mr-sm-3 mb-3 mb-sm-0" (click)="resetForm($event, settingsForm)">
                            Stornieren
                        </button>

                        <button class="btn btn-primary float-right" [disabled]="submitting">
                                    <span *ngIf="!submitting">
                                        Absenden
                                    </span>
                            <i class="material-icons fa-spin" *ngIf="submitting">
                                autorenew
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
