:host {
    display: inline-flex;
    align-items: center;
}

.status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    i {
        font-size: 14px;
        width: auto;
        height: auto;
        color: #e6e6e6;
        margin-right: 5px;
        position: relative;
        top: -1px;

        &.big {
            font-size: 21px;
        }
    }
}
