<span class="status text-truncate" title="{{ status.label }}">
    <i class="material-icons text-{{ status.type }} {{icoClass}}">{{statusIcons ? status.ico : 'fiber_manual_record' }}</i> {{ status.label }}
</span>
