@import '../../../styles/variables.scss';
@import '../../../../node_modules/bootstrap/scss/mixins.scss';


:host {

    ::ng-deep {
    
        .form-control-holder {

             p {
                margin: 10px 0 0;
                line-height: (17/15);
             }
        }

        .row-datepicker {

            p {
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }

        .datepicker-line {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .datepicker-holder {
                max-width: 120px;

                .form-control {
                    background-position: right 3px center;
                }
            }

            p {
                margin-right: 10px;
            }

            .form-group {
                margin: 0;
            }
        }

        h3 {

            &:not(:first-child) {
                margin-top: 50px;
                margin-bottom: 16px;
            }
        }

        .form-row-inline {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            .form-control {
                
            }
        }

        .conditions {

            label {
                margin: 0;
            }
        }

        .type {

            .mat-checkbox-label {

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
        
        .form-group-inline {
            margin-bottom: 20px;

            .mat-checkbox-layout {
                vertical-align: top;
            }

            > * {
                margin-bottom: 20px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            .form-control-holder {
                 max-width: none;
            }

            .form-group {
                margin: 0;
            }

            .head-lbl {
                font-size: 13px;
                line-height: 14px;
                min-height: 28px;
            }
        }

        fieldset {
            margin-bottom: 75px;

            > p {
                margin-bottom: 24px;
            }
        }

        .btn-row {

            @include media-breakpoint-up(lg) {
                margin: 30px;
            }
        }

        mrc-form-item-field.mb-0 {

            .form-group {
                margin-bottom: 0;
            }

            & + p {
                margin: 5px 0 25px;
            }
        }
    }
}