<div class="wrapper">
    <mrc-head-content [title]="pageTitle"></mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-xl-10">
                <div class="card card mb-4">
                    <form class="card-body" #contractForm="ngForm" (ngSubmit)="createContract(contractForm)" class="card-body contract-form">
                        <div class="row">
                            <div class="col-12 col-xl-10">

                                <fieldset class="form-group">
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <h3 class="mb-3">zwischen (Mitarbeiter):</h3>

                                            <mrc-form-item-field
                                                label="Name:"
                                                [control]="contractForm.controls.user_name">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.name"
                                                    placeholder="Name"
                                                    name="user_name" required readonly>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Street:"
                                                [control]="contractForm.controls.user_address">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.address"
                                                    placeholder="Street"
                                                    name="user_address" required>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Code:"
                                                [control]="contractForm.controls.user_zip">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.zip"
                                                    placeholder="Code"
                                                    name="user_zip" required>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                class="mb-0"
                                                label="City:"
                                                [control]="contractForm.controls.user_city">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.city"
                                                    placeholder="City"
                                                    name="user_city" required>
                                            </mrc-form-item-field>
                                            <p>- nachfolgend „Mitarbeiter“ genannt -</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <h3 class="mb-3">zwischen (Firma):</h3>

                                            <mrc-form-item-field
                                                label="Name:"
                                                [control]="contractForm.controls.user_company_name">
                                                <input class="form-control form-control-bg form-control-sm locked"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.company.name"
                                                    placeholder="Name"
                                                    name="user_company_name" readonly>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Street:"
                                                [control]="contractForm.controls.user_company_address">
                                                <input class="form-control form-control-bg form-control-sm locked"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.company.address"
                                                    placeholder="Street"
                                                    name="user_company_address" readonly>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Code:"
                                                [control]="contractForm.controls.user_company_zip">
                                                <input class="form-control form-control-bg form-control-sm locked"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.company.zip"
                                                    placeholder="Code"
                                                    name="user_company_zip" readonly>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="City:"
                                                class="mb-0"
                                                [control]="contractForm.controls.user_company_city">
                                                <input class="form-control form-control-bg form-control-sm locked"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.user.company.city"
                                                    placeholder="City"
                                                    name="user_company_city" readonly>
                                            </mrc-form-item-field>
                                            <p>- nachfolgend „Arbeitgeber“ genannt -</p>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="row row-datepicker">
                                        <div class="col-lg-6">
                                            <div class="datepicker-line">
                                                <p>wird zum Anstellungsvertrag vom</p>

                                                <mrc-form-item-field
                                                    class="datepicker-holder"
                                                    [control]="contractForm.controls.offer_date">
                                                    <input class="form-control form-control-bg form-control-sm"
                                                        type="text"
                                                        [(ngModel)]="contractFormModel.offer.date"
                                                        placeholder="Date"
                                                        name="offer_date" readonly>
                                                </mrc-form-item-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>folgende Zusatzvereinbarung geschlossen:</p>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="row">
                                    <div class="col-lg-11">
                                        <fieldset>
                                            <h3>1. Gegenstand der Überlassung</h3>
                                            <p>Der Arbeitgeber überlässt dem Mitarbeiter folgendes Fahrzeug (E-Bike, Pedelec oder Fahrrad), nachstehend Fahrrad genannt, zur beruflichen wie auch privaten Nutzung.</p>
                                        </fieldset>
                                    </div>
                                </div>
                                

                                <fieldset class="form-group">
                                    <div class="row">

                                        <div class="col-lg-6">

                                            <mrc-form-item-field
                                                label="Marke | Modell:"
                                                [control]="contractForm.controls.offer_product_model">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.offer.product.model"
                                                    placeholder="Name"
                                                    name="offer_product_model" required>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                [label]="'Rahmenart | Rahmenhöhe:'"
                                                [control]="contractForm.controls.offer_product_size"
                                            >
                                                <ng-select
                                                    name="offer_product_size"
                                                    bindValue="value"
                                                    bindLabel="label"
                                                    [addTag]="addTagAttribute"
                                                    [items]="attributes.size"
                                                    [clearable]="false"
                                                    [searchable]="true"
                                                    class="ng-select-sm ng-select-bg"
                                                    [(ngModel)]="contractFormModel.offer.product.size" [placeholder]="'Größe'"
                                                    required></ng-select>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                [label]="'Farbe:'"
                                                [control]="contractForm.controls.offer_product_color"
                                            >
                                                <ng-select
                                                    name="offer_product_color"
                                                    bindValue="value"
                                                    bindLabel="label"
                                                    [addTag]="addTagAttribute"
                                                    [items]="attributes.color"
                                                    [clearable]="false"
                                                    [searchable]="true"
                                                    class="ng-select-sm ng-select-bg"
                                                    [(ngModel)]="contractFormModel.offer.product.color" [placeholder]="'Farbe'"
                                                    required></ng-select>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Zubehör:"
                                                [control]="contractForm.controls.offer_product_accessories">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.offer.product.accessories"
                                                    placeholder="Zubehör"
                                                    name="offer_product_accessories">
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                label="Rahmen-/Geräte-Nr.:"
                                                [control]="contractForm.controls.product_frame_id">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.offer.product.frame_id"
                                                    placeholder="ID"
                                                    name="product_frame_id" required>
                                            </mrc-form-item-field>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                label="Parteien vereinbaren als Überlassungstag:"
                                                [direction]="['bottom', 'xl-right']"
                                                [control]="contractForm.controls.offer_product_transfer_date">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.offer.product.transfer_date"
                                                    placeholder="Date"
                                                    name="offer_product_transfer_date" readonly>
                                            </mrc-form-item-field>

                                            <mrc-form-item-field
                                                [label]="'Ende der Laufzeit (Month):'"
                                                [direction]="['bottom', 'xl-right']"
                                                [control]="contractForm.controls.offer_product_period"
                                            >
                                                <ng-select
                                                    name="offer_product_period"
                                                    bindValue="period"
                                                    bindLabel="period"
                                                    [items]="leasings"
                                                    [clearable]="false"
                                                    [searchable]="false"
                                                    class="ng-select-sm ng-select-bg"
                                                    [(ngModel)]="contractFormModel.offer.product.period" [placeholder]="'Period'"
                                                    (change)="setPeriod()"
                                                    required></ng-select>
                                            </mrc-form-item-field>

                                            
                                            <mrc-form-item-field
                                                label="Bruttolistenpreis:"
                                                [direction]="['bottom', 'xl-right']"
                                                [control]="contractForm.controls.offer_product_normal_price">

                                                    <div class="row row-20 align-items-center">
                                                        <div class="col">
                                                            <input class="form-control form-control-bg form-control-sm"
                                                                type="text"
                                                                [(ngModel)]="contractFormModel.offer.product.normal_price"
                                                                placeholder="Bruttolistenpreis"
                                                                name="offer_product_normal_price" required readonly number>
                                                        </div>
                                                        <div class="col">EUR inkl. MwSt.</div>
                                                    </div>
                                            </mrc-form-item-field>
                                            
                                            <mrc-form-item-field
                                                label="Fachhändler:"
                                                [direction]="['bottom', 'xl-right']"
                                                [control]="contractForm.controls.offer_product_supplier_name">
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.offer.product.supplier_name"
                                                    placeholder="Fachhändler"
                                                    name="offer_product_supplier_name" required>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>

                        <fieldset class="conditions">
                            <div class="row d-none d-lg-flex form-group-inline mb-0">
                                <div class="col-lg-6 offset-lg-6">
                                    <div class="row">
                                        <div class="col-lg head-lbl">Kostenübernahme durch(€)</div>
                                        <div class="col-lg head-lbl">Kosten / Monat(%)</div>
                                        <div class="col-lg-6"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center">
                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-lg-4">
                                            <label>Leasingrate</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_leasing_rate_type_fixed"
                                                (change)="changeLeasingRateType($event, 'Fixed')"
                                                [checked]="contractFormModel.conditions.leasing_rate_type === 'Fixed'"
                                            >
                                                Kostenübernahme durch
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_leasing_rate_type_percentage"
                                                (change)="changeLeasingRateType($event, 'Percentage')"
                                                [checked]="contractFormModel.conditions.leasing_rate_type === 'Percentage'"
                                            >
                                                Kosten / Monat
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                [direction]="['bottom', 'xl-right']"
                                                [control]="contractForm.controls.conditions_leasing_rate_amount"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.conditions.leasing_rate_amount"
                                                    name="conditions_leasing_rate_amount" readonly>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center">
                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-lg-4">
                                            <label>Versicherung</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_insurance_type_fixed"
                                                (change)="changeInsuranceType($event, 'Fixed')"
                                                [checked]="contractFormModel.conditions.insurance_type === 'Fixed'"
                                            >
                                                Kostenübernahme durch
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_insurance_type_percentage"
                                                (change)="changeInsuranceType($event, 'Percentage')"
                                                [checked]="contractFormModel.conditions.insurance_type === 'Percentage'"
                                            >
                                                Kosten / Monat
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                [control]="contractForm.controls.conditions_insurance_amount"
                                                [direction]="['bottom', 'xl-right']"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text"
                                                    [(ngModel)]="contractFormModel.conditions.insurance_amount"
                                                    name="conditions_insurance_amount" readonly>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center">
                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-lg-4">
                                            <label>Wartungspaket</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <mat-checkbox
                                                name="conditions_service_package_repair_include"
                                                [(ngModel)]="contractFormModel.conditions.service_package.repair.include"
                                            >
                                                Reparaturpaket incl. UVV
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_repair_type_fixed"
                                                [disabled]="!contractFormModel.conditions.service_package.repair.include"
                                                (change)="changeRepairType($event, 'Fixed')"
                                                [checked]="contractFormModel.conditions.service_package.repair.type === 'Fixed'"
                                            >
                                                Kostenübernahme durch
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_repair_type_percentage"
                                                [disabled]="!contractFormModel.conditions.service_package.repair.include"
                                                (change)="changeRepairType($event, 'Percentage')"
                                                [checked]="contractFormModel.conditions.service_package.repair.type === 'Percentage'"
                                            >
                                                Kosten / Monat
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                [control]="contractForm.controls.conditions_service_package_repair_amount"
                                                [direction]="['bottom', 'xl-right']"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text" 
                                                    [disabled]="!contractFormModel.conditions.service_package.repair.include"
                                                    [required]="contractFormModel.conditions.service_package.repair.include"
                                                    [(ngModel)]="contractFormModel.conditions.service_package.repair.amount"
                                                    name="conditions_service_package_repair_amount" number>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center">
                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-lg-8 offset-lg-4">
                                            <mat-checkbox
                                                name="conditions_service_package_biv_include"
                                                [(ngModel)]="contractFormModel.conditions.service_package.biv.include"
                                            >
                                                Wartungspaket nach BIV incl. UVV
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_biv_type_fixed"
                                                [disabled]="!contractFormModel.conditions.service_package.biv.include"
                                                (change)="changeBivType($event, 'Fixed')"
                                                [checked]="contractFormModel.conditions.service_package.biv.type === 'Fixed'"
                                            >
                                                Kostenübernahme durch
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_biv_type_percentage"
                                                [disabled]="!contractFormModel.conditions.service_package.biv.include"
                                                (change)="changeBivType($event, 'Percentage')"
                                                [checked]="contractFormModel.conditions.service_package.biv.type === 'Percentage'"
                                            >
                                                Kosten / Monat
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                [control]="contractForm.controls.conditions_service_package_biv_amount"
                                                [direction]="['bottom', 'xl-right']"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text" 
                                                    [disabled]="!contractFormModel.conditions.service_package.biv.include"
                                                    [required]="contractFormModel.conditions.service_package.biv.include"
                                                    [(ngModel)]="contractFormModel.conditions.service_package.biv.amount"
                                                    name="conditions_service_package_biv_amount"
                                                    number>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center">
                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-lg-8 offset-lg-4 d-flex flex-nowrap align-items-center">
                                            <mat-checkbox
                                                class="mr-2"
                                                name="conditions_service_package_other_include"
                                                [(ngModel)]="contractFormModel.conditions.service_package.other.include"
                                            >
                                            </mat-checkbox>
                                            <mrc-form-item-field
                                                [control]="contractForm.controls.conditions_service_package_other_name"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text" 
                                                    [disabled]="!contractFormModel.conditions.service_package.other.include"
                                                    [required]="contractFormModel.conditions.service_package.other.include"
                                                    [(ngModel)]="contractFormModel.conditions.service_package.other.name"
                                                    name="conditions_service_package_other_name"
                                                >
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row form-group-inline">
                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_other_type_fixed"
                                                [disabled]="!contractFormModel.conditions.service_package.other.include"
                                                (change)="changeOtherType($event, 'Fixed')"
                                                [checked]="contractFormModel.conditions.service_package.other.type === 'Fixed'"
                                            >
                                                Kostenübernahme durch
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-sm">
                                            <mat-checkbox
                                                class="type"
                                                name="conditions_service_package_other_type_percentage"
                                                [disabled]="!contractFormModel.conditions.service_package.other.include"
                                                (change)="changeOtherType($event, 'Percentage')"
                                                [checked]="contractFormModel.conditions.service_package.other.type === 'Percentage'"
                                            >
                                                Kosten / Monat
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-lg-6">
                                            <mrc-form-item-field
                                                [control]="contractForm.controls.conditions_service_package_other_amount"
                                                [direction]="['bottom', 'xl-right']"
                                                class="w-100"
                                            >
                                                <input class="form-control form-control-bg form-control-sm"
                                                    type="text" 
                                                    [disabled]="!contractFormModel.conditions.service_package.other.include"
                                                    [required]="contractFormModel.conditions.service_package.other.include"
                                                    [(ngModel)]="contractFormModel.conditions.service_package.other.amount"
                                                    name="conditions_service_package_other_amount"
                                                    number>
                                            </mrc-form-item-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-lg-center form-group-inline">
                                <div class="col-lg-9 col-md-6">
                                    <label>Geldwerter Vorteil</label>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <mrc-form-item-field
                                        [control]="contractForm.controls.conditions_money_saving"
                                        [direction]="['bottom', 'xl-right']"
                                        class="w-100"
                                    >
                                        <input class="form-control form-control-bg form-control-sm"
                                            type="text" 
                                            required
                                            [(ngModel)]="contractFormModel.conditions.money_saving"
                                            name="conditions_money_saving"
                                            required 
                                            number>
                                    </mrc-form-item-field>
                                </div>
                            </div>

                            <div class="row align-items-lg-center form-group-inline">
                                <div class="col-lg-9 col-md-6">
                                    <label>Zuschuss des Arbeitgebers</label>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <mrc-form-item-field
                                        [control]="contractForm.controls.conditions_employer_grant"
                                        [direction]="['bottom', 'xl-right']"
                                        class="w-100"
                                    >
                                        <input class="form-control form-control-bg form-control-sm"
                                            type="text" 
                                            required
                                            [(ngModel)]="contractFormModel.conditions.employer_grant"
                                            name="conditions_employer_grant"
                                            required
                                            number>
                                    </mrc-form-item-field>
                                </div>
                            </div>

                            <div class="row align-items-lg-center form-group-inline">
                                <div class="col-lg-9 col-md-6">
                                    <label>Gesamtrate (vom Bruttoentgelt einbehalten)</label>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <mrc-form-item-field
                                        [control]="contractForm.controls.conditions_total_amount"
                                        [direction]="['bottom', 'xl-right']"
                                        class="w-100"
                                    >
                                        <input class="form-control form-control-bg form-control-sm"
                                            type="text" 
                                            required
                                            [(ngModel)]="contractFormModel.conditions.total_amount"
                                            name="conditions_total_amount"
                                            required
                                            number>
                                    </mrc-form-item-field>
                                </div>
                            </div>

                        </fieldset>

                        <div class="row">
                            <div class="col-lg-11">

                                <fieldset>
                                    <h3>2. Gehaltsumwandlung</h3>
                                    <p>Während der Überlassung verzichtet der Mitarbeiter auf Gehaltsbestandteile im Rahmen einer Barlohnumwandlung. Die Lea- singrate für das Fahrrad wird dem Mitarbeiter vom Bruttogehalt abgezogen. Ebenfalls vom Bruttogehalt abgezogen, werden optional vom Arbeitgeber hinzugefügte Leistungen aus den Servicepaketen und ggf. die Versicherung, wenn der Arbeitgeber die Kosten nicht übernimmt. Die Umwandlung beginnt mit dem auf die Übernahme folgenden Monatsersten. Erfolgt die Über- nahme innerhalb eines Monats, so wird die Leasingrate anteilig je Tag mit 1/30 berechnet.
                                    </p>
                                    <p>Aufgrund der Privatnutzung des Fahrrads entsteht dem Mitarbeiter ein geldwerter Vorteil. Die Versteuerung des geldwerten Vorteils (1%-Regelung) sowie die sozialversicherungsrechtliche Berücksichtigung des Fahrradleasings erfolgt entsprechend der jeweils geltenden gesetzlichen Bestimmungen. Den Parteien ist bewusst, dass sich die anwendbaren Regelungen der Versteuerung während der Laufzeit des Überlassungsvertrags ändern können.</p>
                                </fieldset>

                                <fieldset>
                                    <h3>3. Versicherung</h3>
                                    <p>Laut Allgemeinen Leasingbedingungen muss das Fahrrad versichert sein. Die Versicherungsbedingungen erhält der Mitarbei- ter vom Arbeitgeber und sind Bestandteil der Vertragsunterlagen. Im Interesse der Schadensverhütung/Diebstahlvermeidung ist das Fahrrad mittels eines hochwertigen Schlosses im Wert von 49 Euro an einem festen Gegenstand anzuschließen. Der Kaufbeleg für das Schloss ist als Nachweis aufzubewahren.</p>
                                    <p>Alle nicht von der Versicherung gedeckten und von ihm zu verantwortenden Schäden trägt der Mitarbeiter, z.B. Schäden aus Vorsatz, grober Fahrlässigkeit, Verletzung von Obliegenheiten aus dem Versicherungsvertrag, Wertminderung durch nicht vertragsgemäßen Gebrauch, sowie Selbstbehalt der Versicherung. Dies gilt auch für Schäden, die durch oder mit dem Fahrrad Dritten zugefügt werden. Dem Mitarbeiter wird empfohlen, eine private Haftpflichtversicherung zu unterhalten und einen Helm zu tragen.</p>
                                    <p>Schäden, Diebstahl, Verlust, Unfall, etc. sind unverzüglich dem Arbeitgeber zu melden und ggf. Anzeige bei der Polizei zu er- statten. Erst nach Mitteilung der Versicherung kann ein Fahrradfachhändler beauftragt werden (Kostenvoranschlag, Reparatur oder Wiederbeschaffungsrechnung).</p>
                                    <p>Der Mitarbeiter haftet für alle Unfälle, Verluste und Beschädigungen des Fahrrads sofern diese nicht durch Garantie, Gewähr- leistung oder eine Versicherung abgedeckt sind.</p>
                                </fieldset>

                                <fieldset>
                                    <h3>4. Servicepakete</h3>
                                    <p>Die baron mobility service gmbh bietet diverse Servicepakete für Wartung/Inspektion sowie Unfallverhütung optional mit zum Kauf an. Diese Produkte sind in einem Servicevertrag mit Leistungsbeschreibung definiert und werden auf Wunsch zusätzlich vom Arbeitgeber mitgebucht. Der Servicevertrag wird auf alle Leasingverträge automatisch angewendet, sofern ein Unterneh- men diese Leistungen wünscht.</p>
                                    <p>Der Einzelpreis und die Leistungen von den Servicepaketen ist sowohl auf der Homepage als auch im Bestellportal einsehbar. Serviceverträge sind nicht individuell vom Mitarbeiter wählbar, sondern werden vom Arbeitgeber als fester Bestandteil zur Voraussetzung eines Leasingvertrages entschieden.</p>
                                    <p>Die Kosten für die Servicepakete werden vom Bruttolohn mit in die Gehaltsumwandlung einbezogen, sofern der Arbeitgeber nicht bezuschusst.</p>
                                </fieldset>

                                <fieldset>
                                    <h3>5. Pflichten und Obliegenheiten</h3>
                                    <p>Das Fahrrad ist ordnungsgemäß zu warten und zu pflegen. Der Mitarbeiter verpflichtet sich, es in einem verkehrs- und be- triebssicheren Zustand zu halten. Die Kosten einschließlich verschleißbedingter Reparaturen sowie die Kosten zur Wiederher- stellung des ordnungsgemäßen Zustands bei Rückgabe trägt der Mitarbeiter.</p>
                                    <p>Das Fahrrad darf nicht vermietet, verliehen, verschenkt, veräußert oder mit Rechten Dritter belastet werden. Es bleibt während der gesamten Überlassungszeit das Eigentum des Leasinggebers. Eine Nutzung durch Ehe-/Lebenspartner, Lebensgefährten oder andere Personen, die im Haushalt des Mitarbeiters leben, ist zulässig bei Haftung des Mitarbeiters.<br>
                                    Das Fahrrad kann im Inland und Ausland uneingeschränkt privat genutzt werden. Die Teilnahme an Sportveranstaltungen und Wettkämpfen ist nicht gestattet.</p>
                                    <p>Der Arbeitgeber behält sich vor, sich von dem Zustand des Fahrrads jederzeit überzeugen zu dürfen.<br>
                                    Ein Umbau ist nicht zulässig. Ein Anbau/Tausch von Sattel, Lenkergriffen, Pedalen, Klingel, Rückspiegel, Tacho ist zulässig, soweit diese Teile gegenüber der Erstausstattung gleich- oder höherwertig sind.</p>
                                    <p>Der Mitarbeiter hat die gesetzlichen Vorschriften (z.B. StVO, StGB) zu beachten. Soweit die Nutzung eine Fahrerlaubnis erfor- dert, hat der Mitarbeiter diese spätestens bei Vertragsabschluß dem Arbeitgeber vorzulegen und danach auf Anforderung. Für Verkehrsverstöße oder Strafen ist der Mitarbeiter selbst verantwortlich. Der Verlust der Fahrerlaubnis ist dem Arbeitgeber unverzüglich anzuzeigen.</p>
                                    <p>Dem Mitarbeiter obliegt die Pflicht zur ordnungsgemäßen Kennzeichnung und Versicherung, wenn das Fahrrad ein Versiche- rungskennzeichen erfordert.</p>
                                </fieldset>

                                <fieldset>
                                    <h3>6. Rückgabe</h3>
                                    <p>Wenn keine anderen Absprachen getroffen wurden ist der Mitarbeiter verpflichtet, das Fahrrad mit allen Unterlagen und Zu- behörteilen in einem ordnungsgemäßen, mangelfreien, gewarteten und funktionstüchtigen Zustand an baron mobility service gmbh zu übergeben.</p>
                                    <p>Der Mitarbeiter ist verpflichtet, das Fahrrad an den Arbeitgeber herauszugeben, wenn er erheblich gegen den Überlassungsver- trag verstößt oder aus sonstigen erheblichen Gründen.</p>
                                    <p>Wechselt der Arbeitnehmer zu einem anderen Arbeitgeber und gestattet dieser das Fahrradleasing, wird der Leasingvertrag auf den neuen Arbeitgeber für eine einmalige Bearbeitungsgebühr in Höhe von 75 Euro plus MwSt. überschrieben.</p>
                                </fieldset>

                                <fieldset class="mb-0">
                                    <h3>7. Schlussbestimmungen</h3>
                                    <p>Der Mitarbeiter wird darauf hingewiesen, dass alle im Rahmen der Vertragsabwicklung bekannt gewordenen personenbezoge- nen Daten rechtmäßig und entsprechend den Bestimmungen des Bundesdatenschutzgesetzes und des Telemediengesetzes erhoben, elektronisch gespeichert, genutzt und vertraulich behandelt werden. Der Mitarbeiter ist damit einverstanden, dass die Daten für Zwecke der Abwicklung des Leasinggeschäfts an Dritte übermittelt werden dürfen. Auf Verlangen des Mitarbeiters hat der Arbeitgeber Auskunft über die gespeicherten Daten und über die Personen/Stellen zu erteilen, an die die Übermittlung erfolgt ist. Mit seiner Unterschrift unter diesen Vertrag erklärt sich der Mitarbeiter ausdrücklich mit der Speicherung der Daten bis zum Widerruf einverstanden.</p>
                                    <p>Nebenabreden, Änderungen und Ergänzungen dieses Vertrages bedürfen zu ihrer Wirksamkeit der Schriftform. Dies gilt auch für eine Änderung oder Aufhebung dieser Schriftformklausel.</p>
                                    <p>Sollten einzelne Bestimmungen dieses Vertrages ganz oder teilweise unwirksam oder undurchführbar sein oder werden, oder sollte eine unbeabsichtigte Regelungslücke bestehen, bleibt die Wirksamkeit der übrigen Bestimmungen hiervon unberührt. Anstelle der unwirksamen oder undurchführbaren Bestimmungen oder zur Ausfüllung der Regelungslücke gilt eine angemes- sene Regelung, die – soweit rechtlich möglich – dem am nächsten kommt, was die Vertragsparteien gewollt haben oder nach dem Sinn und Zweck dieses Vertrags gewollt hätten, soweit sie beim Abschluß diesen Punkt bedacht hätten.</p>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <mrc-form-item-field
                                    [label]="'Ort, Datum:'"
                                    [control]="contractForm.controls.signatures_user_date"
                                    [direction]="['bottom', 'xl-right']"
                                    class="w-100"
                                >
                                    <input class="form-control form-control-bg form-control-sm"
                                        type="text" 
                                        readonly
                                        [(ngModel)]="contractFormModel.signatures.user.date"
                                        name="signatures_user_date"
                                    >
                                </mrc-form-item-field>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <mrc-form-item-field
                                    [label]="'Ort, Datum:'"
                                    [control]="contractForm.controls.signatures_company_date"
                                    [direction]="['bottom', 'xl-right']"
                                    class="w-100"
                                >
                                    <input class="form-control form-control-bg form-control-sm"
                                        type="text" 
                                        readonly
                                        [(ngModel)]="contractFormModel.signatures.company.date"
                                        name="signatures_company_date"
                                    >
                                </mrc-form-item-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <mrc-form-item-field
                                    [label]="'Unterschrift Mitarbeiter:'"
                                    [control]="contractForm.controls.signatures_user_name"
                                    class="w-100"
                                >
                                    <input class="form-control form-control-bg form-control-sm"
                                        type="text" 
                                        required
                                        [(ngModel)]="contractFormModel.signatures.user.name"
                                        name="signatures_user_name"
                                    >
                                </mrc-form-item-field>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <mrc-form-item-field
                                    [label]="'Unterschrift Mitarbeiter:'"
                                    [control]="contractForm.controls.signatures_company_name"
                                    [direction]="['bottom', 'xl-right']"
                                    class="w-100"
                                >
                                    <input class="form-control form-control-bg form-control-sm"
                                        type="text" 
                                        readonly
                                        [(ngModel)]="contractFormModel.signatures.company.name"
                                        name="signatures_company_anme"
                                    >
                                </mrc-form-item-field>
                            </div>
                        </div>

                        <div class="btn-row d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-start">
                            <button type="submit" class="btn btn-primary float-right" [disabled]="submitProcess">
                                <span *ngIf="!submitProcess">
                                    Absenden und herunterladen
                                </span>
                                <i class="material-icons fa-spin" *ngIf="submitProcess">
                                    autorenew
                                </i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div #pdfModal="bs-modal" bsModal [config]="{backdrop: false}"
    role="dialog" aria-labelledby="dialog-events-name"
    class="modal fade modal-with-backdrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="pdfModal.hide()">
                    <span aria-hidden="true" class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="step === 0"
                    class="d-flex flex-column justify-content-center align-items-center text-center">
                    <img src="assets/images/pdf-icon.png" alt="pdf">
                    <h3 class="title mb-3 mt-4 font-weight-normal">Ihr Vertrag steht bereit</h3>
                    <p class="mb-4 text-modal">
                        Ihr Vertrag steht bereit. Laden Sie ihn bitte herunter und fügen Sie ihn Ihrer Bestellung bei.
                    </p>
                    <button type="button"
                        class="btn btn-primary"
                        (click)="downloadPdf()">Vertrag herunterladen</button>
                </div>
                <div *ngIf="step === 1">
                    <h3 class="title mb-5 mt-4 font-weight-normal text-center">Unterzeichneten Vertrag hochladen</h3>

                    <div class="text-danger mb-3" *ngIf="errorMessage">{{errorMessage}}</div>

                    <form>
                        <div class="form-group">
                            <div class="form-control-holder image-uploader">
                                <div class="upload-block">
                                    <input type="file"
                                        name="file"
                                        ngModel
                                        accept="application/pdf"
                                        (change)="sendPdf($event.target.files)">
                                    <i class="material-icons">cloud_upload</i><br/>
                                    <div class="pdf-link">
                                        Fügen Sie Ihren Vertrag durch Drag & Drop hinzu<br>
                                        oder <a href="javascript: void(0);">wählen Sie einen Ordner aus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <p class="text-center mt-5">Bitte unterschreiben und hochladen</p>
                </div>
            </div>
        </div>
    </div>
</div>
