<div class="wrapper">
    <mrc-head-content [link]="'../../offers'" [title]="offerTitle" [titleId]="offerObj?.code"></mrc-head-content>
    <div class="main-content">
        <div class="row row-18 row-xl-30 align-items-xl-stretch">
            <div class="col-lg-10">
                <div class="card card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="mb-3">
                                    <i class="material-icons">motorcycle</i>
                                    Produkt
                                </h3>

                                <dl class="row mb-0">
                                    <dt class="col-md-4 col-6">Brand:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.brand?.name"></dd>
                                    <dt class="col-md-4 col-6">Model:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.model?.name"></dd>
                                    <dt class="col-md-4 col-6">Kategorie:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.category?.name"></dd>
                                    <dt class="col-md-4 col-6">Lieferant:</dt>
                                    <dd class="col-md-8 col-6" [innerHTML]="product?.supplier?.name"></dd>
                                    <ng-template ngFor let-item [ngForOf]="product?.attributes">
                                        <dt class="col-md-4 col-6">{{item.name}}:</dt>
                                        <dd class="col-md-8 col-6" [innerHTML]="item.value"></dd>
                                    </ng-template>
                                    <dt class="col-12">Beschribung:</dt>
                                    <dd class="col-12" [innerHTML]="product?.description"></dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">
                                    <i class="material-icons">monetization_on</i>
                                    Angebotdetails
                                </h3>

                                <dl class="row mb-0">
                                    <dt class="col-md-5 col-6">Normal price</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.normal_price | currency: 'EUR'"></dd>
                                    <dt class="col-md-5 col-6">Discount price</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.discount_price | currency: 'EUR'"></dd>
                                    <dt class="col-md-5 col-6">Price for the accessories:</dt>
                                    <dd class="col-md-7 col-6" [innerHTML]="offerObj?.accessories_price | currency: 'EUR'"></dd>
                                    <dt class="col-12">Kommentar:</dt>
                                    <dd class="col-12" [innerHTML]="offerObj?.notes"></dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
