<div class="inner">

    <div class="result" *ngIf="!searchService.loading && searchService.previewTotal > 0">

        <div class="group">

            <div *ngFor="let category of searchService.previewSearchResult.categories">
                <div *ngIf="category.items.length">
                    <div class="title">{{ categories[category.slug] }}</div>
            
                    <div class="holder">
                        <ul class="row">
                            <li *ngFor="let item of category.items" class="col-md-4">
                                <a href="javascript:void(0)"  class="link-inherit" (click)="goToSingle(item, category.slug)">{{ getSingleName(item, category.slug) }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="total">
            <a href="javascript:void(0)" (click)="goToSearch()" class="text-primary">See all {{ searchService.previewTotal }} result{{ searchService.previewTotal > 1 ? 's' : '' }} ></a>
        </div>
    </div>

    <div class="no-result" *ngIf="!searchService.loading && searchService.previewTotal === 0">Not found</div>


    <mat-spinner *ngIf="searchService.loading" [diameter]="24" class="ml-auto mr-auto mt-3 mb-3"></mat-spinner>

</div>

