<div class="card mb-4" (clickOutside)="onClickOutside($event, item ? item.id : '')" [exclude]="'.dropdown-item'">
    <div class="preloader" *ngIf="preloader">
        <i class="material-icons fa-spin">
            cached
        </i>
    </div>
    <div class="card-header" *ngIf="!showSource && !showStyle">
        <h3 class="card-title">{{title}}</h3>

        <div class="btn-group" dropdown placement="bottom right" *ngIf="!menuOff">
            <button class="settings-btn" dropdownToggle type="button">
                <i class="material-icons">
                    more_vert
                </i>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-alignment">
                <li role="menuitem">
                    <a class="dropdown-item"
                        href="#"
                        (click)="changeSource($event)"
                    >
                        Change source
                    </a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item"
                        href="#"
                        (click)="changeStyle($event)"
                    >Change style</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item"
                        href="#"
                        (click)="deleteWidget($event)">
                        Delete widget
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-header" *ngIf="showSource">
        <div class="d-flex justify-content-between align-items-center w-100">
            <label class="card-label">
                Summary by
                <ng-select
                    bindValue="value"
                    bindLabel="label"
                    placeholder="Select source"
                    [items]="sourceArray"
                    [clearable]="false"
                    [(ngModel)]="sourceValue"
                    (change)="onChangeSource($event)"
                    class="ng-select-xs ng-select-bg btn-wrap-item portal-select ml-sm-3"
                ></ng-select>
            </label>
            <a class="card-icon"
                href="#"
                (click)="deleteWidget($event)">
                <i class="material-icons">
                    delete_outline
                </i>
            </a>
        </div>
    </div>
    <div class="card-header" *ngIf="showStyle">
        <div class="d-flex justify-content-end align-items-center w-100">
            <a class="ml-3 card-icon"
                href="#"
                [ngClass]="{'active': item.style === 'line'}"
                (click)="onChangeStyle($event, 'line')">
                <i class="material-icons chart-icon">
                    timeline
                </i>
            </a>
            <a class="ml-3 card-icon"
                href="#"
                [ngClass]="{'active': item.style === 'bar'}"
                (click)="onChangeStyle($event, 'bar')">
                <i class="material-icons chart-icon">
                    sort
                </i>
            </a>
            <a class="ml-3 card-icon"
                href="#"
                (click)="deleteWidget($event)">
                <i class="material-icons">
                    delete_outline
                </i>
            </a>
        </div>
    </div>
    <div class="card-body p-0">
        <ng-content></ng-content>
    </div>
</div>
